*.pyc
*.swp
tips.txt
score.txt
unit*.txt

avatar.py
card.py
tipsextract.py
songmodify.py

cardchange
cardsjson
songchange
songsjson
livejson
static/card
static/card300
static/llhead
static/newcard
static/newcard300
static/newhead

.idea
.DS_Store
