.tri-right {
   display: inline-block;
   width: 0;
   height: 0;
   vertical-align: middle;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 0px;
   border-left: 4px dashed;
   margin-right: 4px;
}
.tri-down {
   display: inline-block;
   width: 0;
   height: 0;
   vertical-align: middle;
   border-top: 4px dashed;
   border-bottom: 0px;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
}
.gem-stock-list-group .list-group-item,
.unit-storage .storage-header{
   padding-top: 4px;
   padding-bottom: 4px;
}
.gem-stock-list-group .list-group-item:hover,
.unit-storage .storage-header:hover,
.unit-storage .storage-list .list-group-item:hover{
   background-color: #eee;
}
.gem-stock-list-group .subtype-padding {
   padding-left: 10px;
   padding-right: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
}
.gem-count {
   position: absolute;
   right: 0px;
   color: #fff;
   background-color: #777;
   border-radius: 10px;
   font-weight: 700;
   text-align: center;
   vertical-align: middle;
}
.gem-text {
   display: inline-block;
   width: 80%;
   padding-left: 4px;
}
.subtype-padding .list-group {
   margin-bottom: 0px;
}
.submember-container {
   padding: 2px;
   margin-bottom: 5px;
}
.submember-container .form-group {
   margin: 0px;
}
.submember-container .control-label {
   padding-left: 0px;
   padding-right: 0px;
}
.submember-container .btn {
   margin-top: 0px;
}
.submember-container input.form-control {
   padding-left: 2px;
   padding-right: 2px;
}
.submember-container .form-horizontal {
   width: 50%;
}
.submember-container table {
   width: 100%;
}
.unit-storage .storage-text {
   padding-left: 4px;
}
.unit-storage .storage-body {
   padding-left: 0px;
   padding-right: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
}
.unit-storage .storage-list {
   overflow-y: auto;
   max-height: 400px;
   margin-bottom: 0px;
}
.unit-storage .storage-list .list-group-item {
   padding-left: 0px;
   padding-right: 4px;
   padding-top: 0px;
   padding-bottom: 0px;
}
.unit-storage .storage-list .storage-text {
   padding-top: 4px;
   padding-bottom: 4px;
}
.unit-storage .storage-list .btn-group .btn {
   padding-left: 2px;
   padding-right: 2px;
   padding-top: 4px;
   padding-bottom: 4px;
}
.unit-storage .storage-list .badge {
   margin-top: 4px;
}
.lltooltip {
   border-bottom: 1px dotted black;
}
.lltooltip .tooltiptext {
   visibility: hidden;
   background-color: black;
   color: white;
   text-align: center;
   border-radius: 6px;
   padding: 5px;
   position: absolute;
   z-index: 1;
   margin-top: 16px;
}
.lltooltip:hover .tooltiptext {
   visibility: visible;
}
.llsup {
   vertical-align: super;
   font-size: x-small;
}
.team-table {
   overflow-x: auto;
}
.team-table .form-control {
   padding: 0;
   height: auto;
   color: inherit;
   display: inline;
}

