{% extends "layout.html" %}

{% set title="关于" %}
{% block main %}
<p>
欢迎报BUG和修改意见<br>
作者联系方式：
<ul>
<li>LoveLive国服ID: 953270621</li>
<li>LoveLive日服ID: 222211315（2015.3.2新号）</li>
<li>贴吧ID: <a href='http://tieba.baidu.com/home/main?un=Glaceon31&fr=home' target="_blank">Glaceon31</a></li>
<li>微博：<a href='http://weibo.com/u/2213765792' target="_blank">Glaceon31</a></li>
<li>重要贡献者：statementreply、各种化肥</li>
<li>资源提供者：ieb、ceva</li>
<li>GitHub仓库贡献者：<span id="gh-contrib">（载入中）</span></li>
</ul>
</p>
{% endblock %}
{% block script %}
<script>
function getGitHubContributors(cb) {
    $.getJSON('//api.github.com/repos/Glaceon31/LLHelper/contributors', cb)
}

$(document).ready(function () {
    getGitHubContributors(function (contributors) {
        var contributorsStrings = []
        contributors.forEach(function (contributor) {
            if (contributor.type === 'User')
            contributorsStrings.push('<a href="' + contributor.html_url + '">' + contributor.login + '</a>')
        })
        $('#gh-contrib').html(contributorsStrings.join('、'))
    })
})
</script>
{% endblock %}