<!DOCTYPE html>
<html>
   <head>
      <title>LLhelper</title>
      <meta charset="UTF-8">
      <link href="https://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="https://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
   <style type="text/css">
   </style>
   
  </head>
   <body>

<table border='1'>
<tr class="atwiki_tr_odd atwiki_tr_1" >		<!--0-0--><td style=""></td>
		<!--0-1--><td style="">combo S</td>
		<!--0-2--><td style="">combo A</td>
		<!--0-3--><td style="">combo B</td>
		<!--0-4--><td style="">combo C</td>
		<!--0-5--><td style="">combo -</td></tr>
<tr class="atwiki_tr_even atwiki_tr_2" >		<!--1-0--><td style="">Easy 分数-</td>
		<!--1-1--><td style="">56pt（3.73）</td>
		<!--1-2--><td style="">55pt（3.67）</td>
		<!--1-3--><td style="">54pt（3.60）</td>
		<!--1-4--><td style="">53pt（3.53）</td>
		<!--1-5--><td style="">52pt（3.47）</td></tr>
<tr class="atwiki_tr_even atwiki_tr_2" >		<!--1-0--><td style="">Easy 分数C</td>
		<!--1-1--><td style="">59pt（3.93）</td>
		<!--1-2--><td style="">58pt（3.87）</td>
		<!--1-3--><td style="">57pt（3.80）</td>
		<!--1-4--><td style="">56pt（3.73）</td>
		<!--1-5--><td style="">55pt（3.67）</td></tr>
<tr class="atwiki_tr_even atwiki_tr_2" >		<!--1-0--><td style="">Easy 分数B</td>
		<!--1-1--><td style="">62pt（4.13）</td>
		<!--1-2--><td style="">61pt（4.07）</td>
		<!--1-3--><td style="">60pt（4.00）</td>
		<!--1-4--><td style="">59pt（3.93）</td>
		<!--1-5--><td style="">58pt（3.87）</td></tr>
<tr class="atwiki_tr_even atwiki_tr_2" >		<!--1-0--><td style="">Easy 分数A</td>
		<!--1-1--><td style="">64pt（4.27）</td>
		<!--1-2--><td style="">62pt（4.13）</td>
		<!--1-3--><td style="">61pt（4.07）</td>
		<!--1-4--><td style="">60pt（4.00）</td>
		<!--1-5--><td style="">59pt（3.93）</td></tr>
<tr class="atwiki_tr_even atwiki_tr_2" >		<!--1-0--><td style="">Easy 分数S</td>
		<!--1-1--><td style="">65pt（4.33）</td>
		<!--1-2--><td style="">64pt（4.27）</td>
		<!--1-3--><td style="">62pt（4.13）</td>
		<!--1-4--><td style="">61pt（4.07）</td>
		<!--1-5--><td style="">60pt（4.00）</td></tr>
<tr class="atwiki_tr_even atwiki_tr_6" ><!--5-0-->
<!--5-1-->
<!--5-2-->
<!--5-3-->
<!--5-4-->
		<!--5-5--><td style="" colspan="6" ></td></tr>
<tr class="atwiki_tr_odd atwiki_tr_3" >		<!--2-0--><td style="">Normal 分数-</td>
		<!--2-1--><td style="background-color:LightCyan;">117pt（3.9）</td>
		<!--2-2--><td style="background-color:LightCyan;">115pt（3.83）</td>
		<!--2-3--><td style="background-color:LightCyan;">113pt（3.77）</td>
		<!--2-4--><td style="background-color:LightCyan;">110pt（3.67）</td>
		<!--2-5--><td style="background-color:LightCyan;">108pt（3.60）</td></tr>
<tr class="atwiki_tr_odd atwiki_tr_3" >		<!--2-0--><td style="">Normal 分数C</td>
		<!--2-1--><td style="background-color:LightCyan;">124pt（4.13）</td>
		<!--2-2--><td style="background-color:LightCyan;">121pt（4.03）</td>
		<!--2-3--><td style="background-color:LightCyan;">119pt（3.97）</td>
		<!--2-4--><td style="background-color:LightCyan;">116pt（3.87）</td>
		<!--2-5--><td style="background-color:LightCyan;">114pt（3.80）</td></tr>
<tr class="atwiki_tr_odd atwiki_tr_3" >		<!--2-0--><td style="">Normal 分数B</td>
		<!--2-1--><td style="">130pt（4.33）</td>
		<!--2-2--><td style="background-color:LightCyan;">128pt（4.27）</td>
		<!--2-3--><td style="background-color:LightCyan;">125pt（4.17）</td>
		<!--2-4--><td style="background-color:LightCyan;">123pt（4.10）</td>
		<!--2-5--><td style="background-color:LightCyan;">120pt（4.00）</td></tr>
<tr class="atwiki_tr_even atwiki_tr_4" >		<!--3-0--><td style="">Normal 分数A</td>
		<!--3-1--><td style="">135pt（4.50）</td>
		<!--3-2--><td style="">133pt（4.43）</td>
		<!--3-3--><td style="">130pt（4.33）</td>
		<!--3-4--><td style="background-color:LightCyan;">127pt（4.23）</td>
		<!--3-5--><td style="background-color:LightCyan;">125pt（4.17）</td></tr>
<tr class="atwiki_tr_odd atwiki_tr_5" >		<!--4-0--><td style="">Normal 分数S</td>
		<!--4-1--><td style="">140pt（4.67）</td>
		<!--4-2--><td style="">138pt（4.60）</td>
		<!--4-3--><td style="">135pt（4.50）</td>
		<!--4-4--><td style="">132pt（4.40）</td>
		<!--4-5--><td style="">130pt（4.33）</td></tr>
<tr class="atwiki_tr_even atwiki_tr_6" ><!--5-0-->
<!--5-1-->
<!--5-2-->
<!--5-3-->
<!--5-4-->
		<!--5-5--><td style="" colspan="6" ></td></tr>
<tr class="atwiki_tr_odd atwiki_tr_3" >		<!--2-0--><td style="">Hard 分数-</td>
		<!--2-1--><td style="background-color:LightCyan;">191pt（4.24）</td>
		<!--2-2--><td style="background-color:LightCyan;">185pt（4.11）</td>
		<!--2-3--><td style="background-color:LightCyan;">180pt（4.00）</td>
		<!--2-4--><td style="background-color:LightCyan;">176pt（3.91）</td>
		<!--2-5--><td style="background-color:LightCyan;">173pt（3.84）</td></tr>
<tr class="atwiki_tr_odd atwiki_tr_7" >		<!--6-0--><td style="">Hard 分数C</td>
		<!--6-1--><td style="background-color:LightCyan;">201pt（4.47）</td>
		<!--6-2--><td style="background-color:LightCyan;">196pt（4.36）</td>
		<!--6-3--><td style="background-color:LightCyan;">190pt（4.22）</td>
		<!--6-4--><td style="background-color:LightCyan;">186pt（4.13）</td>
		<!--6-5--><td style="background-color:LightCyan;">182pt（4.04）</td></tr>
<tr class="atwiki_tr_even atwiki_tr_8" >		<!--7-0--><td style="">Hard 分数B</td>
		<!--7-1--><td style="">212pt（4.71）</td>
		<!--7-2--><td style="background-color:LightCyan;">206pt（4.58）</td>
		<!--7-3--><td style="background-color:LightCyan;">200pt（4.44）</td>
		<!--7-4--><td style="background-color:LightCyan;">196pt（4.36）</td>
		<!--7-5--><td style="background-color:LightCyan;">192pt（4.27）</td></tr>
<tr class="atwiki_tr_odd atwiki_tr_9" >		<!--8-0--><td style="">Hard 分数A</td>
		<!--8-1--><td style="">223pt（4.96）</td>
		<!--8-2--><td style="">216pt（4.80）</td>
		<!--8-3--><td style="">210pt（4.67）</td>
		<!--8-4--><td style="background-color:LightCyan;">206pt（4.58）</td>
		<!--8-5--><td style="background-color:LightCyan;">202pt（4.49）</td></tr>
<tr class="atwiki_tr_even atwiki_tr_10" >		<!--9-0--><td style="">Hard 分数S</td>
		<!--9-1--><td style="">233pt（5.18）</td>
		<!--9-2--><td style="">227pt（5.04）</td>
		<!--9-3--><td style="">220pt（4.89）</td>
		<!--9-4--><td style="">216pt（4.80）</td>
		<!--9-5--><td style="">211pt（4.69）</td></tr>
<tr class="atwiki_tr_odd atwiki_tr_11" ><!--10-0-->
<!--10-1-->
<!--10-2-->
<!--10-3-->
<!--10-4-->
		<!--10-5--><td style="" colspan="6" ></td></tr>
<tr class="atwiki_tr_odd atwiki_tr_3" >		<!--2-0--><td style="">Expert 分数-</td>
		<!--2-1--><td style="background-color:LightCyan;">328pt（4.37）</td>
		<!--2-2--><td style="background-color:LightCyan;">319pt（4.25）</td>
		<!--2-3--><td style="background-color:LightCyan;">301pt（4.01）</td>
		<!--2-4--><td style="background-color:LightCyan;">295pt（3.93）</td>
		<!--2-5--><td style="background-color:LightCyan;">289pt（3.85）</td></tr>
<tr class="atwiki_tr_even atwiki_tr_12" >		<!--11-0--><td style="">Expert 分数C</td>
		<!--11-1--><td style="background-color:LightCyan;">346pt（4.61）</td>
		<!--11-2--><td style="background-color:LightCyan;">336pt（4.48）</td>
		<!--11-3--><td style="background-color:LightCyan;">317pt（4.23）</td>
		<!--11-4--><td style="background-color:LightCyan;">311pt（4.15）</td>
		<!--11-5--><td style="background-color:LightCyan;">305pt（4.07）</td></tr>
<tr class="atwiki_tr_odd atwiki_tr_13" >		<!--12-0--><td style="">Expert 分数B</td>
		<!--12-1--><td style="background-color:LightCyan;">364pt（4.85）</td>
		<!--12-2--><td style="background-color:LightCyan;">354pt（4.72）</td>
		<!--12-3--><td style="background-color:LightCyan;">334pt（4.45）</td>
		<!--12-4--><td style="background-color:LightCyan;">327pt（4.36）</td>
		<!--12-5--><td style="background-color:LightCyan;">321pt（4.28）</td></tr>
<tr class="atwiki_tr_even atwiki_tr_14" >		<!--13-0--><td style="">Expert 分数A</td>
		<!--13-1--><td style="background-color:LightCyan;">386pt（5.15）</td>
		<!--13-2--><td style="background-color:LightCyan;">375pt（5.00）</td>
		<!--13-3--><td style="background-color:LightCyan;">354pt（4.72）</td>
		<!--13-4--><td style="background-color:LightCyan;">347pt（4.63）</td>
		<!--13-5--><td style="background-color:LightCyan;">340pt（4.53）</td></tr>
<tr class="atwiki_tr_odd atwiki_tr_15" >		<!--14-0--><td style="">Expert 分数S  </td>
		<!--14-1--><td style="">404pt（5.39）</td>
		<!--14-2--><td style="">393pt（5.24）</td>
		<!--14-3--><td style="background-color:LightCyan;">371pt（4.95）</td>
		<!--14-4--><td style="background-color:LightCyan;">363pt（4.84）</td>
		<!--14-5--><td style="background-color:LightCyan;">356pt（4.77）</td></tr>
</table><br>
*青色部分表示收益不如上一难度SS

</body>
{% include 'footer.html' %}
</html>