<!DOCTYPE html>
<html>
   <head>
      <title>LLhelper</title>
      <meta http-equiv=Content-Type content="text/html;charset=utf-8">
      <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script src="http://lovelive.oss-cn-beijing.aliyuncs.com/Js/ReadPredCN.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}?v=1.01"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailtime.js') }}?v=1.02"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
   <style type="text/css">
   	button {position:relative;height:200px;width:200px;margin-left:100px;margin-top:100px;background-color:#F0F8FF}
   </style>
   <script language="javascript">
   var pttable = new Array()
   pttable[0] = [[52, 53, 54, 55, 56],[55,56,57,58,59],[58,59,60,61,62],[59,60,61,62,64],[60,61,62,64,65]]
   pttable[1] = [[108,110,113,115,117],[114,116,119,121,124],[120,123,125,128,130],[125,127,130,133,135],[130,132,135,138,140]]
   pttable[2] = [[173,176,180,185,191],[182,186,190,196,201],[192,196,200,206,212],[202,206,210,216,223],[211,216,220,227,233]]
   pttable[3] = [[289,295,301,319,328],[305,311,317,336,346],[321,327,334,354,364],[340,347,354,375,386],[356,363,371,393,404]]
   itemcost = [15, 30, 45, 75, 60, 120, 180, 300]
   itemexp = [12, 26, 46, 83, 12, 26, 46, 83]
   expperlp = [2.4, 2.6, 3.1, 3.3]
   var miao = 0
   
   function init(){
   	//alert(document.cookie)
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		if (inputs[i].type == "text")
   			if (getCookie(inputs[i].name+"ac") != "")
   				inputs[i].value = getCookie(inputs[i].name+"ac");
   	}
   	for (var i=0; i<selects.length; i++){
   		if (getCookie(selects[i].name+"ac") != "")
   			selects[i].value = getCookie(selects[i].name+"ac");
   	}
   	document.getElementById('timeleft').style.backgroundColor = '#FFFF80'
   }
   
   function getpt(){
   	diff = document.getElementById("diff").value
   	rank = document.getElementById("rank").value
   	combo = document.getElementById("combo").value
   	if ((rank != -1) && (combo != -1)){
   		if (diff >= 4)
   			document.getElementById("averagept").value = pttable[diff-4][rank][combo]*4
   		else
   			document.getElementById("averagept").value = pttable[diff][rank][combo]
   	} 
   }
   
   function clearchoice(){
   	document.getElementById("rank").value = -1
   	document.getElementById("combo").value = -1
   }
   
   function check(){
   	var inputs = document.getElementsByTagName("input");
   	for (i in inputs){
   		if (inputs[i].type != "text")
   			continue
   		if (!isNotNegative(inputs[i].value)){
   			alert("请输入非负数");
   			return false;
   		}
   	}
   	if (parseInt(document.getElementById("target").value) > 2000000){
   		alert("不可能达到2百万点以上")
   		return false;
   	}
   	if (parseInt(document.getElementById("lpwaste").value) > 240){
   		alert("一天几小时来着？")
   		return false;
   	}
   	saveToCookie();
   	calcu();
   	document.getElementById("result").scrollIntoView()
   	return true;
   }
   
   function clearall(){
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		setCookie(inputs[i].name+"ac", inputs[i].value, -1);
   	}
   	for (var i=0; i<selects.length; i++){
   		setCookie(selects[i].name+"ac", selects[i].value, -1);
   	}
   	window.location.href="/llactivity"
   }
   
   function calcu(){
   	infolist = ['timeleft','lpwaste','lpnormal','diff','averagept','target','current','items','lp','lvl','exp','expf']
   	remlist = ['current','items','lp','lvl','exp','acplaytime','extraplaytime','extraacplaytime']
   	for (i in infolist)
   		eval(infolist[i]+' = parseFloat(document.getElementById(infolist[i]).value)')
   	playtime = 0
   	extraplaytime = 0
   	acplaytime = 0
   	extraacplaytime = 0
   	regen = 0
   	loveca = 0
   	lvlupwarning = 0
   	safelp = 2
   	lp += parseInt(timeleft*10)-lpwaste*parseInt((timeleft-14)/24+1)-safelp
   	while ((current < target) || (lp >= 4) || (items >= 15) || (exp >= expbylvl(lvl, expf))){
   		while ((lp >= lpnormal) || (items >= itemcost[diff]) || (exp >= expbylvl(lvl, expf))){
   			//can play chosen normal map
   			if (lp >= lpnormal){
   				play = parseInt(lp/lpnormal)
   				playtime += play
   				lp -= play*lpnormal
   				exp += expbylpmin(lpnormal)*play
   				items += itembylp(lpnormal)*play
   				current += itembylp(lpnormal)*play
   			}
   			//clear items
   			if (items >= itemcost[diff]){
   				acplay = parseInt(items/itemcost[diff])
   				acplaytime += acplay
   				exp += itemexp[diff]*acplay
   				items -= itemcost[diff]*acplay
   				current += averagept*acplay
   			}
   			//lvl up
   			while (exp >= expbylvl(lvl, expf)){
   				//if (lvlupwarning == 1)
   				//	lvlupwarning = 2
   				exp -= expbylvl(lvl, expf)
   				lvl += 1
   				lp += lpbylvl(lvl)-1+regen
   				regen = 1-regen
   			}
   		}
   		//deal with remainings
   		for (i in remlist)
   			eval('tmp'+remlist[i]+' = '+remlist[i])
   		if (lp >= 4){
   			exp += expbylpmax(lp)
   			items += itembylp(lp) 
   			current += itembylp(lp)
   			if (lp > 15)
   				extraplaytime += 2
   			else
   				extraplaytime += 1
   			lp = 0
   		}
   		if (exp >= expbylvl(lvl, expf)){
   			continue
   		}
   		if (items>= itemcost[diff]){
   			acplay = parseInt(items/itemcost[diff])
   			acplaytime += acplay
   			exp += itemexp[diff]*acplay
   			items -= itemcost[diff]*acplay
   			current += averagept*acplay
   		}
   		if (items >= 15){
   			for (i = 3; i >= 0; i--){
   				if (items >= itemcost[i]){
   					extraacplaytime += 1
   					exp += itemexp[i]
   					items -= itemcost[i]
   					current += pttable[i][4][4]
   					i++
   				}
   			}
   		}
   		if (exp >= expbylvl(lvl, expf)){
   			continue
   		}
   		//if not enough
   		if (current < target){
   			for (i in remlist)
   				eval(remlist[i]+' = tmp'+remlist[i])
   			loveca += 1
   			lp += lpbylvl(lvl)-1+regen
   			regen = 1-regen
   			lvlupwarning = 0
   		}
   	}
   	expneed = expbylvl(lvl, expf)
   	returnlist = ['loveca','playtime','extraplaytime','acplaytime','extraacplaytime','lvl','exp','expneed','current','totalhour','totalminute','extrahour','extraminute','warning']
   	totalhour = parseInt((playtime+acplaytime)*2.5/60)
   	totalminute = parseInt((playtime+acplaytime)*2.5)-60*totalhour
   	extrahour = parseInt((extraplaytime+extraacplaytime)*2.5/60)
   	extraminute = parseInt((extraplaytime+extraacplaytime)*2.5)-60*extrahour
   	warning = ""
   	if (exp-4.5*lpbylvl(lvl) < 50)
   		warning = "最后一次升级的时间离活动结束时间较近，请提前规划好时间"
   	for (i in returnlist)
   		eval('document.getElementById("r"+returnlist[i]).innerHTML = '+returnlist[i])
   	document.getElementById("result").style.display = ""
   }
   
   function saveToCookie(){
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		if (inputs[i].type == "text")
   			setCookie(inputs[i].name+"ac", inputs[i].value, 1);
   	}
   	for (var i=0; i<selects.length; i++){
   		setCookie(selects[i].name+"ac", selects[i].value, 1);
   	}
   }
   
    function showprediction(){
   	document.getElementById('prediction').innerHTML = '一档 25000pt(+5050)；二档 19700pt(-550)（11月9日22:00更新）'
   }
   
   function hideprediction(){
   	document.getElementById('prediction').innerHTML = 'LLhelper十一月猫娘凛活动预测线'
   }
   </script>
  </head>
   <body onload="init()">

<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="/">LLhelper</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li><a href="/">应用</a></li>
         <li class="active"><a href=#>活动助手</a></li>
         <li><a href="/about">关于</a></li>
      </ul>
   </div>
</nav>

<pre>
使用方法：
1、输入剩余时间 或 点击按钮选择服务器来自动计算剩余时间
2、填写剩下所有文本框和选择框，其中活动图平均pt可以通过填写rank与combo评价自动填入，也可以参考pt表手动填入
3、点击Calculate
4、将鼠标移到国服预测线字样上以看线（移动设备点击字样），仅供参考。
</pre>

<input type="submit" id="cntime" name="cntime" value="国服活动" onclick="cntime()">
<input type="submit" id="jptime" name="jptime" value="日服活动" onclick="jptime()">
<input type="submit" name="diytime" value="按输入时间计算" onclick="diytime()">
<input type="submit" id="clear" name="clear" value="清空输入" onclick="clearall()">
<br>
活动结束时间：<input id="endday" type="text" name="endday" value="0" autocomplete="off" style="width:30px">日<input id="endhour" type="text" name="endhour" value="0" autocomplete="off" style="width:30px">时<br>
剩余时间 :<input id="timeleft" type="text" name="timeleft" autocomplete="off" onchange="document.getElementById('timeleft').style.backgroundColor = '#FFFFFF'">小时<br>
每天浪费LP :<input id="lpwaste" type="text" name="lpwaste" value="0" autocomplete="off" >（因为睡觉等原因浪费的LP数）<br>
<br>
普通图选择 :<select id="lpnormal" name="lpnormal">
	<option value=5>5LP</option>
	<option value=10>10LP</option>
	<option value=15>15LP</option>
	<option value=25 SELECTED>25LP</option>
	</select><br>
活动图难度 :<select id="diff" name="diff" onchange="getpt()">
	<option value=0>Easy</option>
	<option value=1>Normal</option>
	<option value=2>Hard</option>
	<option value=3 SELECTED>Expert</option>
	<option value=4>4倍Easy</option>
	<option value=5>4倍Normal</option>
	<option value=6>4倍Hard</option>
	<option value=7>4倍Expert</option>
	</select><br>
活动曲rank（可选）：<select id="rank" name="rank" onchange="getpt()">
	<option value=-1></option>
	<option value=0>-</option>
	<option value=1>C</option>
	<option value=2>B</option>
	<option value=3>A</option>
	<option value=4 SELECTED>S</option>
	</select><br>
活动曲combo（可选）:<select id="combo" name="rank" onchange="getpt()">
	<option value=-1></option>
	<option value=0>-</option>
	<option value=1>C</option>
	<option value=2>B</option>
	<option value=3 SELECTED>A</option>
	<option value=4>S</option>
	</select><br>
活动图平均pt :<input type="text" id="averagept" name="averagept" value="393" autocomplete="off" onchange="clearchoice()"> 
<a href="/activitypt" target="_blank">获得pt表</a>
<br>
<br>
目标点数 :<input type="text" id="target" name="target" autocomplete="off" >  <a href="http://tieba.baidu.com/p/4197515392" target="_blank">LLhelper国服12月妖精希活动预测线</a><br>
已有点数 :<input type="text" id="current" name="current" autocomplete="off" ><br>
剩余道具数 :<input type="text" id="items" name="items" autocomplete="off" ><br>
<br>
当前剩余LP :<input type="text" id="lp" name="lp" autocomplete="off" onchange='checkinfo()'><nospan id='lpwarning' style='display:none;color:red'>LP高于当前等级上限</nospan><br>
当前等级 :<input type="text" id="lvl" name="lvl" autocomplete="off" onchange='checkinfo()'><br>
当前exp:<input type="text" id="exp" name="exp" autocomplete="off" onchange='checkinfo()'><nospan id='expwarning' style='display:none;color:red'>exp高于当前等级上限</nospan><br>
经验公式 :<select id="expf" name="expf" onchange='checkinfo()'>
	<option value=0>正常</option>
	<option value=1>100级以下减半（日服）</option>
	</select>(half指100级以下升级所需经验值减半)<br>
<input type="submit" id="submit" name="submit" value="Calculate" onclick="check()"> <br>

<div id="result" style="display:none">
<pre>
注意：
1、加号后面的次数/时间为因为活动途中方便升级和活动结束前清理最后剩下的LP/道具而打的与指定的难度不同的图的次数，可能会因为玩家游戏策略的不同而震荡，在活动接近结束的时候会收敛，仅供参考
2、如果最终点数和目标点数过于接近，请考虑多磕一心。
</pre>
<div style="float:left">
需要心数：<nospan id="rloveca"></nospan>心<br>
普通图次数：<nospan id="rplaytime"></nospan>次 + <nospan id="rextraplaytime"></nospan>次<br>
活动图次数：<nospan id="racplaytime"></nospan>次 + <nospan id="rextraacplaytime"></nospan>次<br>
总游戏时间：<nospan id="rtotalhour"></nospan>小时<nospan id="rtotalminute"></nospan>分 + <nospan id="rextrahour"></nospan>小时<nospan id="rextraminute"></nospan>分（一首按两分半计算）<br>
最终等级：<nospan id="rlvl"></nospan><br>
最终exp：<nospan id="rexp"></nospan>/<nospan id="rexpneed"></nospan><br>
最终点数：<nospan id="rcurrent"></nospan><br>
<nospan id="rwarning" style="color:red"></nospan>
</div>

</div>
</body>
</html>