{% extends "layout.html" %}

{% set category="活动算心" %}
{% set category_link="/#event-expense" %}
{% set title="活动助手" %}

{% set need_item = True %}

{% block additional_header %}
   <script src="http://lovelive.oss-cn-beijing.aliyuncs.com/Js/ReadPredCN.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}?v=1.01"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailtime.js') }}?v=1.02"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
{% endblock %}

{% block script %}
   <script language="javascript">
   var pttable = new Array()
   var oldpttable = new Array()
   oldpttable[0] = [[52, 53, 54, 55, 56],[55,56,57,58,59],[58,59,60,61,62],[59,60,61,62,64],[60,61,62,64,65]]
   oldpttable[1] = [[108,110,113,115,117],[114,116,119,121,124],[120,123,125,128,130],[125,127,130,133,135],[130,132,135,138,140]]
   oldpttable[2] = [[173,176,180,185,191],[182,186,190,196,201],[192,196,200,206,212],[202,206,210,216,223],[211,216,220,227,233]]
   oldpttable[3] = [[289,295,301,319,328],[305,311,317,336,346],[321,327,334,354,364],[340,347,354,375,386],[356,363,371,393,404]]
   var newpttable = new Array()
   newpttable[0] = [[57,58,59,60,61],[60,61,62,63,64],[63,64,65,66,68],[64,65,66,68,70],[66,67,69,70,71]]
   newpttable[1] = [[114,117,120,122,124],[121,123,126,128,131],[125,129,132,135,137],[133,135,137,140,143],[137,140,143,145,148]]
   newpttable[2] = [[194,197,202,207,214],[204,209,213,219,226],[215,220,224,231,237],[226,230,235,242,249],[237,241,246,254,261]]
   newpttable[3] = [[403,413,421,446,459],[426,435,444,470,484],[448,458,467,495,509],[475,485,495,525,540],[498,508,518,549,565]]
   pttable[0] = oldpttable
   pttable[1] = newpttable
   itemcost = [15, 30, 45, 75, 60, 120, 180, 300]
   itemexp = [12, 26, 46, 83, 12, 26, 46, 83]
   expperlp = [2.4, 2.6, 3.1, 3.3]
   var miao = 0
   
   function init(){
   	//alert(document.cookie)
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		if (inputs[i].type == "text")
   			if (getCookie(inputs[i].name+"ac") != "")
   				inputs[i].value = getCookie(inputs[i].name+"ac");
   	}
   	for (var i=0; i<selects.length; i++){
   		if (getCookie(selects[i].name+"ac") != "")
   			selects[i].value = getCookie(selects[i].name+"ac");
   	}
   	document.getElementById('timeleft').style.backgroundColor = '#FFFF80'
   }
   
   function getpt(){
      afteraquors = document.getElementById("afteraquors").value
   	diff = document.getElementById("diff").value
   	rank = document.getElementById("rank").value
   	combo = document.getElementById("combo").value
   	if ((rank != -1) && (combo != -1)){
   		if (diff >= 4)
   			document.getElementById("averagept").value = pttable[afteraquors][diff-4][rank][combo]*4
   		else
   			document.getElementById("averagept").value = pttable[afteraquors][diff][rank][combo]
   	} 
   }
   
   function clearchoice(){
   	document.getElementById("rank").value = -1
   	document.getElementById("combo").value = -1
   }
   
   function check(){
   	var inputs = document.getElementsByTagName("input");
   	for (i in inputs){
   		if (inputs[i].type != "text")
   			continue
   		if (!isNotNegative(inputs[i].value)){
   			alert("请输入非负数");
   			return false;
   		}
   	}
   	if (parseInt(document.getElementById("target").value) > 2000000){
   		alert("不可能达到2百万点以上")
   		return false;
   	}
   	if (parseInt(document.getElementById("lpwaste").value) > 240){
   		alert("一天几小时来着？")
   		return false;
   	}
   	saveToCookie();
   	calcu();
	document.getElementById("result").scrollIntoView() 
   	return true;
   }
   
   function clearall(){
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		setCookie(inputs[i].name+"ac", inputs[i].value, -1);
   	}
   	for (var i=0; i<selects.length; i++){
   		setCookie(selects[i].name+"ac", selects[i].value, -1);
   	}
   	window.location.href="/llactivity"
   }
   
   function calcu(){
   	infolist = ['timeleft','lpwaste','lpnormal','diff','averagept','target','current','items','lp','lvl','exp','expf']
   	remlist = ['current','items','lp','lvl','exp','acplaytime','extraplaytime','extraacplaytime']
   	for (i in infolist)
   		eval(infolist[i]+' = parseFloat(document.getElementById(infolist[i]).value)')
   	playtime = 0
   	extraplaytime = 0
   	acplaytime = 0
   	extraacplaytime = 0
   	loveca = 0
   	lvlupwarning = 0
   	safelp = 2
   	lp += parseInt(timeleft*10)-lpwaste*parseInt((timeleft-14)/24+1)-safelp
   	while ((current < target) || (lp >= 4) || (items >= 15) || (exp >= expbylvl(lvl, expf))){
   		while ((lp >= lpnormal) || (items >= itemcost[diff]) || (exp >= expbylvl(lvl, expf))){
   			//can play chosen normal map
   			if (lp >= lpnormal){
   				play = parseInt(lp/lpnormal)
   				playtime += play
   				lp -= play*lpnormal
   				exp += expbylpmin(lpnormal)*play
   				items += itembylp(lpnormal)*play
   				current += itembylp(lpnormal)*play
   			}
   			//clear items
   			if (items >= itemcost[diff]){
   				acplay = parseInt(items/itemcost[diff])
   				acplaytime += acplay
   				exp += itemexp[diff]*acplay
   				items -= itemcost[diff]*acplay
   				current += averagept*acplay
   			}
   			//lvl up
   			while (exp >= expbylvl(lvl, expf)){
   				//if (lvlupwarning == 1)
   				//	lvlupwarning = 2
   				exp -= expbylvl(lvl, expf)
   				lvl += 1
   				lp += lpbylvl(lvl)
   			}
   		}
   		//deal with remainings
   		for (i in remlist)
   			eval('tmp'+remlist[i]+' = '+remlist[i])
         while ((lp >= 4) || (items >= 15) || (exp >= expbylvl(lvl, expf))){
         while ((lp >= lpnormal) || (items >= itemcost[diff]) || (exp >= expbylvl(lvl, expf))){
            //can play chosen normal map
            if (lp >= lpnormal){
               play = parseInt(lp/lpnormal)
               playtime += play
               lp -= play*lpnormal
               exp += expbylpmin(lpnormal)*play
               items += itembylp(lpnormal)*play
               current += itembylp(lpnormal)*play
            }
            //clear items
            if (items >= itemcost[diff]){
               acplay = parseInt(items/itemcost[diff])
               acplaytime += acplay
               exp += itemexp[diff]*acplay
               items -= itemcost[diff]*acplay
               current += averagept*acplay
            }
            //lvl up
            while (exp >= expbylvl(lvl, expf)){
               //if (lvlupwarning == 1)
               // lvlupwarning = 2
               exp -= expbylvl(lvl, expf)
               lvl += 1
               lp += lpbylvl(lvl)
            }
         }
   		if (lp >= 4){
   			exp += expbylpmax(lp)
   			items += itembylp(lp) 
   			current += itembylp(lp)
   			if (lp > 15)
   				extraplaytime += 2
   			else
   				extraplaytime += 1
   			lp = 0
   		}
         
   		if (exp >= expbylvl(lvl, expf)){
   			continue
   		}
   		if (items>= itemcost[diff]){
   			acplay = parseInt(items/itemcost[diff])
   			acplaytime += acplay
   			exp += itemexp[diff]*acplay
   			items -= itemcost[diff]*acplay
   			current += averagept*acplay
   		}
   		if (items >= 15){
   			for (i = 3; i >= 0; i--){
   				if (items >= itemcost[i]){
   					extraacplaytime += 1
   					exp += itemexp[i]
   					items -= itemcost[i]
   					current += pttable[document.getElementById('afteraquors').value][i][4][4]
   					i++
   				}
   			}
   		}
   		if (exp >= expbylvl(lvl, expf)){
   			continue
   		}
      }

   		//if not enough
   		if (current < target){
   			for (i in remlist)
   				eval(remlist[i]+' = tmp'+remlist[i])
   			loveca += 1
   			lp += lpbylvl(lvl)
   			lvlupwarning = 0
   		}
   	}
      //powered by Glaceon
   	expneed = expbylvl(lvl, expf)
   	returnlist = ['loveca','playtime','extraplaytime','acplaytime','extraacplaytime','lvl','exp','expneed','current','totalhour','totalminute','extrahour','extraminute','warning']
   	totalhour = parseInt((playtime+acplaytime)*2.5/60)
   	totalminute = parseInt((playtime+acplaytime)*2.5)-60*totalhour
   	extrahour = parseInt((extraplaytime+extraacplaytime)*2.5/60)
   	extraminute = parseInt((extraplaytime+extraacplaytime)*2.5)-60*extrahour
   	warning = ""
   	if (exp-4.5*lpbylvl(lvl) < 50)
   		warning = "最后一次升级的时间离活动结束时间较近，请提前规划好时间"
   	for (i in returnlist)
   		eval('document.getElementById("r"+returnlist[i]).innerHTML = '+returnlist[i])
   	document.getElementById("result").style.display = ""
   }
   
   function saveToCookie(){
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		if (inputs[i].type == "text")
   			setCookie(inputs[i].name+"ac", inputs[i].value, 1);
   	}
   	for (var i=0; i<selects.length; i++){
   		setCookie(selects[i].name+"ac", selects[i].value, 1);
   	}
   }
   
    function showprediction(){
   	document.getElementById('prediction').innerHTML = '一档 25000pt(+5050)；二档 19700pt(-550)（11月9日22:00更新）'
   }
   
   function hideprediction(){
   	document.getElementById('prediction').innerHTML = 'LLhelper十一月猫娘凛活动预测线'
   }
   </script>
{% endblock %}

{% block body_onload %}
   <body onload="init()" lang="zh-Hans">
{% endblock %}

{% block front_notice %}
<h4 class="alert-heading">使用方法</h4>
<ol>
	<li>输入剩余时间 或 点击按钮选择服务器来自动计算剩余时间</li>
	<li>填写剩下所有文本框和选择框，其中活动图平均pt可以通过填写rank与combo评价自动填入，也可以参考pt表手动填入</li>
	<li>点击Calculate</li>
</ol>
{% endblock %}

{% block main %}
<div class="row">
{% include "components/event-time.html" %}

<div class="col-xs-12 col-md-6">
	<div class="panel panel-default">
        <div class="panel-heading">活动数据</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="control-label">普通图选择</label>
				<select class="form-control" id="lpnormal" name="lpnormal">
						<option value=5>5 LP</option>
						<option value=10>10 LP</option>
						<option value=15>15 LP</option>
						<option value=25 SELECTED>25 LP</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">活动图难度</label>
				<select class="form-control" id="diff" name="diff" onchange="getpt()">
					<option value=0>Easy</option>
					<option value=1>Normal</option>
					<option value=2>Hard</option>
					<option value=3 SELECTED>Expert</option>
					<option value=4>4 倍 Easy</option>
					<option value=5>4 倍 Normal</option>
					<option value=6>4 倍 Hard</option>
					<option value=7>4 倍 Expert</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">活动</label>
				<select class="form-control" id="afteraquors" name="afteraquors" onchange="getpt()">
					<option value=0>旧 pt（SS 404）</option>
					<option value=1 SELECTED>新 pt（SS 565）</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">活动曲rank（可选）</label>
				<select class="form-control" id="rank" name="rank" onchange="getpt()">
					<option value=-1></option>
					<option value=0>-</option>
					<option value=1>C</option>
					<option value=2>B</option>
					<option value=3>A</option>
					<option value=4 SELECTED>S</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">活动曲combo（可选）</label>
				<select class="form-control" id="combo" name="rank" onchange="getpt()">
					<option value=-1></option>
					<option value=0>-</option>
					<option value=1>C</option>
					<option value=2>B</option>
					<option value=3 SELECTED>A</option>
					<option value=4>S</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">活动图平均pt</label>
				<input class="form-control" type="text" id="averagept" name="averagept" value="549" autocomplete="off" onchange="clearchoice()"> 
			</div>
		</div>
	</div>
</div>

{% include "components/event-current.html" %}
{% include "components/event-points.html" %}
{% include "components/event-calc-result.html" %}
</div>
<!--<a href="/activitypt" target="_blank">获得pt表</a>-->
{% include "components/event-calc-button.html" %}

{% endblock %}

{% block back_notice %}
<h4 class="alert-heading">注意</h4>
<ol>
	<li>加号后面的次数/时间为因为活动途中方便升级和活动结束前清理最后剩下的LP/道具而打的与指定的难度不同的图的次数，可能会因为玩家游戏策略的不同而震荡，在活动接近结束的时候会收敛，仅供参考</li>
	<li>如果最终点数和目标点数过于接近，请考虑多磕一心。</li>
</ol>
{% endblock %}