{% extends "layout.html" %}

{% set category="活动算心" %}
{% set category_link="/#event-expense" %}
{% set title="活动助手" %}

{% set need_item = True %}

{% block additional_header %}
   <script src="http://lovelive.oss-cn-beijing.aliyuncs.com/Js/ReadPredCN.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}?v=1.01"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailtime.js') }}?v=1.02"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='lldata.js') }}"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
{% endblock %}

{% block script %}
   <script language="javascript">
   var pttable = new Array()
   var oldpttable = new Array()
   oldpttable[0] = [[52, 53, 54, 55, 56],[55,56,57,58,59],[58,59,60,61,62],[59,60,61,62,64],[60,61,62,64,65]]
   oldpttable[1] = [[108,110,113,115,117],[114,116,119,121,124],[120,123,125,128,130],[125,127,130,133,135],[130,132,135,138,140]]
   oldpttable[2] = [[173,176,180,185,191],[182,186,190,196,201],[192,196,200,206,212],[202,206,210,216,223],[211,216,220,227,233]]
   oldpttable[3] = [[289,295,301,319,328],[305,311,317,336,346],[321,327,334,354,364],[340,347,354,375,386],[356,363,371,393,404]]
   var newpttable = new Array()
   newpttable[0] = [[57,58,59,60,61],[60,61,62,63,64],[63,64,65,66,68],[64,65,66,68,70],[66,67,69,70,71]]
   newpttable[1] = [[114,117,120,122,124],[121,123,126,128,131],[125,129,132,135,137],[133,135,137,140,143],[137,140,143,145,148]]
   newpttable[2] = [[194,197,202,207,214],[204,209,213,219,226],[215,220,224,231,237],[226,230,235,242,249],[237,241,246,254,261]]
   newpttable[3] = [[403,413,421,446,459],[426,435,444,470,484],[448,458,467,495,509],[475,485,495,525,540],[498,508,518,549,565]]
   pttable[0] = oldpttable
   pttable[1] = newpttable
   itemcost = [15, 30, 45, 75]
   itemexp = [12, 26, 46, 83]
   expperlp = [2.4, 2.6, 3.1, 3.3]
   var inputlist = {
      'timeleft': '剩余时间',
      'lpwaste': '每天浪费LP',
      'lpnormal': '普通图',
      'normalmultiple': '普通图倍数',
      'diff': '活动图',
      'eventmultiple': '活动图倍数',
      'averagept': '活动图平均pt',
      'target': '目标点数',
      'current': '已有点数',
      'items': '剩余道具数',
      'lp': '当前剩余LP',
      'lvl': '当前等级',
      'exp': '当前EXP',
      'expf': '经验公式',
      'afteraquors': '版本',
      'specialevent': '限时活动'
   };
   var comp_specialevent;
   var comp_lpnormal;

   function init(){
   	//alert(document.cookie)
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		if (inputs[i].type == "text")
   			if (getCookie(inputs[i].name+"ac") != "")
   				inputs[i].value = getCookie(inputs[i].name+"ac");
   	}
   	for (var i=0; i<selects.length; i++){
   		if (getCookie(selects[i].name+"ac") != "")
   			selects[i].value = getCookie(selects[i].name+"ac");
   	}
   	document.getElementById('timeleft').style.backgroundColor = '#FFFF80'
      var lpnormal_options = [
         [
            {'text': '5 LP', 'value': 5},
            {'text': '10 LP', 'value': 10},
            {'text': '15 LP', 'value': 15},
            {'text': '25 LP', 'value': 25}
         ],
         [
            {'text': '3 LP', 'value': 5},
            {'text': '7 LP', 'value': 10},
            {'text': '12 LP', 'value': 15},
            {'text': '20 LP', 'value': 25}
         ],
      ];
      comp_specialevent = new LLSelectComponent('specialevent');
      comp_lpnormal = new LLSelectComponent('lpnormal');
      comp_specialevent.onValueChange = function (v) {
         comp_lpnormal.setOptions(lpnormal_options[v]);
      };
      comp_specialevent.onValueChange(comp_specialevent.get());
   }
   
   function getpt(){
      var afteraquors = document.getElementById("afteraquors").value
      var diff = document.getElementById("diff").value
      var rank = document.getElementById("rank").value
      var combo = document.getElementById("combo").value
      var eventmultiple = document.getElementById('eventmultiple').value;
      if ((rank != -1) && (combo != -1)){
         if (eventmultiple == 5)
            document.getElementById("averagept").value = pttable[afteraquors][diff][rank][combo]*4; // old *4
         else
            document.getElementById("averagept").value = pttable[afteraquors][diff][rank][combo]*eventmultiple;
      }
   }

   function clearchoice(){
   	document.getElementById("rank").value = -1
   	document.getElementById("combo").value = -1
   }
   
   function showCheckWarning(message, inputid) {
      var checkwarning = document.getElementById('checkwarning');
      checkwarning.innerHTML = message;
      checkwarning.style.display = '';
      checkwarning.href = 'javascript:document.getElementById("' + inputid + '").scrollIntoView();';
   }
   function hideCheckWarning() {
      var checkwarning = document.getElementById('checkwarning');
      checkwarning.style.display = 'none';
   }
   function check(){
      var inputs = document.getElementsByTagName("input");
      var hasError = false;
      for (var i in inputs){
         if (inputs[i].type != "text")
            continue
         var value = inputs[i].value;
         var inputid = inputs[i].id;
         var message = '';
         if (!isNotNegative(value)) {
            message = inputlist[inputid] + "请输入非负数";
         } else if (inputid == 'target' && parseInt(value) > 8000000) {
            message = "不可能达到8百万点以上";
         } else if (inputid == 'lpwaste' && parseInt(value) > 240) {
            message = "一天几小时来着？";
         }
         if (message != '') {
            inputs[i].style.backgroundColor = '#fee';
            if (!hasError) {
               showCheckWarning(message, inputid);
               hasError = true;
            }
         } else {
            inputs[i].style.backgroundColor = '';
         }
      }
      if (hasError) return false;
      hideCheckWarning();

   	saveToCookie();
   	calcu();
	document.getElementById("result").scrollIntoView() 
   	return true;
   }
   
   function clearall(){
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		setCookie(inputs[i].name+"ac", inputs[i].value, -1);
   	}
   	for (var i=0; i<selects.length; i++){
   		setCookie(selects[i].name+"ac", selects[i].value, -1);
   	}
   	window.location.href="/llactivity"
   }

   var LLEventMarathon = (function() {
      var EVENT_LP_DISCOUNT = []
      // 日服限时活动(2018.4.20-4.30): easy=3 lp, normal=7 lp, hard=12 lp, expert/master=20 lp
      EVENT_LP_DISCOUNT[5] = 3;
      EVENT_LP_DISCOUNT[10] = 7;
      EVENT_LP_DISCOUNT[15] = 12;
      EVENT_LP_DISCOUNT[25] = 20;
      var cls = function (v) {
         v = v || {};
         this.level = v.level || 1;
         this.exp = v.exp || 0;
         this.lp = v.lp || 0;
         this.loveca = v.loveca || 0;
         this.playtime = v.playtime || 0;
         this.playtime_extra = v.playtime_extra || 0;
         this.playtime_event = v.playtime_event || 0;
         this.playtime_event_extra = v.playtime_event_extra || 0;
         this.item = v.item || 0;
         this.pt = v.pt || 0;

         this.halfexp100 = (v.halfexp100 === undefined ? 1 : v.halfexp100);
         this.pttable_id = (v.pttable_id === undefined ? 1 : v.pttable_id);
      };
      var proto = cls.prototype;
      proto.gainExp = function (gain) {
         this.exp += gain;
         var needed = expbylvl(this.level, this.halfexp100);
         while (this.exp > needed) {
            this.exp -= needed;
            this.level += 1;
            this.lp += lpbylvl(this.level);
            needed = expbylvl(this.level, this.halfexp100);
         }
      };
      proto.playNormal = function (cost, multiple, specialevent, count_extra) {
         var real_cost = (specialevent == 1 ? EVENT_LP_DISCOUNT[cost] : cost);
         var times = parseInt(this.lp / (real_cost * multiple));
         if (times == 0) return 0;
         if (count_extra) {
            this.playtime_extra += times;
         } else {
            this.playtime += times;
         }
         this.lp -= times * real_cost * multiple;
         this.gainExp(expbylpmin(cost) * times * multiple);

         var item = itembylp(cost) * times * multiple
         this.item += item;
         this.pt += item;
         return times;
      };
      proto.playNormalRemaining = function (max_multiple, specialevent) {
         // we only have 5, 10, 15, 25 lp map after version...?
         // and have multiple for normal map after version...?
         var costs = [5, 10, 15, 25];
         var ret = 0;
         for (var i = 3; i >= 0; i--) {
            for (var j = max_multiple; j >= 1; j--) {
               ret = this.playNormal(costs[i], j, specialevent, true);
               if (ret) return ret;
            }
         }
         return ret;
      };
      proto.playEvent = function (diff, multiple, averagept, count_extra) {
         var m_itemcost = itemcost[diff]*(multiple == 5 ? 4 : multiple);
         var m_itemexp = itemexp[diff]*(multiple == 5 ? 1 : multiple);
         var times = parseInt(this.item / m_itemcost);
         if (times == 0) return 0;
         if (count_extra) {
            this.playtime_event_extra += times;
         } else {
            this.playtime_event += times;
         }
         this.item -= m_itemcost * times;
         this.gainExp(m_itemexp * times);

         this.pt += averagept * times;
         return times;
      };
      proto.playEventRemaining = function (max_multiple) {
         // we have 1-4 multiple for event map after version...?
         var ret = 0;
         for (var i = 3; i >= 0; i--) {
            for (var j = max_multiple; j >= 1; j--) {
               ret = this.playEvent(i, j, pttable[this.pttable_id][i][4][4]*j, true);
               if (ret) return ret;
            }
         }
         return ret;
      };
      proto.useLoveca = function () {
         this.loveca += 1;
         this.lp += lpbylvl(this.level);
      };
      return cls;
   })();

   function calcu(){
      var inputdata = {};
      for (var id in inputlist) {
         var value = document.getElementById(id).value;
         inputdata[id] = parseFloat(value);
      }
      inputdata.level = inputdata.lvl;
      inputdata.item = inputdata.items;
      inputdata.pt = inputdata.current;
      inputdata.halfexp100 = parseInt(inputdata.expf);
      inputdata.pttable_id = inputdata.afteraquors;

      var safelp = 2;
      var currentState = new LLEventMarathon(inputdata);
      currentState.lp += parseInt(inputdata.timeleft*10)-inputdata.lpwaste*parseInt((inputdata.timeleft-14)/24+1)-safelp;
      //powered by Glaceon
      // refactor by ben1222
      while (currentState.pt < inputdata.target) {
         while (currentState.playNormal(inputdata.lpnormal, inputdata.normalmultiple, inputdata.specialevent) ||
            currentState.playEvent(inputdata.diff, inputdata.eventmultiple, inputdata.averagept));
         // try remaining
         var remState = new LLEventMarathon(currentState);
         while (1) {
            while (remState.playNormal(inputdata.lpnormal, inputdata.normalmultiple, inputdata.specialevent) ||
               remState.playEvent(inputdata.diff, inputdata.eventmultiple, inputdata.averagept));
            if (remState.playNormalRemaining(inputdata.normalmultiple, inputdata.specialevent)) continue;
            if (remState.playEventRemaining(inputdata.eventmultiple == 5 ? 1 : inputdata.eventmultiple)) continue;
            break;
         }
         if (remState.pt >= inputdata.target) {
            currentState = remState;
            break;
         } else {
            currentState.useLoveca();
         }
      }

      var minutes = parseInt((currentState.playtime+currentState.playtime_event)*2.5);
      var minutes_extra = parseInt((currentState.playtime_extra+currentState.playtime_event_extra)*2.5);
      var outputdata = {
         'loveca': currentState.loveca,
         'playtime': currentState.playtime,
         'extraplaytime': currentState.playtime_extra,
         'acplaytime': currentState.playtime_event,
         'extraacplaytime': currentState.playtime_event_extra,
         'lvl': currentState.level,
         'exp': currentState.exp,
         'expneed': expbylvl(currentState.level, currentState.halfexp100),
         'current': currentState.pt,
         'totalhour': parseInt(minutes/60),
         'totalminute': minutes%60,
         'extrahour': parseInt(minutes_extra/60),
         'extraminute': minutes_extra%60,
         'warning': ((currentState.exp - 4.5*lpbylvl(currentState.level) < 50) ? "最后一次升级的时间离活动结束时间较近，请提前规划好时间" : '')
      };
      for (var id in outputdata) {
         document.getElementById('r' + id).innerHTML = outputdata[id];
      }
      document.getElementById("result").style.display = ""
   }

   function saveToCookie(){
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		if (inputs[i].type == "text")
   			setCookie(inputs[i].name+"ac", inputs[i].value, 1);
   	}
   	for (var i=0; i<selects.length; i++){
   		setCookie(selects[i].name+"ac", selects[i].value, 1);
   	}
   }
   
    function showprediction(){
   	document.getElementById('prediction').innerHTML = '一档 25000pt(+5050)；二档 19700pt(-550)（11月9日22:00更新）'
   }
   
   function hideprediction(){
   	document.getElementById('prediction').innerHTML = 'LLhelper十一月猫娘凛活动预测线'
   }
   </script>
{% endblock %}

{% block body_onload %}
   <body onload="init()" lang="zh-Hans">
{% endblock %}

{% block front_notice %}
<h4 class="alert-heading">使用方法</h4>
<ol>
	<li>输入剩余时间 或 点击按钮选择服务器来自动计算剩余时间</li>
	<li>填写剩下所有文本框和选择框，其中活动图平均pt可以通过填写rank与combo评价自动填入，也可以参考pt表手动填入</li>
	<li>点击 <span class="label label-primary">计算</span> 按钮</li>
</ol>
{% endblock %}

{% block main %}
<div class="row">
{% include "components/event-time.html" %}

<div class="col-xs-12 col-md-6">
	<div class="panel panel-default">
        <div class="panel-heading">活动数据</div>
		<div class="panel-body">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-2 control-label">普通图</label>
					<div class="col-xs-5">
						<select class="form-control" id="lpnormal" name="lpnormal">
								<option value=5>5 LP</option>
								<option value=10>10 LP</option>
								<option value=15>15 LP</option>
								<option value=25 SELECTED>25 LP</option>
						</select>
					</div>
					<div class="col-xs-5">
						<select class="form-control" id="normalmultiple" name="normalmultiple">
								<option value=1>1 倍</option>
								<option value=2>2 倍</option>
								<option value=3>3 倍</option>
								<option value=4 SELECTED>4 倍</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-2 control-label" style="padding-right:0px">限时活动</label>
					<div class="col-xs-10">
						<select class="form-control" id="specialevent" name="specialevent">
								<option value=0 SELECTED>无</option>
								<option value=1>限时活动LP消耗降低</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-2 control-label">活动图</label>
					<div class="col-xs-5">
						<select class="form-control" id="diff" name="diff" onchange="getpt()">
							<option value=0>Easy</option>
							<option value=1>Normal</option>
							<option value=2>Hard</option>
							<option value=3 SELECTED>Expert</option>
						</select>
					</div>
					<div class="col-xs-5">
						<select class="form-control" id="eventmultiple" name="eventmultiple" onchange="getpt()">
							<option value=1>1 倍</option>
							<option value=2>2 倍</option>
							<option value=3>3 倍</option>
							<option value=4 SELECTED>4 倍</option>
							<option value=5>旧 4 倍</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-2 control-label">版本</label>
					<div class="col-xs-10">
						<select class="form-control" id="afteraquors" name="afteraquors" onchange="getpt()">
							<option value=0>旧 pt（SS 404）</option>
							<option value=1 SELECTED>新 pt（SS 565）</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-6 col-sm-4 col-md-6 col-lg-4 control-label">活动曲rank（可选）</label>
					<div class="col-xs-6 col-sm-8 col-md-6 col-lg-8">
						<select class="form-control" id="rank" name="rank" onchange="getpt()">
							<option value=-1></option>
							<option value=0>-</option>
							<option value=1>C</option>
							<option value=2>B</option>
							<option value=3>A</option>
							<option value=4 SELECTED>S</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-6 col-sm-4 col-md-6 col-lg-4 control-label">活动曲combo（可选）</label>
					<div class="col-xs-6 col-sm-8 col-md-6 col-lg-8">
						<select class="form-control" id="combo" name="combo" onchange="getpt()">
							<option value=-1></option>
							<option value=0>-</option>
							<option value=1>C</option>
							<option value=2>B</option>
							<option value=3 SELECTED>A</option>
							<option value=4>S</option>
						</select>
					</div>
				</div>
				<div class="form-group" style="margin-bottom:0px">
					<label class="col-xs-6 col-sm-4 col-md-6 col-lg-4 control-label">活动图平均pt</label>
					<div class="col-xs-6 col-sm-8 col-md-6 col-lg-8">
						<input class="form-control" type="text" id="averagept" name="averagept" value="549" autocomplete="off" onchange="clearchoice()"> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include "components/event-current.html" %}
{% include "components/event-points.html" %}
{% include "components/event-calc-result.html" %}
</div>
<!--<a href="/activitypt" target="_blank">获得pt表</a>-->
{% include "components/event-calc-button.html" %}

{% endblock %}

{% block back_notice %}
<h4 class="alert-heading">注意</h4>
<ol>
	<li>加号后面的次数/时间为因为活动途中方便升级和活动结束前清理最后剩下的LP/道具而打的与指定的难度不同的图的次数，可能会因为玩家游戏策略的不同而震荡，在活动接近结束的时候会收敛，仅供参考</li>
	<li>如果最终点数和目标点数过于接近，请考虑多磕一心。</li>
	<li>目前不能很好的处理LP最大值小于普通图多倍消耗的情况，如果选了超过LP最大值的倍数，计算结果可能不准确（如：50级最大LP为50，那么如果普通图选择了25LP的3倍或4倍，计算结果可能不准确，建议选择1倍或2倍）。</li>
</ol>
{% endblock %}
