<!DOCTYPE html>
<html>
   <head>
      <title>LLhelper</title>
      <meta http-equiv=Content-Type content="text/html;charset=utf-8">
      <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script src="http://lovelive.oss-cn-beijing.aliyuncs.com/Js/ReadPredCN.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailtime.js') }}"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
   <script>
   function showall(){
   	cards = document.getElementById("idlist").value.split(',')
   	document.getElementById("showarea").innerHTML = ''
   	for (i in cards){
   		document.getElementById("showarea").innerHTML +='<img src="/static/llhead/head'+tothree(cards[i])+'.png">'
   		document.getElementById("showarea").innerHTML +=cards[i]
   		//document.write('<img src="/static/llhead/head'+tothree(cards[i])+'.png">')
   	}
   }
   </script>
   </head>
   <body>
	<input type="text" id="idlist"/><input type="button" value="显示" onclick="showall()"/>
	<p id="showarea">
	</p>
   </body>
</html>