<!DOCTYPE html>
<html>
   <head>
      <title>LLhelper</title>
      <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}"></script>
   <style type="text/css">
   	button {position:relative;height:200px;width:200px;margin-left:100px;margin-top:100px;background-color:#F0F8FF}
   	table {position:relative;margin-left:30px;}
   	td {size:2}
   </style>
   <script>
   var regS = new RegExp("&#34;", "g")
   var regS2 = new RegExp("&#39;", "g")
   var regSand = new RegExp("&amp;", "g")
   var cardsjson = "{{cardsjson}}".replace(regS,'"').replace(regS2, "'").replace(regSand, '&')
   var cards = eval("("+cardsjson+")")
   var attcolor = new Array();
   var language = 0
   attcolor["smile"] = "red"
   attcolor["pure"] = "green"
   attcolor["cool"] = "blue"
   
   nametojp = new Array()
   nametojp["高坂穗乃果"] = "高坂穂乃果"
   nametojp["绚濑绘里"] = "絢瀬絵里"
   nametojp["南小鸟"] = "南ことり"
   nametojp["园田海未"] = "園田海未"
   nametojp["星空凛"] = "星空凛"
   nametojp["西木野真姬"] = "西木野真姫"
   nametojp["东条希"] = "東條希"
   nametojp["小泉花阳"] = "小泉花陽"
   nametojp["矢泽妮可"] = "矢澤にこ"
   
   function getcardselect(rarity, chr, att, cnhave, special){
   	sel = document.getElementById("cardchoice");
   	sel.options.length = 1;
   	var index = 0;
   	//alert(chr)
   	for (card in cards){
   		if (((rarity == "") || (rarity == cards[index].rarity)) && ((chr == "") || (cards[index].jpname.indexOf(nametojp[chr]) != -1)) && ((att == "") || (att == cards[index].attribute)) && ((cnhave == "") || (cnhave == cards[index].cnhave)) && ((special == "") || ((cards[index].smile != 0) && (special == 0)) || ((cards[index].smile == 0) && (special == 1)))){
   			var newOption
   			if (language == 0)
   				newOption = new Option(cards[index].id+" "+cards[index].rarity+" "+cards[index].name, index)
   			else
   				newOption = new Option(cards[index].id+" "+cards[index].rarity+" "+cards[index].jpname, index)
   			newOption.style.color = attcolor[cards[index].attribute]
   			sel.options.add(newOption)
   		}
   		index += 1
   	}
   	//changecolor("cardchoice")
   }
   
   function changecardselect(){
   	rarity = document.getElementById("rar").value
   	chr = document.getElementById("chr").value
   	att = document.getElementById("att").value
   	cnhave = document.getElementById("cardcnhave").value
   	special = document.getElementById("special").value
   	var cardchoice = document.getElementById("cardchoice").value
   	getcardselect(rarity, chr, att, cnhave, special)
   	if (havevalue("cardchoice", cardchoice)){
   		document.getElementById("cardchoice").value = cardchoice
   	}
   	changecolor("cardchoice")
   }
   
   function changeLanguage(){
   	var cardchoice = document.getElementById("cardchoice").value
   	language = 1-language
	changecardselect()
   	document.getElementById("cardchoice").value = cardchoice
   }
   
   function changecardinfo(which){
   	index = document.getElementById(which).value
   	if (index != "") {
   		c = attcolor[cards[index].attribute]
   		document.getElementById(which).style.color = c
   		
   		document.getElementById("attribute").value = cards[index].attribute
   		infolist = ['name', 'jpname','id', 'attribute','rarity','hp','smile','pure','cool' ,'smile2','pure2','cool2','skill','possibility','score','require','Cskillpercentage','Cskillattribute','cnhave','type']
   		for (i in infolist){
   			document.getElementById(infolist[i]).value = cards[index][infolist[i]]
   		}
   		
   		if (index > 0)
   			document.getElementById("previouscard").value=index-1
   		else
			document.getElementById("previouscard").value=""
   	}
   }
   
   function init(){
   	allsel = document.getElementById("previouscard")
   	for (index in cards){
   		var newOption
   		newOption = new Option(cards[index].id+" "+cards[index].rarity+" "+cards[index].name, index)
   		newOption.style.color = attcolor[cards[index].attribute]
   		allsel.options.add(newOption)
   	}
   	changecardselect()
   }
   </script>
</head>
<body onload="init()">
<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="/">LLhelper</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li><a href="/">应用</a></li>
         <li class="active"><a href=#>卡片数据修改</a></li>
         <li><a href="/about">关于</a></li>
      </ul>
   </div>
</nav>

筛选：<select id="rar" name="rar" onchange="changecardselect()">
		<option value="">稀有度</option>
		<option value="R">R</option>
		<option value="SR">SR</option>
		<option value="UR">UR</option>
	</select>
	<select id="chr" name="chr" onchange="changecardselect()">
		<option value="">角色</option>
		<option value="高坂穗乃果">高坂穗乃果</option>
		<option value="绚濑绘里">绚濑绘里</option>
		<option value="南小鸟">南小鸟</option>
		<option value="园田海未">园田海未</option>
		<option value="星空凛">星空凛</option>
		<option value="西木野真姬">西木野真姬</option>
		<option value="东条希">东条希</option>
		<option value="小泉花阳">小泉花阳</option>
		<option value="矢泽妮可">矢泽妮可</option>
	</select>
	<select id="att" name="att" onchange="changecardselect()">
		<option value="">属性</option>
		<option value="smile">smile</option>
		<option value="pure">pure</option>
		<option value="cool">cool</option>
	</select>
	<select id="cardcnhave" name="cardcnhave" onchange="changecardselect()">
		<option value="">国服是否有</option>
		<option value=1>国服有</option>
		<option value=0 selected>国服无</option>
	</select>
	<select id="special" name="special" onchange="changecardselect()">
		<option value="">是否特典卡</option>
		<option value=0 selected>不是特典</option>
		<option value=1>是特典</option>
	</select><br>
<form method='POST' action=''>
卡片：<select id="cardchoice" name="cardchoice" onchange="changecardinfo('cardchoice')">
		<option value=""> 新卡片</option>
	</select>
	<input type="button" id="language" name="language" onclick="changeLanguage()" value="切换语言"></input>
	<br>
	
<table border='1'>
<tr>
	<td>编号</td>
	<td>稀有度</td>
	<td>中文名</td>
	<td>日文名</td>
</tr>
<tr>
	<td><input type='text'  id='id' name='id' size=3 autocomplete="off"></td>
	<td><input type='text'  id='rarity' name='rarity' size=3></td>
	<td><input type='text'  id='name' name='name' size=40 autocomplete="off"></td>
	<td><input type='text'  id='jpname' name='jpname' size=40 autocomplete="off"></td>
</tr>
</table>

<table border='1'>
<tr>
	<td>属性</td>
	<td>初始体力</td>
	<td>未觉醒smile</td>
	<td>未觉醒pure</td>
	<td>未觉醒cool</td>
	<td>觉醒smile</td>
	<td>觉醒pure</td>
	<td>觉醒cool</td>
	<td>技能类型</td>
	<td>发动条件数</td>
	<td>发动概率</td>
	<td>发动结果数</td>
	<td>C技能比例</td>
	<td>C技能基属性</td>
   <td>卡片类型</td>
	<td>国服有无</td>
</tr>
<tr>
	<td><input type='text' id='attribute' name='attribute' size=3></td>
	<td><input type='text' id='hp' name='hp' size=3></td>
	<td><input type='text' id='smile' name='smile' size=3 autocomplete="off"></td>
	<td><input type='text' id='pure' name='pure' size=3 autocomplete="off"></td>
	<td><input type='text' id='cool' name='cool' size=3 autocomplete="off"></td>
	<td><input type='text' id='smile2' name='smile2' size=3 autocomplete="off"></td>
	<td><input type='text' id='pure2' name='pure2' size=3 autocomplete="off"></td>
	<td><input type='text' id='cool2' name='cool2' size=3 autocomplete="off"></td>
	<td><select id="skill" name="skill" onchange="changeskilltext()">
		<option value=0>无</option>
		<option value=1>图标系加分</option>
		<option value=2>perfect系加分</option>
		<option value=3>分数系加分</option>
		<option value=4>时间系加分</option>
		<option value=5>时间系判定</option>
		<option value=6>图标系判定</option>
		<option value=7>图标系回血</option>
		<option value=8>时间系回血</option>
		<option value=9>perfect系回血</option>
		<option value=10>星星perfect系加分</option>
		<option value=11>combo系加分</option>
		<option value=12>combo系判定</option>
		<option value=13>combo系回血</option>
	</select>
		
	</td>
	<td><input type='text' id='require' name='require' size=3 autocomplete="off"></td>
	<td><input type='text' id='possibility' name='possibility' size=3 autocomplete="off"></td>
	<td><input type='text' id='score' name='score' size=3 autocomplete="off"></td>
	<td><input type='text' id='Cskillpercentage' name='Cskillpercentage' size=3 autocomplete="off"></td>
	<td><input type='text' id='Cskillattribute' name='Cskillattribute' size=3></td>
   <td><input type='text' id='type' name='type' size=3></td>
	<td><input type='text' id='cnhave' name='cnhave' size=3></td>
</tr>
</table>

位置（前一首）：<select id="previouscard" name="previouscard">
		<option value="">顶上</option>
	</select>
<br>
密码<input type='text' id = 'passwd' name = 'passwd' size =3>
<br>
<input type='submit' name='submit'>

</form>
</body>
</html>
   
   