<!DOCTYPE html>
<html>
   <head>
      <title>LLhelper</title>
      <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}?v=1.06"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
   <style type="text/css">
   	button {position:relative;height:200px;width:200px;margin-left:100px;margin-top:100px;background-color:#F0F8FF}
   	table {position:relative;margin-left:30px;}
   	td {size:2}
   </style>
   <script>
   var regS = new RegExp("&#34;", "g")
   var regS2 = new RegExp("&#39;", "g")
   var regSand = new RegExp("&amp;", "g")
   var cardsjson = "{{cardsjson}}".replace(regS,'"').replace(regS2, "'").replace(regSand, '&')
   var cards = eval("("+cardsjson+")")
   var attcolor = new Array();
   var language = 0
   var skilllevel = 0
   attcolor["smile"] = "red"
   attcolor["pure"] = "green"
   attcolor["cool"] = "blue"
   attcolor["all"] = "purple"
   var kizuna = new Array();
   kizuna["N"] = [25, 50]
   kizuna["R"] = [100, 200]
   kizuna["SR"] = [250, 500]
   kizuna["UR"] = [500, 1000]
   var cskill = new Array()
   cskill['smile'] = "公主"
   cskill['pure'] = "天使"
   cskill['cool'] = "皇后"
   nametojp = new Array()
   nametojp["高坂穗乃果"] = "高坂穂乃果"
   nametojp["绚濑绘里"] = "絢瀬絵里"
   nametojp["南小鸟"] = "南ことり"
   nametojp["园田海未"] = "園田海未"
   nametojp["星空凛"] = "星空凛"
   nametojp["西木野真姬"] = "西木野真姫"
   nametojp["东条希"] = "東條希"
   nametojp["小泉花阳"] = "小泉花陽"
   nametojp["矢泽妮可"] = "矢澤にこ"
   nametojp["高海千歌"] = "高海千歌"
   nametojp["樱内梨子"] = "桜内梨子"
   nametojp["松浦果南"] = "松浦果南"
   nametojp["黑泽黛雅"] = "黒澤ダイヤ"
   nametojp["渡边曜"] = "渡辺曜"
   nametojp["津岛善子"] = "津島善子"
   nametojp["国木田花丸"] = "国木田花丸"
   nametojp["小原鞠莉"] = "小原鞠莉"
   nametojp["黑泽露比"] = "黒澤ルビィ"
   
   function getcardselect(rarity, chr, att, cnhave, cardtype,special){
   	sel = document.getElementById("cardchoice");
      skilltype = document.getElementById("skilltype").value
      triggertype = document.getElementById("triggertype").value
      setname = document.getElementById("setname").value
   	sel.options.length = 1;
   	var index = 1;
   	//alert(chr)
   	for (card in cards){
   		if (((rarity == "") || (rarity == cards[index].rarity)) && ((chr == "") || (cards[index].jpname.indexOf(nametojp[chr]) != -1)) && ((att == "") || (att == cards[index].attribute)) && ((cnhave == "") || (cnhave == cards[index].cnhave)) && ((special == "") || ((cards[index].special == 0) && (special == 0)) || ((cards[index].special == 1) && (special == 1))) && ((cardtype == "") || (cards[index].type.indexOf(cardtype) != -1)) && ((skilltype == "") || (skilltype == cards[index].skilleffect)) && ((triggertype == "") || (triggertype == cards[index].triggertype)) && ((setname == "") || (setname == cards[index].jpseries))){
            if ((!(document.getElementById('showncard').checked) && (cards[index].rarity == 'N')) || (cards[index].support == 1)){
               index += 1
               continue
            }
   			var newOption
            if (cards[index].eponym) {eponym = "【"+cards[index].eponym+"】"} else eponym = ""
            if (cards[index].series && (cards[index].series != '')) {series = "("+cards[index].series+")"} else series = ""
            if (cards[index].jpeponym) {jpeponym = "【"+cards[index].jpeponym+"】"} else jpeponym = ""
            if (cards[index].jpseries && (cards[index].jpseries != '')) {jpseries = "("+cards[index].jpseries+")"} else jpseries = ""
   			if (language == 0)
   				newOption = new Option(tothree(cards[index].id)+" "+cards[index].rarity+" "+eponym+cards[index].name+" "+series, index)
   			else
   				newOption = new Option(tothree(cards[index].id)+" "+cards[index].rarity+" "+jpeponym+cards[index].jpname+" "+jpseries, index)
   			newOption.style.color = attcolor[cards[index].attribute]
   			sel.options.add(newOption)
   		}
   		index += 1
   	}
   	//changecolor("cardchoice")
   }
   
   function lvlup(){
      skilllevel += 1
      if (skilllevel == 8)
         skilllevel = 0
      changecolor('cardchoice')
   }

   function lvldown(){
      skilllevel -= 1
      if (skilllevel == -1)
         skilllevel = 7
      changecolor('cardchoice')
   }

   function changecardselect(){
   	rarity = document.getElementById("rarity").value
   	chr = document.getElementById("chr").value
   	att = document.getElementById("att").value
   	cnhave = document.getElementById("cnhave").value
      cardtype = document.getElementById("cardtype").value
   	special = document.getElementById("special").value
   	var cardchoice = document.getElementById("cardchoice").value
   	getcardselect(rarity, chr, att, cnhave, cardtype, special)
   	if (havevalue("cardchoice", cardchoice)){
   		document.getElementById("cardchoice").value = cardchoice
   	}
   	changecolor("cardchoice")
   }

   function changecolor(which){
   	document.getElementById("result").style.display = ''
   	index = document.getElementById(which).value
   	if (index != "") {
   		c = attcolor[cards[index].attribute]
   		document.getElementById(which).style.color = c
   		infolist = []
   		infolist2 = ["smile", "pure", "cool"]
   		//avatar
   		cardid = cards[index].id
         document.getElementById('avatar1').src = ''
         document.getElementById('avatar2').src = ''
         document.getElementById('card').src = ''
         document.getElementById('card2').src = ''
         document.getElementById('navi').src = ''
         document.getElementById('navi2').src = ''
   		document.getElementById('notmezame').style.display = 'none'
         document.getElementById('card').style.display = 'none'
         document.getElementById('navi').style.display = 'none'
   		document.getElementById('skill2').style.display = ''
   		document.getElementById('centerskill2').style.display = ''
   		document.getElementById('skilleffect2').style.display = ''
   		if ((cards[index].special == 0) && (cards[index].support == 0)){
            if (document.getElementById('showcard').checked){
               document.getElementById('card').style.display = ''
               document.getElementById('navi').style.display = ''
               document.getElementById('card').src = cards[index].cardpath
               document.getElementById('navi').src = cards[index].navipath
               if (document.getElementById('smallcard').checked){
               document.getElementById('card').style.height = '422px'
               document.getElementById('card').style.width = '300px'
               document.getElementById('navi').style.height = '300px'
               document.getElementById('navi').style.width = '300px'
               }
               else{
               document.getElementById('card').style.height = ''
               document.getElementById('card').style.width = ''
            }
            }
   			document.getElementById('avatar1').src = cards[index].avatarpath
   			document.getElementById('notmezame').style.display = ''
   			document.getElementById('skill2').style.display = 'none'
   			document.getElementById('centerskill2').style.display = 'none'
   			document.getElementById('skilleffect2').style.display = 'none'
   		}
         document.getElementById('card2').style.display = 'none'
         document.getElementById('navi2').style.display = 'none'
         if (document.getElementById('showcard').checked){
            document.getElementById('card2').style.display = ''
            document.getElementById('navi2').style.display = ''
            document.getElementById('card2').src = cards[index].cardpluspath
            document.getElementById('navi2').src = cards[index].navipluspath
            if (document.getElementById('smallcard').checked){
               document.getElementById('card2').style.height = '422px'
               document.getElementById('card2').style.width = '300px'
               document.getElementById('navi2').style.height = '300px'
               document.getElementById('navi2').style.width = '300px'
            }
            else{
               document.getElementById('card2').style.height = ''
               document.getElementById('card2').style.width = ''
            }
               
         }
   		document.getElementById('avatar2').src = cards[index].avatarpluspath
   		document.getElementById('hp1').innerHTML = cards[index].hp
   		document.getElementById('hp2').innerHTML = parseInt(cards[index].hp)+1
   		document.getElementById('kizuna1').innerHTML = kizuna[cards[index].rarity][0]
   		document.getElementById('kizuna2').innerHTML = kizuna[cards[index].rarity][1]
   		cnname = cards[index].skillname
   		jpname = cards[index].jpskillname
   		if (cnname == jpname){
   			if (!cnname)
   				document.getElementById('skill').innerHTML = changeskilltext(cards[index])
   			else
   				document.getElementById('skill').innerHTML = '【'+jpname+'】<br><input type="button" style="height:20px;width:20px;padding:0" value="▲" onclick="lvlup()"></input> Lv: '+String(skilllevel+1)+' <input type="button" style="height:20px;width:20px;padding:0" value="▼" onclick="lvldown()"></input><br>'+changeskilltext(cards[index])
   		}
   		else
   			document.getElementById('skill').innerHTML = '【'+cnname+'】<br>【'+jpname+'】<br><input type="button" style="height:20px;width:20px;padding:0" value="▲" onclick="lvlup()"></input> Lv: '+String(skilllevel+1)+' <input type="button" style="height:20px;width:20px;padding:0" value="▼" onclick="lvldown()"></input><br>'+changeskilltext(cards[index])
   		document.getElementById('skill2').innerHTML = document.getElementById('skill').innerHTML
   		document.getElementById('centerskill').innerHTML = cskilltext(cards[index])
   		document.getElementById('centerskill2').innerHTML = cskilltext(cards[index])
   		changeskilleffect(cards[index])
   		for (i in infolist2){
   			document.getElementById(infolist2[i]+'1').innerHTML = cards[index][infolist2[i]]
   			document.getElementById(infolist2[i]+'1').style.color = attcolor[infolist2[i]]
   			document.getElementById(infolist2[i]+'2').innerHTML = cards[index][infolist2[i]+'2']
   			document.getElementById(infolist2[i]+'2').style.color = attcolor[infolist2[i]]
   		}
   		if (cards[index].smile != 0){
   			document.getElementById('strength1').innerHTML = strength(cards[index], 0, skilllevel)
   			document.getElementById('strength1').style.color = attcolor[cards[index].attribute]
   			document.getElementById('strengthlevel1').innerHTML = strengthlevel(strength(cards[index], 0, skilllevel))
   			document.getElementById('strengthlevel1').style.color = attcolor[cards[index].attribute]
   		}
   		document.getElementById('strength2').innerHTML = strength(cards[index], 1, skilllevel)
   		document.getElementById('strength2').style.color = attcolor[cards[index].attribute]
   		document.getElementById('strengthlevel2').innerHTML = strengthlevel(strength(cards[index], 1, skilllevel))
   		document.getElementById('strengthlevel2').style.color = attcolor[cards[index].attribute]
   	}
   }
   
   function changeskilleffect(c){
   	skilltype = c.skill
   	document.getElementById('skilleffecttitle').style.display = ''
   	document.getElementById('skilleffect').style.display = ''
   	if ((!skilltype) || (c.support == 1)){
   		document.getElementById('skilleffecttitle').style.display = 'none'
   		document.getElementById('skilleffect').style.display = 'none'
         document.getElementById('skilleffect2').style.display = 'none'
   	}
   	else if (c.skilleffect == 11){
   		document.getElementById('skilleffecttitle').innerHTML = '加分强度*(6)'
   		document.getElementById('skilleffect').innerHTML = skillstrength(c, skilllevel)+'<br>修正:'+skillstrength(c, skilllevel, 1)
   		document.getElementById('skilleffect2').innerHTML = skillstrength(c, skilllevel)+'<br>修正:'+skillstrength(c, skilllevel, 1)
   	}
   	else if (c.skilleffect == 9){
   		document.getElementById('skilleffecttitle').innerHTML = '回血期望*(6)'
   		document.getElementById('skilleffect').innerHTML = skillstrength(c, skilllevel)+'/note'+'<br>修正:'+skillstrength(c, skilllevel, 1)+'/note'
   		document.getElementById('skilleffect2').innerHTML = skillstrength(c, skilllevel)+'/note'+'<br>修正:'+skillstrength(c, skilllevel, 1)+'/note'
   	}
   	else if ((c.skilleffect == 4) || (c.skilleffect == 5)){
   		document.getElementById('skilleffecttitle').innerHTML = '判定覆盖率*(6)'
   		document.getElementById('skilleffect').innerHTML = skillstrength(c, skilllevel)+'%'+'<br>修正:'+skillstrength(c, skilllevel, 1)+'%'
   		document.getElementById('skilleffect2').innerHTML = skillstrength(c, skilllevel)+'%'+'<br>修正:'+skillstrength(c, skilllevel, 1)+'%'
   	}
   }
   
   function changeLanguage(){
   	var cardchoice = document.getElementById("cardchoice").value
   	language = 1-language
	changecardselect()
   	document.getElementById("cardchoice").value = cardchoice
   }
   
   
   function cskilltext(c){
      if (!c.Cskill)
         return '无'
   	if (parseInt(c.Cskillpercentage) == 3){
   		cpostfix = '的力量'
   		ceffect = c.attribute+'P小幅提升(+3%)'
   	}
   	else if (parseInt(c.Cskillpercentage) == 6){
   		cpostfix = '之心'
   		ceffect = c.attribute+'P提升(+6%)'
   	}
   	else if (parseInt(c.Cskillpercentage) == 9){
   		cpostfix = cskill[c.Cskillattribute]
   		ceffect = c.attribute+'P大幅提升(+9%)'
   	}
   	else if (parseInt(c.Cskillpercentage) == 12){
   		cpostfix = cskill[c.Cskillattribute]
   		ceffect = c.attribute+'P随着'+c.Cskillattribute+'P增加(+12%)'
   	}
   	return c.attribute+cpostfix+'<br>'+ceffect
   }
   
   function changeskilltext(c){
      if (!c.skill)
         return '无'
      t1 = ['', '秒','','个图标','combo','','个perfect','','','','','','个星星perfect']
      t2 = ['', '','','','稍微增强判定','增强判定','','','','回复','','增加']
      t3 = ['', '','','','秒','秒','','','','点体力','','分']
   	skilldesc = "每"+c.skilldetail[skilllevel].require+t1[c.triggertype]+"有"+c.skilldetail[skilllevel].possibility+"%概率"+t2[c.skilleffect]+c.skilldetail[skilllevel].score+t3[c.skilleffect]
   	return skilldesc
   }
   
   function havevalue(selectId, value){
   	objSelect = document.getElementById(selectId)
   	for (var i = 0; i < objSelect.options.length; i++){
   		if (objSelect.options[i].value == value)
   			return true;
   	}
   	return false;
   }
   
   function toMezame(){
   	mezame = 1-mezame
   	changecolor("cardchoice")
   	changeavatarselect()
   }
   
   
   
   function init(){
   	getcardselect("", "", "", "", "" ,"");
   }
   
   </script>
   
  </head>
   <body onload="init()">
   <nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="/">LLhelper</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li><a href="/">应用</a></li>
         <li class="active"><a href=#>卡片数据</a></li>
         <li><a href="/about">关于</a></li>
      </ul>
   </div>
</nav>

<pre>
说明：
1. 通用强度指的是一张卡片在技能等级为1，combo为500，长按比例为8%，P率为95%，时间为120秒，星星为65个，队伍强度为52500，C位为普通URc技能（不抱腿）（若该卡为新C，则C位为该卡）时的卡片强度*(4)，一张非加分主属性为5000的普通UR的强度为5950。由于实际情况下卡片的强度会因为不同图、不同P率以及不同Center效果产生一定的不同，想要详细计算请使用<a href="/llunit">队伍强度计算</a>进行计算
2. 强度等级从高到低为SS、S、A+、A、A-、B+、B、B-、C+、C、C-、D+、D，强度等级列表参考<a href="/llcardladder">卡片天梯</a>
3. 满技能强度指的是卡片技能等级为8，其余假设和(1)相同时的卡片强度
4. 卡片强度的定义为卡片属性+主唱加成+绊+加分技能对应的属性
5. <a href="http://tieba.baidu.com/p/4170872773?see_lz=1">卡组养成攻略</a>
6. 关于修正：所谓技能的修正，是因为技能在打歌的最后一次不能完全发动，在设定的情况和均匀分布的随机余数条件下计算的技能的真实效果
</pre>

<h3>卡片库</h3>
筛选：<select id="rarity" name="rarity" onchange="changecardselect()">
		<option value="">稀有度</option>
      <option value="N">N</option>
		<option value="R">R</option>
		<option value="SR">SR</option>
		<option value="UR">UR</option>
	</select>
	<select id="chr" name="chr" onchange="changecardselect()">
		<option value="">角色</option>
		<option value="高坂穗乃果">高坂穗乃果</option>
		<option value="绚濑绘里">绚濑绘里</option>
		<option value="南小鸟">南小鸟</option>
		<option value="园田海未">园田海未</option>
		<option value="星空凛">星空凛</option>
		<option value="西木野真姬">西木野真姬</option>
		<option value="东条希">东条希</option>
		<option value="小泉花阳">小泉花阳</option>
		<option value="矢泽妮可">矢泽妮可</option>
      <option value="高海千歌">高海千歌</option>
      <option value="樱内梨子">樱内梨子</option>
      <option value="松浦果南">松浦果南</option>
      <option value="黑泽黛雅">黑泽黛雅</option>
      <option value="渡边曜">渡边曜</option>
      <option value="津岛善子">津岛善子</option>
      <option value="国木田花丸">国木田花丸</option>
      <option value="小原鞠莉">小原鞠莉</option>
      <option value="黑泽露比">黑泽露比</option>  
	</select>
	<select id="att" name="att" onchange="changecardselect()">
		<option value="">属性</option>
		<option value="smile" style="color:red">smile</option>
		<option value="pure" style="color:green">pure</option>
		<option value="cool" style="color:blue">cool</option>
	</select>
	<select id="cnhave" name="cnhave" onchange="changecardselect()">
		<option value="">国服是否有</option>
		<option value=1>国服有</option>
	</select>
   </select>
   <select id="triggertype" name="triggertype" onchange="changecardselect()">
      <option value="">触发类型</option>
      <option value="1">时间</option>
      <option value="3">图标</option>
      <option value="4">combo</option>
      <option value="5">分数</option>
      <option value="6">perfect</option>
      <option value="12">星星perfect</option>
   </select>
   <select id="skilltype" name="skilltype" onchange="changecardselect()">
      <option value="">技能类型</option>
      <option value="4">小判定</option>
      <option value="5">大判定</option>
      <option value="9">回血</option>
      <option value="11">加分</option>
   </select>
   <select id="cardtype" name="cardtype" onchange="changecardselect()">
      <option value="">卡片类型</option>
      <option value="活动卡">活动卡</option>
      <option value="登录奖励">登录奖励</option>
   </select>
	<select id="special" name="special" onchange="changecardselect()">
		<option value="">是否特典卡</option>
		<option value=0>不是特典</option>
		<option value=1>是特典</option>
	</select>
   <select id="setname" name="setname" onchange="changecardselect()">
      <option value="">套卡名</option>
      <option value="初期">初期</option>
      <option value="職業編">职业篇</option>
      <option value="動物編">动物篇</option>
      <option value="8月編">8月篇</option>
      <option value="9月編">9月篇</option>
      <option value="10月編">10月篇</option>
      <option value="11月編">11月篇</option>
      <option value="12月編">12月篇</option>
      <option value="1月編">1月篇</option>
      <option value="2月編">2月篇</option>
      <option value="3月編">3月篇</option>
      <option value="4月編">4月篇</option>
      <option value="5月編">5月篇</option>
      <option value="6月編">6月篇</option>
      <option value="7月編">7月篇</option>
      <option value="チャイナドレス編">旗袍篇</option>
      <option value="カフェメイド編">女仆篇</option>
      <option value="ハロウィン編">万圣篇</option>
      <option value="星座編">星座篇</option>
      <option value="雪山編">雪山篇</option>
      <option value="七福神編">七福神篇</option>
      <option value="バレンタイン編">情人节篇</option>
      <option value="ホワイトデー編">白色情人节篇</option>
      <option value="職業編(Part2">职业篇2</option>
      <option value="サイバー編">电玩篇</option>
      <option value="手品師編">魔术师篇</option>
      <option value="マリン編">海兵篇</option>
      <option value="プール編">泳池篇</option>
      <option value="くのいち編">忍者篇</option>
      <option value="動物編(Part2)">动物篇2</option>
      <option value="舞踏会編">舞踏会篇</option>
      <option value="クリスマス編">圣诞篇</option>
      <option value="サーカス編">马戏团篇</option>
      <option value="妖精の国編">妖精之国篇</option>
      <option value="ベースボール編">棒球篇</option>
      <option value="大正ロマン編">大正篇</option>
      <option value="踊り子編">舞娘篇</option>
      <option value="アイドル衣装編">偶像篇</option>
      <option value="小悪魔編">小恶魔篇</option>
   </select><br>
卡片：<select id="cardchoice" name="cardchoice" onchange="skilllevel = 0;changecolor('cardchoice')">
		<option value=""> </option>
	</select>
	<input type="button" id="language" name="language" onclick="changeLanguage()" value="切换语言"></input>
	<br>
   <input type="checkbox" id="showcard" name="showcard" onchange="changecolor('cardchoice')" checked>显示图片</input>
   <input type="checkbox" id="smallcard" name="smallcard" onchange="changecolor('cardchoice')" checked>小图</input>
   <input type="checkbox" id="showncard" name="showncard" onchange="changecardselect()">显示N卡</input>
   <br>
	
<div id="result" style="display:none">
<h3>基本信息</h3>
<table border='1' style="text-align:center">
<tr>
	<td></td>
	<td>HP</td>
	<td>smile</td>
	<td>pure</td>
	<td>cool</td>
	<td>最大绊</td>
	<td>技能</td>
	<td id='skilleffecttitle'></td>
	<td id='skilleffecttitle8' style="display:none"></td>
	<td>主唱技能</td>
	<td>通用强度*(1)</td>
	<td>强度等级*(2)</td>
	<td id='strength8' style="display:none">满技能强度*(3)</td>
	<td id='strengthlevel8' style="display:none">强度等级</td>
	
</tr>
<tr id="notmezame">
	<td><img id="avatar1" height="75px" width="75px"></img></td>
	<td id="hp1"></td>
	<td id="smile1"></td>
	<td id="pure1"></td>
	<td id="cool1"></td>
	<td id="kizuna1"></td>
	<td id="skill" rowspan="2"></td>
	<td id='skilleffect' rowspan="2"></td>
	<td id="centerskill" rowspan="2"></td>
	<td id="strength1"></td>
	<td id="strengthlevel1"></td>
</tr>
<tr>
	<td><img id="avatar2" height="75px" width="75px"></img></td>
	<td id="hp2"></td>
	<td id="smile2"></td>
	<td id="pure2"></td>
	<td id="cool2"></td>
	<td id="kizuna2"></td>
	<td id="skill2" style="display:none"></td>
	<td id="skilleffect2" style="display:none"></td>
	<td id="centerskill2" style="display:none"></td>
	<td id="strength2"></td>
	<td id="strengthlevel2"></td>
</tr>
</table>
<br>
<h3>卡面</h3>
<table>
   <tr>
      <td><img id="card" ></img></td>
      <td><img id="card2"></img></td>
   </tr>
</table>
<h3>立绘（在新标签页内打开以查看大图）</h3>
<table>
   <tr>
      <td><img id="navi" ></img></td>
      <td><img id="navi2" ></img></td>
   </tr>
</table>
</div>
<br>

</body>
</html>
