<!DOCTYPE html>
<html>
   <head>
      <title>LLhelper</title>
      <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}?v=1.06"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
   <style type="text/css">
   	button {position:relative;height:200px;width:200px;margin-left:100px;margin-top:100px;background-color:#F0F8FF}
   	table {position:relative;margin-left:30px;}
   	td {size:2}
   </style>
   <script>
   var regS = new RegExp("&#34;", "g")
   var regS2 = new RegExp("&#39;", "g")
   var regSand = new RegExp("&amp;", "g")
   var cardsjson = "{{cardsjson}}".replace(regS,'"').replace(regS2, "'").replace(regSand, '&')
   var cards = eval("("+cardsjson+")")
   var attcolor = new Array();
   var language = 0
   attcolor["smile"] = "red"
   attcolor["pure"] = "green"
   attcolor["cool"] = "blue"
   var kizuna = new Array();
   kizuna["N"] = [25, 50]
   kizuna["R"] = [100, 200]
   kizuna["SR"] = [250, 500]
   kizuna["UR"] = [500, 1000]
   var cskill = new Array()
   cskill['smile'] = "公主"
   cskill['pure'] = "天使"
   cskill['cool'] = "皇后"
   nametojp = new Array()
   nametojp["高坂穗乃果"] = "高坂穂乃果"
   nametojp["绚濑绘里"] = "絢瀬絵里"
   nametojp["南小鸟"] = "南ことり"
   nametojp["园田海未"] = "園田海未"
   nametojp["星空凛"] = "星空凛"
   nametojp["西木野真姬"] = "西木野真姫"
   nametojp["东条希"] = "東條希"
   nametojp["小泉花阳"] = "小泉花陽"
   nametojp["矢泽妮可"] = "矢澤にこ"
   definition = new Array()
   definition['SS'] = "SS档由全部觉醒非时间系加分UR组成，代表全SIF中最高的战斗力，土豪和脸帝的专利。SS档强度范围为7243~7361"
   definition['S+'] = "S+档由强于全部觉醒非加分UR，弱于全部觉醒非时间系加分UR的卡片组成，土豪和脸帝的专利，当前仅此一张。"
   definition['S'] = "S档由全部觉醒非加分UR组成，仍然是土豪和脸帝的专利，但是强度却比SS档差了很多。S档强度范围为6657~6856"
   definition['A+'] = "A+档由全部未觉醒非时间系加分UR组成。有3张特典UR在技能等级满后可混入该档。A+档强度范围为6416~6534"
   definition['A'] = "A档由强于所有未觉醒非加分UR的卡片组成，包含高属性加分觉醒SR和部分特典UR，以及时间系加分UR。极少数活动SR觉醒后可以进入A档，同时登陆奖励特典绘里和真姬在满技能等级后也处于该分级。A档强度范围为6021~6415"
   definition['A-'] = "A-档由强度处于最弱未觉醒非加分UR初期鸟和最强未觉醒非加分UR机厅nico之间的卡片组成。其中包含了特典卡、属性较低的加分觉醒SR和很高属性的非加分觉醒SR。除了较早期的所有note、combo、perfect以及分数系加分活动觉醒SR均处于这个分档，时间系加分的妖精花阳也处于该档，属于无氪可以大量获取到卡片的最高分档。不少活动觉醒SR两级技能可以进入A档。A-档强度范围为5830~6020"
   definition['B+'] = "B+档由强于所有未觉醒SR但弱于所有UR的卡片组成，主要由低属性或时间系加分觉醒SR、中属性非加分觉醒SR组成。除了精灵花阳以外的所有时间系加分觉醒SR处于该档。登录奖励特典鸟满技能等级后也处于该分级。B+档强度范围为5753~5829"
   definition['B'] = "B档由超强未觉醒加分SR和弱觉醒SR组成。除了超低属性的赏月凛和僵尸希，活动觉醒判定SR都处于该档。B档强度范围为5520~5753"
   definition['B-'] = "B-档的强度高于任何技能等级的R卡，多由较强未觉醒SR组成。B-档强度范围为5350~5519"
   definition['C+'] = "C+档主要由中等强度未觉醒SR组成。C+档强度范围为5180~5349"
   definition['C'] = "C档主要由弱SR组成。C档强度范围为5000~5179"
   definition['C-'] = "C-档由超弱SR和超强属性觉醒R组成。C-档强度范围为4750~4999"
   definition['D+'] = "D+档主要由弱于所有SR的较强的觉醒R组成。D+档强度范围为4500~4749"
   definition['D'] = "D档由弱R组成。D档强度低于4500"
   currentrank = ''
   
   function getEvent(){ //同时兼容ie和ff的写法 
        if(document.all)   return window.event;    
        func=getEvent.caller;        
        while(func!=null){  
            var arg0=func.arguments[0];
            if(arg0){
				var temp = typeof(arg0)=="object" * arg0.preventDefault * arg0.stopPropagation
				if((arg0.constructor==Event || arg0.constructor ==MouseEvent) || temp){  
				return arg0;
              }
            }
            func=func.caller;
        }
        return null;
}
   
   function showdetail(index, mezame, level){
   	event = getEvent()
   	sx = document.body.scrollLeft
   	sy = document.body.scrollTop
   	x = event.clientX
   	y = event.clientY
   	document.getElementById("Layer1").style.left = String(x+sx)+"px"
   	document.getElementById("Layer1").style.top = String(y+sy)+"px"
      if (cards[index].eponym) {eponym = "【"+cards[index].eponym+"】"} else eponym = ""
      if (cards[index].series && (cards[index].series != '')) {series = "("+cards[index].series+")"} else series = ""
      if (cards[index].jpeponym) {jpeponym = "【"+cards[index].jpeponym+"】"} else jpeponym = ""
      if (cards[index].jpseries && (cards[index].jpseries != '')) {jpseries = "("+cards[index].jpseries+")"} else jpseries = ""
   	if (language == 0)
   		document.getElementById("cardname").innerHTML = eponym+cards[index].name+" "+series
   	else 
   		document.getElementById("cardname").innerHTML = jpeponym+cards[index].jpname+" "+jpseries
   	document.getElementById("skill").innerHTML = skilltext(cards[index], level)
   	document.getElementById("Cskill").innerHTML = cskilltext(cards[index])
   	if (mezame == 0){
   		document.getElementById("smile").innerHTML = cards[index].smile
   		document.getElementById("pure").innerHTML = cards[index].pure
   		document.getElementById("cool").innerHTML = cards[index].cool
   	}
   	else{
   		document.getElementById("smile").innerHTML = cards[index].smile2
   		document.getElementById("pure").innerHTML = cards[index].pure2
   		document.getElementById("cool").innerHTML = cards[index].cool2
   	}
   	document.getElementById("strength").innerHTML = strength(cards[index], mezame, level)
   	document.getElementById("strength").style.color = attcolor[cards[index].attribute]
   	document.getElementById("Layer1").style.display = "block"
   }
   
   function hidedetail(){
   	document.getElementById("Layer1").style.display = "none"
   }
   
   function loadlist(rank){
   	currentrank = rank
   	document.getElementById("define").innerHTML = '3. '+definition[rank]
   	document.getElementById("result").style.display = ""
   	document.getElementById("rank").innerHTML = rank
   	rlist = ['r8','r7','r6','r5','r4','r48','r3','r38','t8','t88','t6','t68','t4','t48']
   	for (i in rlist){
   		document.getElementById(rlist[i]+'smile').innerHTML = ''
   		document.getElementById(rlist[i]+'pure').innerHTML = ''
   		document.getElementById(rlist[i]+'cool').innerHTML = ''
   		document.getElementById(rlist[i]).style.display = 'none'
   	}
   	chr = document.getElementById('chr').value
   	att = document.getElementById('att').value
   	cnhave = document.getElementById('cnhave').value
   	special = document.getElementById('special').value
      cardtype = document.getElementById('cardtype').value
   	for (index in cards){
   			if (!(((chr == "") || (cards[index].jpname.indexOf(nametojp[chr]) != -1)) && ((att == "") || (att == cards[index].attribute)) && ((cnhave == "") || (cnhave == cards[index].cnhave)) && ((special == "") || ((cards[index].smile != 0) && (special == 0)) || ((cards[index].special == 1) && (special == 1))) && ((cardtype == "") || (cards[index].type.indexOf(cardtype) != -1)) )){continue}
         if (cards[index].rarity == 'N')
            continue
   		if (cards[index].special == 1){
   			if (strengthlevel(strength(cards[index], 1, 0)) == rank){
   				document.getElementById("t"+String(raritynum(cards[index].rarity)+1)+cards[index].attribute).innerHTML += "<img src='"+cards[index].avatarpluspath+"' onmouseover='showdetail("+String(index)+", 1, 0)' onmouseout='hidedetail()'> "
   				document.getElementById("t"+String(raritynum(cards[index].rarity)+1)).style.display = ''
   			}
   			if (isrscore(cards[index]))
   				if (strengthlevel(strength(cards[index], 1, 7)) == rank){
   					document.getElementById("t"+String(raritynum(cards[index].rarity)+1)+'8'+cards[index].attribute).innerHTML += "<img src='"+cards[index].avatarpluspath+"' onmouseover='showdetail("+String(index)+", 1, 7)' onmouseout='hidedetail()'>"
   					document.getElementById("t"+String(raritynum(cards[index].rarity)+1)+'8').style.display = ''
   				}
   		}
   		else if (cards[index].rarity != 'R'){
   			if (strengthlevel(strength(cards[index], 0, 0)) == rank){
   				document.getElementById("r"+String(raritynum(cards[index].rarity))+cards[index].attribute).innerHTML += "<img src='"+cards[index].avatarpath+"' onmouseover='showdetail("+String(index)+", 0, 0)' onmouseout='hidedetail()'>"
   				document.getElementById("r"+String(raritynum(cards[index].rarity))).style.display = ''
   			}
   			if (strengthlevel(strength(cards[index], 1, 0)) == rank){
   				document.getElementById("r"+String(raritynum(cards[index].rarity)+1)+cards[index].attribute).innerHTML += "<img src='"+cards[index].avatarpluspath+"' onmouseover='showdetail("+String(index)+", 1, 0)' onmouseout='hidedetail()'>"
   				document.getElementById("r"+String(raritynum(cards[index].rarity)+1)).style.display = ''	
   			}
   		}
   		else{
   			if (strengthlevel(strength(cards[index], 1, 0)) == rank){
   				document.getElementById("r"+String(raritynum(cards[index].rarity)+1)+cards[index].attribute).innerHTML += "<img src='"+cards[index].avatarpluspath+"' onmouseover='showdetail("+String(index)+", 1, 0)' onmouseout='hidedetail()'>"
   				document.getElementById("r"+String(raritynum(cards[index].rarity)+1)).style.display = ''	
   			}
   			if (strengthlevel(strength(cards[index], 0, 0)) == rank){
   				document.getElementById("r"+String(raritynum(cards[index].rarity))+cards[index].attribute).innerHTML += "<img src='"+cards[index].avatarpath+"' onmouseover='showdetail("+String(index)+", 0, 0)' onmouseout='hidedetail()'>"
   				document.getElementById("r"+String(raritynum(cards[index].rarity))).style.display = ''	
   			}
   			if (isrscore(cards[index]))
   				if (strengthlevel(strength(cards[index], 1, 7)) == rank){
   					document.getElementById("r"+String(raritynum(cards[index].rarity)+1)+'8'+cards[index].attribute).innerHTML += "<img src='"+cards[index].avatarpluspath+"' onmouseover='showdetail("+String(index)+", 1, 7)' onmouseout='hidedetail()'>"
   					document.getElementById("r"+String(raritynum(cards[index].rarity)+1)+'8').style.display = ''	
   				}
   		}
   	}
   }
   
   function cskilltext(c){
   	if (parseInt(c.Cskillpercentage) == 3){
   		cpostfix = '的力量'
   		ceffect = c.attribute+'P小幅提升(+3%)'
   	}
   	else if (parseInt(c.Cskillpercentage) == 6){
   		cpostfix = '之心'
   		ceffect = c.attribute+'P提升(+6%)'
   	}
   	else if (parseInt(c.Cskillpercentage) == 9){
   		cpostfix = cskill[c.Cskillattribute]
   		ceffect = c.attribute+'P大幅提升(+9%)'
   	}
   	else if (parseInt(c.Cskillpercentage) == 12){
   		cpostfix = cskill[c.Cskillattribute]
   		ceffect = c.attribute+'P随着'+c.Cskillattribute+'P增加(+12%)'
   	}
   	return c.attribute+cpostfix+'<br>'+ceffect
   }

function skilltext(c, skilllevel){
   	t1 = ['', '秒','','个图标','combo','','个perfect','','','','','','个星星perfect']
      t2 = ['', '','','','稍微增强判定','增强判定','','','','回复','','增加']
      t3 = ['', '','','','秒','秒','','','','点体力','','分']
      skilldesc = "每"+c.skilldetail[skilllevel].require+t1[c.triggertype]+"有"+c.skilldetail[skilllevel].possibility+"%概率"+t2[c.skilleffect]+c.skilldetail[skilllevel].score+t3[c.skilleffect]
      return skilldesc
   }
   
   function changeLanguage(){
   	language = 1-language
   }
   </script>
   
   </head>
   <body>
   <nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="/">LLhelper</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li><a href="/">应用</a></li>
         <li class="active"><a href=#>卡片天梯</a></li>
         <li><a href="/about">关于</a></li>
      </ul>
   </div>
</nav>

<pre>
说明：
1. 点击左方天梯中对应的分级来显示该等级下的卡片，可以使用筛选功能，以及切换到国服进度、显示特典卡等。
2. 将鼠标移到卡片头像上来显示卡片详细属性
3. <a href="http://tieba.baidu.com/p/3677962320?see_lz=1">卡组养成攻略</a>
<p id="define">4. 点击分级后会在此处显示分级说明</p>
</pre>

<div style="float:left">
<img src="/static/ladder/ladder.png" usemap="#laddermap">
<map name=laddermap>
<area shape="rect" coords="0,13,100,48" onclick="loadlist('SS')">
<area shape="rect" coords="0,51,100,97" onclick="loadlist('S+')">
<area shape="rect" coords="0,100,100,140" onclick="loadlist('S')">
<area shape="rect" coords="0,170,100,203" onclick="loadlist('A+')">
<area shape="rect" coords="0,206,100,249" onclick="loadlist('A')">
<area shape="rect" coords="0,254,100,294" onclick="loadlist('A-')">
<area shape="rect" coords="0,298,100,336" onclick="loadlist('B+')">
<area shape="rect" coords="0,340,100,382" onclick="loadlist('B')">
<area shape="rect" coords="0,386,100,428" onclick="loadlist('B-')">
<area shape="rect" coords="0,432,100,474" onclick="loadlist('C+')">
<area shape="rect" coords="0,478,100,520" onclick="loadlist('C')">
<area shape="rect" coords="0,524,100,566" onclick="loadlist('C-')">
<area shape="rect" coords="0,570,100,622" onclick="loadlist('D+')">
<area shape="rect" coords="0,626,100,714" onclick="loadlist('D')">
</img><br>
<!--
<img src="/static/ladder/ss.png" onclick="loadlist('SS')"></img><br>
<img src="/static/ladder/s.png" onclick="loadlist('S')"></img><br>
<img src="/static/ladder/a+.png" onclick="loadlist('A+')"></img><br>
<img src="/static/ladder/a.png" onclick="loadlist('A')"></img><br>
<img src="/static/ladder/a-.png" onclick="loadlist('A-')"></img><br>
<img src="/static/ladder/B+.png" onclick="loadlist('B+')"></img><br>
<img src="/static/ladder/B.png" onclick="loadlist('B')"></img><br>
<img src="/static/ladder/B-.png" onclick="loadlist('B-')"></img><br>
<img src="/static/ladder/C+.png" onclick="loadlist('C+')"></img><br>
<img src="/static/ladder/C.png" onclick="loadlist('C')"></img><br>
<img src="/static/ladder/C-.png" onclick="loadlist('C-')"></img><br>
<img src="/static/ladder/D+.png" onclick="loadlist('D+')"></img><br>
<img src="/static/ladder/D.png" onclick="loadlist('D')"></img><br>-->
</div>
<div>
<div id="Layer1" style="position:absolute;display:none;position:absolute;z-index:1;">
<table border='1' style="text-align:center" bgcolor="#FFFFFF">
<tr bgcolor="#FFFFFF">
	<td id="cardname" colspan=4></td>
</tr>
<tr bgcolor="#FFFFFF">
	<td>smile</td>
	<td>pure</td>
	<td>cool</td>
	<td>强度</td>
</tr>
<tr bgcolor="#FFFFFF">
	<td id="smile" style="color:red"></td>
	<td id="pure" style="color:green"></td>
	<td id="cool" style="color:blue"></td>
	<td id="strength"></td>
</tr>
<tr bgcolor="#FFFFFF">
	<td id="skill" colspan=4></td>
</tr>
<tr bgcolor="#FFFFFF">
	<td id="Cskill" colspan=4></td>
</tr>
</table>

</div>
筛选：
	<select id="chr" name="chr" onchange="loadlist(currentrank)">
		<option value="">角色</option>
		<option value="高坂穗乃果">高坂穗乃果</option>
		<option value="绚濑绘里">绚濑绘里</option>
		<option value="南小鸟">南小鸟</option>
		<option value="园田海未">园田海未</option>
		<option value="星空凛">星空凛</option>
		<option value="西木野真姬">西木野真姬</option>
		<option value="东条希">东条希</option>
		<option value="小泉花阳">小泉花阳</option>
		<option value="矢泽妮可">矢泽妮可</option>
	</select>
	<select id="att" name="att" onchange="loadlist(currentrank)">
		<option value="">属性</option>
		<option value="smile">smile</option>
		<option value="pure">pure</option>
		<option value="cool">cool</option>
	</select>
	<select id="cnhave" name="cnhave" onchange="if (document.getElementById('cnhave').value=='') document.getElementById('special').value=0; else document.getElementById('special').value=''; loadlist(currentrank)">
		<option value="" SELECTED>日服进度</option>
		<option value=1 >国服进度</option>
	</select>
   <select id="cardtype" name="cardtype" onchange="loadlist(currentrank)">
      <option value="">卡片类型</option>
      <option value="活动卡">活动卡</option>
      <option value="登录奖励">登录奖励</option>
   </select>
	<select id="special" name="special" onchange="loadlist(currentrank)">
		<option value="" >是否特典卡</option>
		<option value=0 SELECTED>不是特典</option>
		<option value=1 >是特典</option>
	</select><input type="button" id="language" name="language" onclick="changeLanguage()" value="切换语言"></input><br>
<div id="result" style="display:none;text-align:center">



<table border='1' style="margin-right:120px;margin-bottom:100px">
<tr>
	<td id="rank"></td>
	<td>smile</td>
	<td>pure</td>
	<td>cool</td>
</tr>
<tr id='r8'>
	<td>★★★★★★★★</td>
	<td id='r8smile'></td>
	<td id='r8pure'></td>
	<td id='r8cool'></td>
</tr>
<tr id='t88'>
	<td>满级加分技能<br>特典<br>★★★★★★★★</td>
	<td id='t88smile'></td>
	<td id='t88pure'></td>
	<td id='t88cool'></td>
</tr>
<tr id='t8'>
	<td>特典<br>★★★★★★★★</td>
	<td id='t8smile'></td>
	<td id='t8pure'></td>
	<td id='t8cool'></td>
</tr>
<tr id='r7'>
	<td>★★★★★★★</td>
	<td id='r7smile'></td>
	<td id='r7pure'></td>
	<td id='r7cool'></td>
</tr>
<tr id='r6'>
	<td>★★★★★★</td>
	<td id='r6smile'></td>
	<td id='r6pure'></td>
	<td id='r6cool'></td>
</tr>
<tr id='t68'>
	<td>满级加分技能<br>特典<br>★★★★★★</td>
	<td id='t68smile'></td>
	<td id='t68pure'></td>
	<td id='t68cool'></td>
</tr>
<tr id='t6'>
	<td>特典<br>★★★★★★</td>
	<td id='t6smile'></td>
	<td id='t6pure'></td>
	<td id='t6cool'></td>
</tr>
<tr id='r5'>
	<td>★★★★★</td>
	<td id='r5smile'></td>
	<td id='r5pure'></td>
	<td id='r5cool'></td>
</tr>
<tr id='r48'>
	<td>满级加分技能<br>★★★★</td>
	<td id='r48smile'></td>
	<td id='r48pure'></td>
	<td id='r48cool'></td>
</tr>
<tr id='r4'>
	<td>★★★★</td>
	<td id='r4smile'></td>
	<td id='r4pure'></td>
	<td id='r4cool'></td>
</tr>
<tr id='t48'>
	<td>满级加分技能<br>特典<br>★★★★</td>
	<td id='t48smile'></td>
	<td id='t48pure'></td>
	<td id='t48cool'></td>
</tr>
<tr id='t4'>
	<td>特典<br>★★★★</td>
	<td id='t4smile'></td>
	<td id='t4pure'></td>
	<td id='t4cool'></td>
</tr>
<tr id='r38'>
	<td>满级加分技能<br>★★★</td>
	<td id='r38smile'></td>
	<td id='r38pure'></td>
	<td id='r38cool'></td>
</tr>
<tr id='r3'>
	<td>★★★</td>
	<td id='r3smile'></td>
	<td id='r3pure'></td>
	<td id='r3cool'></td>
</tr>

</table>
</div>
</div>
</body>
</html>