{% extends "layout.html" %}

{% set category="队伍编成和强度" %}
{% set category_link="/#unit-formation" %}
{% set title="最优宝石配置计算" %}

{% block additional_header %}
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}?v=1.01"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='llsong.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='lldata.js') }}"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
   <style type="text/css">
   	img {height:65px;width:65px}
   </style>
{% endblock %}

{% block script %}
   <script>
   var regS = new RegExp("&#34;", "g")
   var regS2 = new RegExp("&#39;", "g")
   var regSand = new RegExp("&amp;", "g")
   var songsjson = "{{songsjson}}".replace(regS,'"').replace(regS2, "'").replace(regSand, '&')
   var llsong = new LLSong(songsjson);

   var mezame = 0
   var language = 0
   var kizuna = new Array();
   kizuna["N"] = [25, 50]
   kizuna["R"] = [100, 200]
   kizuna["SR"] = [250, 500]
   kizuna["SSR"] = [375, 750]
   kizuna["UR"] = [500, 1000]
   unitgradechr = [[],
                  ["星空凛","西木野真姫","小泉花陽","津島善子","国木田花丸","黒澤ルビィ"],
                  ["高坂穂乃果","南ことり","園田海未","高海千歌","桜内梨子","渡辺曜"],
                  ["絢瀬絵里","東條希","矢澤にこ","松浦果南","黒澤ダイヤ","小原鞠莉"],
                  ["高坂穂乃果","絢瀬絵里","南ことり","園田海未","星空凛","西木野真姫","東條希","小泉花陽","矢澤にこ"],
                  ["高海千歌","桜内梨子","松浦果南","黒澤ダイヤ","渡辺曜","津島善子","国木田花丸","小原鞠莉","黒澤ルビィ"],
                  ["高坂穂乃果","南ことり","小泉花陽"],
                  ["園田海未","星空凛","東條希"],
                  ["絢瀬絵里","西木野真姫","矢澤にこ"],
                  ["高海千歌","渡辺曜","黒澤ルビィ"],
                  ["松浦果南","黒澤ダイヤ","国木田花丸"],
                  ["桜内梨子","津島善子","小原鞠莉"]]

   
	attr = new Array();//↓成员属性值*0
	HN = new Array();//每张卡的槽数//↓z0
	grade = new Array();//↓每个成员的年级*
	Match_c = new Array(0,0,0,0,0,0,0,0,0);//是否满足副c
	skillP = new Array();//z
	skind = new Array();//z0
	var Precal=false;
	comb=[];
	arms=new Array();//√
	P_up=new Array();//每个成员的对应宝石贡献属性增值
	P_sum = 0;
	Sum_Max_Mem=0;
	MPM=new Array();
	Team_Method=[];
	Current_MP=0;
	IsPrecalced=false;
	gradecount=new Array();
	skillcount=new Array();
	SNum = new Array();//↓每种宝石的数量*z0
   currslot=0;

   var defer_onload = $.Deferred();
   var comp_skill = 0;
   var comp_cardselector = 0;
   $.when(LLCardData.getAllBriefData(), defer_onload).then(function (cardData) {
      // init components
      comp_skill = new LLSkillContainer();
      comp_cardselector = new LLCardSelector(cardData);
      comp_cardselector.onCardChange = LLUnit.applycarddata;
      init();

      // load cookie
      comp_cardselector.loadCookie('llnewunitsis_cardselector');

      // addition script
      {{additional_script|safe}}

      // done
      document.getElementById('loadingbox').style.display = 'none';
   }, defaultHandleFailedRequest);

   function threetonumber(three){
      var result = three
      if (result == '0') {
         return 0;
      }
      if (result[0] == '0') {
         result = result[1]+result[2]
      }
      if (result[0] == '0') {
         result = result[1]
      }
      return result
   }

   pos = -1
   function changepos(i){
      if (pos==-1){
         document.getElementById('pos'+String(i)).value = '选择' 
         pos = i
      }
      else{
         document.getElementById('pos'+String(pos)).value = '换位'+String(pos+1)
         swaplist = ['cardid','mezame','main','smile','pure','cool','skilllevel','gemnum','gemsinglepercent','gemallpercent','gemskill','gemacc','maxcost']
         for (j in swaplist){
            at = swaplist[j]
            tmp = document.getElementById(at+String(pos)).value
            document.getElementById(at+String(pos)).value = document.getElementById(at+String(i)).value
            document.getElementById(at+String(i)).value = tmp
         } 
	 calslot(pos)
	 calslot(i)
         LLUnit.changeavatarn(pos)
         LLUnit.changeavatarn(i)
         pos = -1 
      }
   }

   function changemapcolor(attr) {
      if (attr === undefined) attr = document.getElementById('map').value;
      // do not update base, secondbase, bonus, because they are set by center
      document.getElementById('map').style.color = llsong.attcolor[attr];
      if (attr == llsong.getSongAttr()) document.getElementById('songchoice').style.color = llsong.attcolor[attr];
      document.getElementById('secondbase2').innerHTML = attr;
      if (document.getElementById("percentage2").value != 12) document.getElementById('base2').value = attr;
      document.getElementById('bonus2').value = attr;
   }

   function applysongdata() {
      var handleTime = function(t) { document.getElementById("time").value = (t ? t : 110); };
      var handlePerfect = function(combo) { document.getElementById("perfect").value = parseInt(combo*19/20); };
      var handleStar = function() { document.getElementById("starperfect").value = 0; };
      var handleWeight = function(w) { for (var i = 0; i < 9; i++) { document.getElementById("weight"+i).value = parseFloat(w[i]); } };
      var applyTarget = {
         'attribute': ['map', changemapcolor],
         'combo': ['combo', handlePerfect],
         'time': [handleTime],
         'star': [handleStar],
         'positionweight': [handleWeight]
      };
      llsong.applyDataOfSongWithDiff(applyTarget);
   }

   function calslot(n){
      result = 0
      result += parseInt(parseInt(document.getElementById("gemnum"+String(n)).value)/200)
      result +=  parseInt(parseFloat(document.getElementById("gemsinglepercent"+String(n)).value)/0.05)
      result +=  parseInt(parseFloat(document.getElementById("gemallpercent"+String(n)).value)/0.0059)
      result += parseInt(parseInt(document.getElementById("gemskill"+String(n)).value)*4)
      result += parseInt(parseInt(document.getElementById("gemacc"+String(n)).value)*4)
      document.getElementById("slot"+String(n)).innerHTML = result
   }

   function changeLanguage(){
      language = 1-language
      llsong.language = language;
      llsong.onSongFilterChange();
      comp_cardselector.setLanguage(language);
   }
   
   function toMezame(){
   	mezame = 1-mezame
   	//changecolor()
      LLUnit.applycarddata();
   }


   function clearall(){
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		setCookie(inputs[i].name+"unit", inputs[i].value, -1);
   	}
   	for (var i=0; i<selects.length; i++){
   		setCookie(selects[i].name+"unit", selects[i].value, -1);
   	}
   	setCookie("mezame"+"unit", mezame, -1)
      comp_cardselector.deleteCookie('llnewunitsis_cardselector');
   	window.location.href="/llnewunitsis"
   }

   function makeSaveData() {
      var member = [{}, {}, {},{},{},{},{},{},{},{}];
      var saveatt = ['smile', 'pure', 'cool', 'skilllevel', 'cardid', 'mezame', 'gemnum', 'gemsinglepercent', 'gemallpercent', 'gemskill', 'gemacc','maxcost'];
      for (var i=0; i<9; i++){
         for (var j in saveatt){
            member[i][saveatt[j]] = document.getElementById(saveatt[j]+String(i)).value
         }
      }
      for (var i=1; i<16; i++){
         var ele = document.getElementById('sis'+String(i));
         member[9][i] = (ele ? ele.value : 9);
      }
      return new LLSaveData(member);
   }

   function saveunit(){
      var saveData = makeSaveData();
      var unitjson = saveData.serializeV2();
      window.location.href="/llsaveunit/"+unitjson;
   }

   function handleLoadUnit(unit) {
      var saveData = new LLSaveData(unit);
      console.log(saveData);
      var attlist = ['smile', 'pure', 'cool', 'skilllevel', 'cardid', 'mezame', 'gemnum', 'gemsinglepercent', 'gemallpercent', 'gemskill', 'gemacc', 'maxcost'];
      for (var i = 0; i < 9; i++) {
         var member = saveData.teamMember[i];
         if (!member) continue;
         for (var j in attlist) {
            var att = attlist[j];
            var value = 0;
            if (member && member[att] !== undefined) value = member[att];
            document.getElementById(att + i).value = value;
         }
         if (member && member.cardid) {
            document.getElementById("main" + i).value = comp_cardselector.cards[member.cardid].attribute;
         }
         LLUnit.changeavatarn(i);
         calslot(i);
      }
      LLUnit.changecenter();
      precalcu();
      if (saveData.hasGemStock) {
         var gemStock = saveData.getLegacyGemStock();
         for (var i = 1; i < 16; i++) {
            document.getElementById("sis" + i).value = gemStock[i];
         }
      }
   }

   function loadunit(){
   	document.getElementById("unitform").action = '/llload/parent.handleLoadUnit'
   	document.getElementById("unitform").target = 'if'
   }
   
   function precalcu(){
   	document.getElementById("unitform").action = ''
   	document.getElementById("unitform").target = ''
   }
   
   function init(){
      mezame = getCookie("mezameunit")
      language = getCookie("languageunit")
      if (mezame == "") mezame = 0; else mezame = parseInt(mezame);
      if (language == "")
         language = 0

      llsong.language = language;
      llsong.onDiffSelectChange = applysongdata;
      llsong.showAllSongs();
      llsong.initListeners();
      llsong.initAttrSelectColor('map');

   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		if (inputs[i].type == "text")
   			if (getCookie(inputs[i].name+"unit") != "")
   				inputs[i].value = getCookie(inputs[i].name+"unit");
   	}
   	for (var i=0; i<selects.length; i++){
         if (comp_cardselector.getComponent(selects[i].id)) continue;
   		if (getCookie(selects[i].name+"unit") != "")
   			selects[i].value = getCookie(selects[i].name+"unit");
   	}
      document.getElementById("mezame").checked = mezame
   	for (i = 0; i < 9; i++){
   		LLUnit.changeavatarn(i)
         calslot(i)
   	}
      
         document.getElementById("songsearch").value = ""
         // above codes may select songs/cards/filters according to cookies, so refresh it...
         llsong.onSongFilterChange();
   }
   
   function saveToCookie(){
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		if (inputs[i].type == "text")
   			setCookie(inputs[i].name+"unit", inputs[i].value, 1);
   	}
   	for (var i=0; i<selects.length; i++){
   		setCookie(selects[i].name+"unit", selects[i].value, 1);
   	}
   	setCookie("mezame"+"unit", mezame, 1)
   	setCookie("language"+"unit", language, 1)
      comp_cardselector.saveCookie('llnewunitsis_cardselector');
   }
   
   ///////////
   function autoarm(){
      if(document.getElementById('autoarm0').checked){
         document.getElementById("sisreserves").style.display = '';
         if(IsPrecalced==false){
            calc_arms();
            IsPrecalced=true;
         }
      }
      else{
         document.getElementById("sisreserves").style.display = 'none';
      }
   }
   ////////
   function Sis_get_Data(){
	//获取主唱
	var Psong=document.getElementById("map").value;
	for(var i=0;i<9;i++){
		attr[i]=parseInt(document.getElementById(Psong+String(i)).value);
		HN[i]=parseInt(document.getElementById("maxcost"+String(i)).value);
		if(HN[i]>8){
			HN[i]=8;
			document.getElementById("maxcost"+String(i)).value="8";
		}
		if(HN[i]<=0){
			HN[i]=1;
			document.getElementById("maxcost"+String(i)).value="1";
		}
	}
	SNum[0]=9;
	for(var i=1;i<16;i++){
		SNum[i]=parseInt(document.getElementById("sis"+i.toString()).value);
		if(SNum[i]>9) SNum[i]=9;
		if(SNum[i]<0) SNum[i]=0;
		}
	for(var i=0;i<9;i++){
//		skillP[i]=parseInt(document.getElementById("skillstrength"+String(i)).value);
		if(skind[i]<3) skillP[i]=skillP[i]*3/5;
	}
	}
	//////////////////////*******************
	cost = new Array( 1,2,2,3,3,4,4 );

function arm_sis(mp,mc,Mem) {
	var s = mp.split('');
	var p = Team_Method[Mem][mp].strength;
	for (var x in comb[mc]) {//确定要扣哪一个宝石
		var xx=0;
		if (comb[mc][x] < 2) xx = comb[mc][x];
		if (comb[mc][x] == 2) xx = grade[Mem] + 1;
		if (comb[mc][x] == 3) xx = grade[Mem] + 4;
		if (comb[mc][x] == 4 || comb[mc][x] == 5) xx = comb[mc][x] + 4;
		if (comb[mc][x] == 6) xx = skind[Mem] + 10;
		if((comb[mc][x] == 6) && skind[Mem]==6) return false;
		if (s[xx] == '-') {
			p += P_up[Mem][comb[mc][x]];
		}
		if (s[xx] > '0'&&s[xx]<'9') {
			s[xx] -= 1;
			p += P_up[Mem][comb[mc][x]];
		}
		else if (s[xx] == '0') return false;
	}
	for (ii = 0; ii < 16; ii++) {
		if ((s[ii] != '-') && ((s[ii] - '0') >= (8 - Mem))) {
			s[ii] = '-';
		}
	}
	if((s[grade[Mem]+1]-'0')>=(gradecount[grade[Mem]-1]-1)) s[grade[Mem]+1]='-';
	if((s[grade[Mem]+4]-'0')>=(gradecount[grade[Mem]-1]-1)) s[grade[Mem]+4]='-';
	if(skind[Mem]<6){
		if((s[skind[Mem]+10]-'0')>=(skillcount[skind[Mem]]-1)) s[skind[Mem]+10]='-';
	}
	s=s.join('');
	if(typeof Team_Method[Mem+1][s]=== 'undefined'){
		Team_Method[Mem+1][s]={strength:p,premethod:mp,currmethod:mc};
	}
	else{
		if(Team_Method[Mem+1][s].strength<p){
			Team_Method[Mem+1][s]={strength:p,premethod:mp,currmethod:mc};
		}
	}
	if (p > Current_MP) Current_MP = p;
	return true;
}
function calc_arms(){
	arms[0]=0;
	for (i = 1; i < 9; i++) {
		arms[i]=new Array();
		arms[i][0]=0;
		for (j = 1; j < 128; j++) {
			var m = 0;
			var sc = 0;
			var x = j;
			var sv=new Array();
			while (x >= 1) {
				sc += (x % 2)*cost[m];
				if (x % 2 == 1) sv.push(m);
				x = parseInt(x/2);
				m++;
			}
			if(sc<i && ((j%2)==0)) continue;
			if (sc <= i) {
				if(typeof comb[j]=== 'undefined')
					comb[j]=sv;
				arms[i].push(j);
			}
		}
	}
}
function P_Matrix(){
	var P_sumtri=0;
	var P_sumfor=0;
	for (i = 0; i < 9; i++){
		pa=Math.ceil(attr[i]*0.018);
		pa=Math.ceil(pa*(1 + Match_c[i]));
		pb=Math.ceil(attr[i]*0.024);
		pb=Math.ceil(pb*(1 + Match_c[i]));
		P_sumtri+=pa;
		P_sumfor+=pb;
		}
	for (i = 0; i < 9; i++) {
		P_up[i]=new Array();
		P_up[i][0] = 200 * (1.0 + Match_c[i]);
		P_up[i][1] = 450 * (1.0 + Match_c[i]);
		P_up[i][2] = 0.1*(1.0 + Match_c[i])*attr[i];
		P_up[i][3] = 0.16*(1.0  + Match_c[i])*attr[i];
		P_up[i][4] = P_sumtri;
		P_up[i][5] = P_sumfor;
		P_up[i][6] = skillP[i];
	}//书写宝石强度加成矩阵
}
function calc_MPM() {
	for (i = 0; i < 9; i++) {
		var MPi = 0;
		for (var j in arms[HN[i]]) {
			var p=0;
			for (var x in comb[arms[HN[i]][j]]) {
				p += P_up[i][comb[arms[HN[i]][j]][x]];
			}
			if (MPi < p) MPi = p;
		}
		MPM[i] = MPi;
		Sum_Max_Mem += MPi;
	}
}


function calc_bestarm(){
	for(var i=0;i<9;i++){
		gradecount[grade[i]-1]++;
		skillcount[skind[i]]++;
		}
	//递归开始
	
	var o_sis=new Array();
	o_sis[0]='-';
	for (i = 1; i < 16; i++) {
		if (SNum[i] >= 9) o_sis[i] = '-';
		else o_sis[i] = SNum[i];
	}
	for(i=0;i<3;i++){
	if(SNum[i+2]>=gradecount[i]) o_sis[i+2] = '-';
	if(SNum[i+5]>=gradecount[i]) o_sis[i+5] = '-';
	}
	for(i=0;i<6;i++){
	if(SNum[i+10]>skillcount[i]) o_sis[i+10] = '-';
	}
	o_sis=o_sis.join('');
	Team_Method[0]=[];
	Team_Method[0][o_sis]={strength:0,premethod:"",currmethod:0};
	
	for (i = 1; i < 10; i++) {
		Team_Method[i]=[];
		for(mp in Team_Method[i - 1]){
			if ((Current_MP - Team_Method[i - 1][mp].strength) > Sum_Max_Mem) continue;//
			var smp = mp.split('');
			for (ii = 0; ii<16; ii++) {
				if ((smp[ii] != '-') && ((smp[ii] - '0') >= (9 - i)))
					smp[ii] = '-';
			}
			if((smp[grade[i-1]+1]-'0')>=(gradecount[grade[i-1]-1]-1)) smp[grade[i-1]+1]='-';
			if((smp[grade[i-1]+4]-'0')>=(gradecount[grade[i-1]-1]-1)) smp[grade[i-1]+4]='-';
			if(skind[i-1]<6){
				if((smp[skind[i-1]+10]-'0')>=(skillcount[skind[i-1]]-1)) smp[skind[i-1]+10]='-';
			}
			smp=smp.join('');
			if(typeof Team_Method[i][smp]=== 'undefined'){
				Team_Method[i][smp]={strength:Team_Method[i-1][mp].strength,premethod:mp,currmethod:0};
				}
			else if(Team_Method[i][smp].strength<Team_Method[i-1][mp].strength){
				Team_Method[i][smp]={strength:Team_Method[i-1][mp].strength,premethod:mp,currmethod:0};
			}
			for(var mc in arms[HN[i - 1]]){//当前配石方案下计算每一列 mc配石方案标号 mp已有配石所剩余石头标号 
				arm_sis(mp, arms[HN[i - 1]][mc], i - 1);
			}
		}
		Sum_Max_Mem -= MPM[i - 1];
		gradecount[grade[i-1]-1]--;
		skillcount[skind[i-1]]--;
	}
//递归结束

	var max_p = 0;
	var max_s;
	for (mp in Team_Method[9]) {//找到最大的内个
		if (max_p < Team_Method[9][mp].strength) {
			max_p = Team_Method[9][mp].strength;
			max_s = mp;
		}
	}
	var p_s = max_s;
	for (i = 9; i > 0; i--) {
		gnx=0;
		gspx=0;
		gapx=0;
		gsx=0;
		for(x in comb[Team_Method[i][p_s].currmethod]){
			if(comb[Team_Method[i][p_s].currmethod][x]==0) gnx+=200;
			if(comb[Team_Method[i][p_s].currmethod][x]==1) gnx+=450;
			if(comb[Team_Method[i][p_s].currmethod][x]==2) gspx+=10;
			if(comb[Team_Method[i][p_s].currmethod][x]==3) gspx+=16;
			if(comb[Team_Method[i][p_s].currmethod][x]==4) gapx+=18;
			if(comb[Team_Method[i][p_s].currmethod][x]==5) gapx+=24;
			if(comb[Team_Method[i][p_s].currmethod][x]==6) gsx=1;
		}
		document.getElementById("gemnum"+String(i-1)).value=String(gnx);
		document.getElementById("gemsinglepercent"+String(i-1)).value=String(gspx/100);
		document.getElementById("gemallpercent"+String(i-1)).value=String(gapx/1000);
		document.getElementById("gemskill"+String(i-1)).value=String(gsx);
		p_s = Team_Method[i][p_s].premethod;
	}
	}
   ////////*******************
   function check(){
   	var inputs = document.getElementsByTagName("input");
   	for (i in inputs){
   		if ((inputs[i].type != "text") || (inputs[i].name == "songsearch"))
   			continue
   		if (!isNumber(inputs[i].value)){
   			alert("请输入数字");
   			return false;
   		}
   	}
   	saveToCookie();
      var handle_calculate = function(cards) {
         /////////////
         if(document.getElementById('autoarm0').checked){
            Sum_Max_Mem=0;
            Current_MP=0;
            Team_Method=[];
            for(var i=0;i<9;i++){
               document.getElementById("gemskill"+String(i)).value="1";
               Match_c[i]=0;
            }
            for(var i=0;i<3;i++) gradecount[i]=0;
            for(var i=0;i<6;i++) skillcount[i]=0;
		
            Precal=true;
            docalculate(cards);
            Precal=false;
            Sis_get_Data();
            P_Matrix();
            calc_MPM();
            calc_bestarm();
         }
	 /////////////////////
         docalculate(cards);
         document.getElementById("result").scrollIntoView()
      }
      LLUnit.calculate(handle_calculate);
      return true;
   }

   function docalculate(cards) {
      var result = {};
      var int_element = ["cardid", "smile", "pure", "cool", "skilllevel", 'gemnum', 'gemskill', 'gemacc'];
      var float_element = ["weight",'gemsinglepercent','gemallpercent'];
      var sel_element = ['base', 'base2', 'bonus', 'bonus2', 'map'];
      var sel_int = ['percentage', 'percentage2', 'secondlimit', 'secondlimit2', 'secondpercentage', 'secondpercentage2', 'combo', 'perfect', 'starperfect', 'time', 'skillup', 'tapup'];
      var sel_float = [];
      var atts = ['smile', 'pure', 'cool'];
      var member = [{}, {}, {}, {}, {}, {}, {}, {}, {}];
      var mapcenter = {};
      var llmembers = [];
      var weights = [];

      mapcenter['secondbase'] = document.getElementById('map').value
      mapcenter['secondbase2'] = document.getElementById('map').value
      for (var i = 0; i < sel_int.length; i++) {
         mapcenter[sel_int[i]] = parseInt(document.getElementById(sel_int[i]).value);
      }
      for (var i = 0; i < sel_float.length; i++) {
         mapcenter[sel_float[i]] = parseFloat(document.getElementById(sel_float[i]).value);
      }
      for (var i = 0; i < sel_element.length; i++) {
         mapcenter[sel_element[i]] = document.getElementById(sel_element[i]).value;
      }

      var mainatt = mapcenter['map']

      for (var i = 0; i < 9; i++) {
         for (var j = 0; j < int_element.length; j++) {
            member[i][int_element[j]] = parseInt(document.getElementById(int_element[j] + i.toString()).value);
         }
         for (var j = 0; j < float_element.length; j++) {
            member[i][float_element[j]] = parseFloat(document.getElementById(float_element[j] + i.toString()).value);
         }
         if(Precal)  member[i]['gemskill']=1; 
         var llsisgems = [];
         llsisgems = llsisgems.concat(LLSisGem.parseSADD(document.getElementById('gemnum'+i).value, mainatt));
         llsisgems = llsisgems.concat(LLSisGem.parseSMUL(parseFloat(document.getElementById('gemsinglepercent'+i).value)*100, mainatt));
         llsisgems = llsisgems.concat(LLSisGem.parseAMUL(parseFloat(document.getElementById('gemallpercent'+i).value)*100, mainatt));
         if (parseInt(document.getElementById('gemskill' + i).value) == 1 || Precal) {
            llsisgems.push(new LLSisGem(LLSisGem.SCORE_250, {'color': mainatt}));
         }
         if (parseInt(document.getElementById('gemacc' + i).value) == 1) {
            llsisgems.push(new LLSisGem(LLSisGem.EMUL_33, {'color': mainatt}));
         }
         member[i]['card'] = cards[member[i]['cardid']];
         member[i].gems = llsisgems;
         llmembers.push(new LLMember(member[i]));
         weights.push(member[i].weight);

         member[i]["main"] = document.getElementById("main" + i.toString()).value;
         member[i]["skill"] = LLUnit.cardtoskilltype(cards[member[i]["cardid"]])
	 if((member[i]["skill"]==1) || (member[i]["skill"]==2) ||(member[i]["skill"]==3) ||(member[i]["skill"]==4) ||(member[i]["skill"]==10) ||(member[i]["skill"]==11)){
		if(member[i]["main"]=="smile") skind[i]=0;
		if(member[i]["main"]=="pure") skind[i]=1;
		if(member[i]["main"]=="cool") skind[i]=2;
	}
	else if(member[i]["skill"]==7 || member[i]["skill"]==8 ||member[i]["skill"]==9 ||member[i]["skill"]==13){
		if(member[i]["main"]=="smile") skind[i]=3;
		if(member[i]["main"]=="pure") skind[i]=4;
		if(member[i]["main"]=="cool") skind[i]=5;
	}
	else skind[i]=6;

         member[i]["require"] = cards[member[i]["cardid"]]['skilldetail'][member[i]['skilllevel']-1].require
         member[i]["possibility"] = cards[member[i]["cardid"]]['skilldetail'][member[i]['skilllevel']-1].possibility
         member[i]["score"] = cards[member[i]["cardid"]]['skilldetail'][member[i]['skilllevel']-1].score
         sk = member[i]["skill"]
         if ((sk == 1) || (sk == 2) || (sk == 3) || (sk == 4) || (sk == 11)|| (sk == 10)){
            member[i]["score"] *= (1+1.5*parseInt(member[i]['gemskill']))
            member[i]["score"] = Math.ceil(member[i]["score"])
         } else if ((sk == 5) || (sk == 6) || (sk == 12)) {
            member[i]["score"] = cards[member[i]["cardid"]]['skilldetail'][member[i]['skilllevel']-1].time
         }
      }

      var llteam = new LLTeam(llmembers);
      var friendcskill = {
        "Csecondskillattribute": parseInt(mapcenter.secondpercentage2),
        "Csecondskilllimit": parseInt(mapcenter.secondlimit2),
        "Cskillattribute": mapcenter.base2,
        "Cskillpercentage": parseInt(mapcenter.percentage2),
        "attribute": mapcenter.bonus2
      };
      var song = llsong.songs[document.getElementById('songchoice').value];
      var songunit = 0;
      if (song.muse) {
         songunit = 4;
      } else if (song.aqours) {
         songunit = 5;
      }
      llteam.calculateAttributeStrength(mainatt, songunit, friendcskill, weights);
      llteam.calculateSkillStrength(mapcenter.time, mapcenter.combo, mapcenter.perfect, mapcenter.starperfect, mapcenter.tapup, mapcenter.skillup);

      document.getElementById('resultsmile').innerHTML = llteam.finalAttr.smile + ' (+' + llteam.bonusAttr.smile + ')';
      document.getElementById('resultpure').innerHTML = llteam.finalAttr.pure + ' (+' + llteam.bonusAttr.pure + ')';
      document.getElementById('resultcool').innerHTML = llteam.finalAttr.cool + ' (+' + llteam.bonusAttr.cool + ')';

      for (var i = 0; i < 9; i++) {
         document.getElementById('attstrength'+String(i)).innerHTML = llteam.attrStrength[i];
         document.getElementById('cardstrengthdebuff'+String(i)).innerHTML = -llteam.attrDebuff[i];
      }

      if (document.getElementById('distribution').checked && (!Precal)){
         var t0 = window.performance.now();

         var percentiles = [1, 2, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 95, 98, 99];
         var err = llteam.calculateScoreDistribution();
         if (err) {
            document.getElementById('errorresult').innerHTML = err;
            document.getElementById('errorresult').style.display = '';
         } else {
            llteam.calculatePercentileNaive();
            document.getElementById('errorresult').style.display = 'none';
         }
         var t1 = window.performance.now();

         console.debug('Elapesd time (ms): ' + (t1 - t0).toFixed(3));
         document.getElementById('averagescore').innerHTML = llteam.naiveExpection;
         for (var i in percentiles){
            document.getElementById('simresult'+(100-percentiles[i]).toString()).innerHTML = llteam.naivePercentile[percentiles[i]];
         }
         document.getElementById('maxscoreprobability').innerHTML = '(' + (llteam.probabilityForMaxScore * 100) + ')%';
         document.getElementById('minscoreprobability').innerHTML = '(' + (llteam.probabilityForMinScore * 100) + ')%';
         document.getElementById('simresult0').innerHTML = llteam.maxScore;
         document.getElementById('simresult100').innerHTML = llteam.minScore;
         document.getElementById('distributionresult').style.display = '';
      } else {
         document.getElementById('averagescore').innerHTML = llteam.averageScore;
         document.getElementById('distributionresult').style.display = 'none';
         document.getElementById('errorresult').style.display = 'none';
      }

      document.getElementById('averageheal').innerHTML = LLUnit.healNumberToString(llteam.averageHeal);

      var minStrength = 0, minStrengthIndex = -1;
      var minCardStrength = 0, minCardStrengthIndex = -1;
      for (var i=0;i<9;i++){
         var curCardStrength = llteam.attrStrength[i]+llteam.avgSkills[i].strength;
         var curStrength = curCardStrength - llteam.attrDebuff[i];
         document.getElementById('cardstrength'+String(i)).innerHTML = curCardStrength.toString();
         document.getElementById('cardstrength'+String(i)).style.color = '';
         document.getElementById('strength'+String(i)).innerHTML = curStrength.toString();
         document.getElementById('strength'+String(i)).style.color = '';
         document.getElementById('skillstrength'+String(i)).innerHTML = llteam.avgSkills[i].strength;
         document.getElementById('heal'+String(i)).innerHTML = LLUnit.healNumberToString(llteam.avgSkills[i].averageHeal);

         if (minCardStrengthIndex < 0 || curCardStrength < minCardStrength) {
            minCardStrength = curCardStrength;
            minCardStrengthIndex = i;
         }
         if (minStrengthIndex < 0 || curStrength < minStrength) {
            minStrength = curStrength;
            minStrengthIndex = i;
         }
         if(Precal) skillP[i]=llteam.avgSkills[i].strength;
         //TODO: move to when best gem is found
         calslot(i);
      }
      document.getElementById('resultstrength').innerHTML = llteam.totalStrength + ' (属性 ' + llteam.totalAttrStrength + ' + 技能 ' + llteam.totalSkillStrength + ')';
      //document.getElementById('averageaccuracy').innerHTML = (totalaccuracy*100).toFixed(1).toString()+'%'

      document.getElementById('strength'+String(minStrengthIndex)).style.color = 'red';
      document.getElementById('cardstrength'+String(minCardStrengthIndex)).style.color = 'red';

      llteam.calculateMic();
      var micDisplayValue = llteam.micNumber;
      var micDisplayString = micDisplayValue % 1 === 0.0 ? micDisplayValue.toLocaleString() : Math.floor(micDisplayValue).toLocaleString() + ' 或 ' + (Math.floor(micDisplayValue) + 1)

      document.getElementById('resultmic').innerHTML = micDisplayString + ' (' + (llteam.micPoint / 100).toLocaleString() + (micDisplayValue % 1 === 0.0 ? '' : ', 该数值对应的援力暂时未知, 欢迎反馈') + ')';

      document.getElementById('result').style.display = ""
      document.getElementById("result").scrollIntoView()



      ////////////////
      rawmember = [0,0,0,0,0,0,0,0,0]
      for (var i = 0; i < 9; i++) {
         tmp = new Array()
         tmp['smile'] = member[i]['smile']
         tmp['pure'] = member[i]['pure']
         tmp['cool'] = member[i]['cool']
         rawmember[i] = tmp
      }
      //数值和单体百分比宝石
      for (var i = 0; i < 9; i++) {
         origin = member[i][mainatt]
         member[i][mainatt] += member[i]["gemnum"]
         if (member[i]["gemsinglepercent"] > 0.2){
            member[i][mainatt] += Math.ceil(0.1*origin)+Math.ceil(0.16*origin)
         }
         else {
            member[i][mainatt] += Math.ceil(member[i]["gemsinglepercent"]*origin)
         }
         
      }
      //i带全体宝石，给j加
      for (var i = 0; i < 9; i++) {
         for (var j = 0;j < 9;j ++){
            if (member[i]["gemallpercent"] > 0.04){
               member[j][mainatt] += Math.ceil(0.018*rawmember[j][mainatt])+Math.ceil(0.024*rawmember[j][mainatt])
            }
            else{
               member[j][mainatt] += Math.ceil(member[i]["gemallpercent"]*rawmember[j][mainatt])
            }
         }
      }

      //主c技能
      for (var i = 0; i < 9; i++) {
	  if(Precal){
	  for(var g=1;g<=3;g++){
			for(var j in unitgradechr[g]){
				if(unitgradechr[g][j]==cards[member[i]["cardid"]]["jpname"]){
					grade[i]=g;
				}
			}
		}
	  }
         if (mapcenter['base'] == mainatt){
		//////////
		if(Precal&&(mapcenter['bonus']==mainatt)) Match_c[i]+=(mapcenter['percentage']/100);
		//////////
         }
      }
      //副c技能
      for (var i = 0; i < 9; i++) {
         if (comp_cardselector.isInUnitGroup(mapcenter['secondlimit'], cards[member[i]["cardid"]]["jpname"])){
		 ////////////////////
		if(Precal&&(mapcenter['bonus']==mainatt)) Match_c[i]+=(mapcenter['secondpercentage']/100);
		//////////////////////
         }

      }
      //好友主c技能
      for (var i = 0; i < 9; i++) {
         if (mapcenter['base2'] == mainatt){
		 //////////
		if(Precal &&(mapcenter['bonus2']==mainatt)) Match_c[i]+=(mapcenter['percentage2']/100);
		//////////
         }
      }
      //好友副c技能
      for (var i = 0; i < 9; i++) {
         if (comp_cardselector.isInUnitGroup(mapcenter['secondlimit2'], cards[member[i]["cardid"]]["jpname"])){
		 ////////////////////
		if(Precal &&(mapcenter['bonus2']==mainatt)) Match_c[i]+=(mapcenter['secondpercentage2']/100);
		//////////////////////
         }
      }
   }

   function callback(){
   	alert('4')
   }
   </script>
{% endblock %}

{% block body_onload %}
   <body onload="defer_onload.resolve()" lang="zh-Hans">
{% endblock %}

{% block front_notice %}
<h4 class="alert-heading">使用方法</h4>
<ol>
	<li>选择歌曲 或 填写歌曲详细信息 <font style='color:red'><b>务必记得修改perfect数量</b></font></li>
	<li>从卡牌库中选择一张卡，点击转移来放置到对应位置，没有录入的卡片数据可以手动输入 <font style='color:red'><b>一张卡默认为满级、一级技能的数据，若不是则需要修改</b></font></li>
	<li>使用以上方法选择所有的9张卡</li>
	<li>可以点击「保存队伍」将队伍配置文件保存到本地</li>
	<li>第2、3步可以从保存的文件中读取队伍信息来代替：点击「选择文件」选择本地配置文件，再点击「读取队伍」</li>
	<li>选择主唱技能和好友主唱技能 <font style='color:red'><b>计算SM得分时将好友主唱加成设为0%</b></font></li>
	<li>勾选或取消「自动配饰」选择是否在点击Calculate计算时自动计算最优策略 勾选后请填写每种偶像技能的拥有数量</li>
      <li>点击Calculate</li>
      <li>更多信息，请访问<a href="https://tieba.baidu.com/p/5190964992"><font color="#FF0000"><b>问题反馈</b></font></a></li>
</ol>

<p>当前版本：4.1及以上。</p>
{% endblock %}

{% block main %}
<input type="submit" name="clear" value="清空输入" onclick="clearall()"><br>
<form action="" id="unitform" name="unitform" method="POST" enctype=multipart/form-data>
<h3>歌曲信息</h3>
搜索：<input type="text" id="songsearch" name="songsearch" value=""></input><br>
筛选：
	<select id="songatt" name="songatt">
		<option value="">属性</option>
		<option value="smile">smile</option>
		<option value="pure">pure</option>
		<option value="cool">cool</option>
	</select>
	<select id="songunit" name="songunit">
		<option value="">组合</option>
		<option value="muse">μ's</option>
		<option value="aqours">Aqours</option>
	</select><br>
歌曲：<select id="songchoice" name="songchoice">
		<option value=""> </option>
	</select>
	<input type="button" id="language" name="language" onclick="changeLanguage()" value="切换语言"></input>
	<br>
   难度：<select id="diffchoice" name="diffchoice">
      <option value="easy">easy</option>
      <option value="normal">normal</option>
      <option value="hard">hard</option>
      <option value="expert" SELECTED>expert</option>
      <option value="master">master</option>
   </select><br>
	图属性 :<select id="map" name="map" onchange="changemapcolor();">
		<option value="smile">smile</option>
		<option value="pure">pure</option>
		<option value="cool">cool</option>
	</select><br>
	总combo数 :<input type="text" id="combo" name="combo" value="300" autocomplete="off" style="width:50px"><br>
	perfect数:<input type="text" id="perfect" name="perfect" value="285" autocomplete="off" style="width:50px"><br>
	时间:<input type="text" id="time" name="time" value="100" autocomplete="off" style="width:50px">秒（从人物出现到最后一个note被击打的时间，不是歌曲长度。部分谱面无长度数据，默认值为110秒）<br>
	星星perfect数:<input type="text" id="starperfect" name="starperfect" value="47" autocomplete="off" style="width:50px">（只有星星系加分需要填写）<br>
<br>

{% include 'components/card-selector.html' %}

<div style="clear:both"></div>
<h3>队伍属性</h3>
<div>
<div style="float:left">
<table border='1'>
   <tr>
      <td>权重</td>
      {% for i in range(0,9) %}
      <td><input type="text" id="weight{{i}}" name="weight{{i}}" size=2 autocomplete="off"></td>
      {% endfor %}
   </tr>
   <tr>
      <td></td>
      {% for i in range(0,9) %}
      <td><input type="button" value="放卡{{i+1}}" onclick="LLUnit.copyTo({{i}})"></td>
      {% endfor %}
   </tr>
   <tr>
      <td>卡片</td>
   	<td ><img  id='avatar0' src='/static/null.png'/></td>
   	<td><img  id='avatar1' src='/static/null.png'/></td>
   	<td><img  id='avatar2' src='/static/null.png'/></td>
   	<td><img  id='avatar3' src='/static/null.png'/></td>
   	<td><img  id='avatar4' src='/static/null.png'/></td>
   	<td><img  id='avatar5' src='/static/null.png'/></td>
   	<td><img  id='avatar6' src='/static/null.png'/></td>
   	<td><img  id='avatar7' src='/static/null.png'/></td>
   	<td><img  id='avatar8' src='/static/null.png'/></td>
   </tr>
   <tr style="display:none">
      <td>id</td>
      {% for i in range(0,9) %}
      <td><input type="text" id="cardid{{i}}" name="cardid{{i}}" size=1 value=0 autocomplete="off"></td>
      {% endfor %}
   </tr>
   <tr style="display:none">
      <td>mezame</td>
      {% for i in range(0,9) %}
      <td><input type="text" id="mezame{{i}}" name="mezame{{i}}" size=1 value=0 autocomplete="off"></td>
      {% endfor %}
   </tr>
   <tr>
      <td>主属性</td>
      {% for i in range(0,9) %}
      <td><select id="main{{i}}" name="main{{i}}">
         <option value="smile" style="color:red">smile</option>
         <option value="pure" style="color:green">pure</option>
         <option value="cool" style="color:blue">cool</option>
      </select></td>
      {% endfor %}
   </tr>
   <tr>
      <td style="color:red">smile</td>
      {% for i in range(0,9) %}
      <td><input type="text" style="color:red" id="smile{{i}}" name="smile{{i}}" size=3 autocomplete="off"></td>
      {% endfor %}
   </tr>
   <tr>
      <td style="color:green">pure</td>
      {% for i in range(0,9) %}
      <td><input type="text" style="color:green" id="pure{{i}}" name="pure{{i}}" size=3 autocomplete="off"></td>
      {% endfor %}
   </tr>
   <tr>
      <td style="color:blue">cool</td>
      {% for i in range(0,9) %}
      <td><input type="text" style="color:blue" id="cool{{i}}" name="cool{{i}}" size=3 autocomplete="off"></td>
      {% endfor %}
	</tr>
	<tr>
      <td>总槽数</td>
      {% for i in range(0,9) %}
      <td><input type="text" id="maxcost{{i}}" name="maxcost{{i}}" value="1" autocomplete="off" size=1 style="width:40px" onchange="changeunitmaxcost({{i}})"></td>
      {% endfor %}
   </tr>
   <tr>
      <td>技能</td>
      {% for i in range(0,9) %}
      <td>Lv<input type="text" id="skilllevel{{i}}" name="skilllevel{{i}}" value="1" autocomplete="off" size=1 style="width:40px" onchange="LLUnit.changeunitskilllevel({{i}})"></td>
      {% endfor %}
   </tr>
   <tr>
      <td>单体数值</td>
      {% for i in range(0,9) %}
      <td><select id="gemnum{{i}}" name="gemnum{{i}}" onchange="calslot({{i}})">
         <option value="0" >0</option>
         <option value="200" >200</option>
         <option value="450" >450</option>
         <option value="650" >650</option>
      </select></td>
      {% endfor %}
   </tr>
   <tr>
      <td>单体百分比</td>
      {% for i in range(0,9) %}
      <td><select id="gemsinglepercent{{i}}" name="gemsinglepercent{{i}}" onchange="calslot({{i}})">
         <option value="0" >0</option>
         <option value="0.1" >10%</option>
         <option value="0.16" >16%</option>
         <option value="0.26" >26%</option>
      </select></td>
      {% endfor %}
   </tr>
   <tr>
      <td>全体百分比</td>
      {% for i in range(0,9) %}
      <td><select id="gemallpercent{{i}}" name="gemallpercent{{i}}" onchange="calslot({{i}})">
         <option value="0" >0</option>
         <option value="0.018" >1.8%</option>
         <option value="0.024" >2.4%</option>
         <option value="0.042" >4.2%</option>
      </select></td>
      {% endfor %}
   </tr>
   <tr>
      <td>奶/分宝石</td>
      {% for i in range(0,9) %}
      <td><select id="gemskill{{i}}" name="gemskill{{i}}" onchange="calslot({{i}})">
         <option value="0" >无</option>
         <option value="1" >有</option>
      </select></td>
      {% endfor %}
   </tr>
   <tr style="display:none">
      <td>判定宝石</td>
      {% for i in range(0,9) %}
      <td><select id="gemacc{{i}}" name="gemacc{{i}}" onchange="calslot({{i}})">
         <option value="0" >无</option>
         <option value="1" >有</option>
      </select></td>
      {% endfor %}
   </tr>
   <tr>
      <td>使用槽数</td>
      {% for i in range(0,9) %}
      <td id="slot{{i}}" name="slot{{i}}"></td>
      {% endfor %}
   </tr>
   <tr>
      <td></td>
      {% for i in range(0,9) %}
      <td><input type="button" id="pos{{i}}" name="pos{{i}}" value="换位{{i+1}}" onclick="changepos({{i}})"></td>
      {% endfor %}
   </tr>
   <tr>
      <td>属性强度</td>
      {% for i in range(0,9) %}
      <td id="attstrength{{i}}"></td>
      {% endfor %}
   </tr>
   <tr>
      <td>技能强度</td>
      {% for i in range(0,9) %}
      <td id="skillstrength{{i}}"></td>
      {% endfor %}
   </tr>
   <tr>
      <td>卡强度</td>
      {% for i in range(0,9) %}
      <td id="cardstrength{{i}}"></td>
      {% endfor %}
   </tr>
   <tr>
      <td>异色异团惩罚</td>
      {% for i in range(0,9) %}
      <td id="cardstrengthdebuff{{i}}"></td>
      {% endfor %}
   </tr>
   <tr>
      <td>实际强度</td>
      {% for i in range(0,9) %}
      <td id="strength{{i}}"></td>
      {% endfor %}
   </tr>
   <!--
   <tr>
      <td>判定</td>
      {% for i in range(0,9) %}
      <td id="accuracy{{i}}"></td>
      {% endfor %}
   </tr>
-->
   <tr>
      <td>回复</td>
      {% for i in range(0,9) %}
      <td id="heal{{i}}"></td>
      {% endfor %}
   </tr>
</table>
</div>
<div style="float:left">

<input type="button" value="保存队伍" onclick="saveunit()">
<input type="file" name="file"/>
<input type="submit" value="读取队伍" onclick="loadunit()">
<br><br><br>
<div id="sisreserves" style='display:none'>
   <table border='1' style='text-align:center'>
      <tr><td>通用技能</td><td>香水（ 450 ）</td><td>光环（ 1.8% ）</td><td>面纱（ 2.4% ）</td></tr>
      <tr>
         <td>储备数量</td>
         <td><input type="text" id="sis1" size="5" value="9" /></td>
         <td><input type="text" id="sis8" size="5" value="9" /></td>
         <td><input type="text" id="sis9" size="5" value="9" /></td>
      </tr>
      <tr><td>10%技能</td><td>指环（一年级）</td><td>指环（二年级）</td><td>指环（三年级）</td></tr>
      <tr>
         <td>储备数量</td>
         <td><input type="text" id="sis2" size="5" value="9" /></td>
         <td><input type="text" id="sis3" size="5" value="9" /></td>
         <td><input type="text" id="sis4" size="5" value="9" /></td>
      </tr>
      <tr><td>16%技能</td><td>十字（一年级）</td><td>十字（二年级）</td><td>十字（三年级）</td></tr>
      <tr>
         <td>储备数量</td>
         <td><input type="text" id="sis5" size="5" value="9" /></td>
         <td><input type="text" id="sis6" size="5" value="9" /></td>
         <td><input type="text" id="sis7" size="5" value="9" /></td>
      </tr>
      <tr><td>加分 2.5</td><td>公主魅力（红）</td><td>天使魅力（绿）</td><td>皇后魅力（蓝）</td></tr>
      <tr>
         <td>储备数量</td>
         <td><input type="text" id="sis10" size="5" value="9" /></td>
         <td><input type="text" id="sis11" size="5" value="9" /></td>
         <td><input type="text" id="sis12" size="5" value="9" /></td>
      </tr>
      <tr><td>体力 480</td><td>公主治愈（红）</td><td>天使治愈（绿）</td><td>皇后治愈（蓝）</td></tr>
      <tr>
         <td>储备数量</td>
         <td><input type="text" id="sis13" size="5" value="9" /></td>
         <td><input type="text" id="sis14" size="5" value="9" /></td>
         <td><input type="text" id="sis15" size="5" value="9" /></td>
      </tr>
   </table>
</div>
</div>
</div>
<div style="clear:both">
</div>

主唱技能 :<select id="bonus" name="bonus">
		<option value="smile" style="color:red">smile</option>
		<option value="pure" style="color:green">pure</option>
		<option value="cool" style="color:blue">cool</option>
	</select>增加<select id="base" name="base">
      <option value="smile" style="color:red">smile</option>
      <option value="pure" style="color:green">pure</option>
      <option value="cool" style="color:blue">cool</option>
   </select>的<select id="percentage" name="percentage">
      <option value=0>0</option>
      <option value=3>3</option>
      <option value=6 SELECTED>6</option>
      <option value=7>7</option>
      <option value=9>9</option>
      <option value=12>12</option>
   </select>%+
   <select id="secondlimit" name="secondlimit">
      <option value=""></option>
      <option value="4" SELECTED>μ's</option>
      <option value="5">Aqours</option>
      <option value="1">一年级</option>
      <option value="2">二年级</option>
      <option value="3">三年级</option>
      <option value="6">Printemps</option>
      <option value="7">lilywhite</option>
      <option value="8">BiBi</option>
      <option value="9">CYaRon!</option>
      <option value="10">AZALEA</option>
      <option value="11">Guilty Kiss</option>
   </select>的<nospan id="secondbase" name="secondbase">
   属性
   <!--
      <option value="smile" style="color:red">smile</option>
      <option value="pure" style="color:green">pure</option>
      <option value="cool" style="color:blue">cool</option>-->
   </nospan>增加<select id="secondpercentage" name="secondpercentage">
      <option value=0 SELECTED>0</option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=6>6</option>
   </select>%<br>
好友主唱技能 :<select id="bonus2" name="bonus2">
		<option value="smile" style="color:red">smile</option>
      <option value="pure" style="color:green">pure</option>
      <option value="cool" style="color:blue">cool</option>
	</select>增加<select id="base2" name="base2">
      <option value="smile" style="color:red">smile</option>
      <option value="pure" style="color:green">pure</option>
      <option value="cool" style="color:blue">cool</option>
   </select>的<select id="percentage2" name="percentage2">
      <option value=0 SELECTED>0</option>
      <option value=3>3</option>
      <option value=6>6</option>
      <option value=7>7</option>
      <option value=9>9</option>
      <option value=12>12</option>
   </select>%+
   <select id="secondlimit2" name="secondlimit2">
      <option value=""></option>
      <option value="4" SELECTED>μ's</option>
      <option value="5">Aqours</option>
      <option value="1">一年级</option>
      <option value="2">二年级</option>
      <option value="3">三年级</option>
      <option value="6">Printemps</option>
      <option value="7">lilywhite</option>
      <option value="8">BiBi</option>
      <option value="9">CYaRon!</option>
      <option value="10">AZALEA</option>
      <option value="11">Guilty Kiss</option>
   </select>的<nospan id="secondbase2" name="secondbase2">
   歌曲属性
   <!--
      <option value="smile" style="color:red">smile</option>
      <option value="pure" style="color:green">pure</option>
      <option value="cool" style="color:blue">cool</option>-->
   </nospan>增加<select id="secondpercentage2" name="secondpercentage2">
      <option value=0 SELECTED>0</option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=6>6</option>
   </select>%<br>
点击得分增加：<input id="tapup" name="tapup" value="0" size=2></input>%<br>
技能发动率增加：<input id="skillup" name="skillup" value="0" size=2></input>%<br>
<input type="button" value="calculate" onclick="check()"> <input type="checkbox" id="distribution" name="distribution">计算分布</input>
<input type="checkbox" id="autoarm0" name="autoarm0" onclick="autoarm()">自动配饰</input>
   <br><br><br>
</form>

<iframe style="display:none" id='if' name='if' src='about:blank' frameborder='0' allowtransparency="yes"></iframe>

{% include 'components/loadingbox.html' %}

<div id="result" style="display:none">
<table border="1">
<tr>
	<td>smile</td>
	<td>pure</td>
	<td>cool</td>
</tr>
<tr>
	<td id="resultsmile"></td>
	<td id="resultpure"></td>
	<td id="resultcool"></td>
</tr>
</table>
卡组强度:<nospan id="resultstrength"></nospan><br>
卡组援力:<nospan id="resultmic"></nospan><br>
期望得分:<nospan id="averagescore"></nospan><br>

期望回复:<nospan id="averageheal"></nospan><br>

<!--期望判定覆盖率：<nospan id="averageaccuracy"></nospan><br>-->
</div>
<div id="errorresult" style="display:none;color:red"></div>
<div id='distributionresult' style='display:none'>
<h3>得分分布</h3>
最高分：<span id='simresult0'></span>&nbsp;概率：<span id='maxscoreprobability'></span><br/>
最低分：<span id='simresult100'></span>&nbsp;概率：<span id='minscoreprobability'></span><br/>
<table border="1">
<tr>
	<td>1%</td>
	<td>2%</td>
	<td>5%</td>
	<td>10%</td>
	<td>20%</td>
	<td>30%</td>
	<td>40%</td>
	<td>50%</td>
	<td>60%</td>
	<td>70%</td>
	<td>80%</td>
	<td>90%</td>
	<td>95%</td>
	<td>98%</td>
	<td>99%</td>
</tr>
<tr>
	<td id='simresult1'></td>
   <td id='simresult2'></td>
   <td id='simresult5'></td>
   <td id='simresult10'></td>
   <td id='simresult20'></td>
   <td id='simresult30'></td>
   <td id='simresult40'></td>
   <td id='simresult50'></td>
   <td id='simresult60'></td>
   <td id='simresult70'></td>
   <td id='simresult80'></td>
   <td id='simresult90'></td>
   <td id='simresult95'></td>
   <td id='simresult98'></td>
   <td id='simresult99'></td>
</tr>
</table>
</div>
{% endblock %}

{% block back_notice %}
<h4 class="alert-heading">注意</h4>
<ul>
   <li>勾选「计算分布」来计算得分分布。得分分布使用真实分布计算，计算速度比较慢。</li>
   <li>计算「自动配饰」的时候建议先不勾选「计算分布」以免时间过长，得到最优宝石配置后取消「自动配饰」再计算得分分布。</li>
   <li>由于使用歌曲信息计算，最终结果可能会有千分之一的误差</li>
   <li>判定覆盖率仅供参考</li>
   <li>判定期间属性1.25倍的宝石计算有误，暂时按无效计算。</li>
   <li>在队伍中有爆分SR时，由于技能强度会随着队伍强度变化而变化，可能出现多次计算「自动配饰」得到的结果不唯一的情况，此时只需重复计算多次取强度最高者即可。</li>
</ul>
{% endblock %}

{% block back_notice_2 %}
<h4 class="alert-heading">说明</h4>
<ul>
   <li>在卡片数据行中的判定指的该卡片的边际判定覆盖率影响，即撤掉这张卡后边际覆盖率的损失。在括号中的覆盖率为单卡判定覆盖率</li>
   <li>卡强度指的是不考虑异色和异团带来的负面影响时的强度，该数值方便异团卡、异色横向比较。实际强度则是考虑异色和异团加成的强度</li>
</ul>
{% endblock %}
