{% extends "layout.html" %}

{% set category="数据查询" %}
{% set category_link="/#game-data" %}
{% set title="卡片数据和立绘查询" %}

{% block additional_header %}
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}?v=1.12"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='llcard.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='lldata.js') }}"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
   <style type="text/css">
   	table {position:relative;margin-left:30px;}
   	td {size:2}
   </style>
{% endblock %}

{% block script %}
   <script>
   var regS = new RegExp("&#34;", "g")
   var regS2 = new RegExp("&#39;", "g")
   var regSand = new RegExp("&amp;", "g")
   //var llcard = new LLCard(cardsjson);
   var llcard = 0;

   var attcolor = new Array();
   var language = 0
   var skilllevel = 0
   var cslot = 0
   var maxslot = 0
   var minslot = 0
   var naipan = 26666
   
   attcolor["smile"] = "red"
   attcolor["pure"] = "green"
   attcolor["cool"] = "blue"
   attcolor["all"] = "purple"
   var kizuna = new Array();
   kizuna["N"] = [25, 50]
   kizuna["R"] = [100, 200]
   kizuna["SR"] = [250, 500]
   kizuna["UR"] = [500, 1000]
   kizuna["SSR"] = [375, 750]
   var cskill = new Array()
   cskill['smile'] = "公主"
   cskill['pure'] = "天使"
   cskill['cool'] = "皇后"
   unitgradechr = [[],
                  ["星空凛","西木野真姫","小泉花陽","津島善子","国木田花丸","黒澤ルビィ"],
                  ["高坂穂乃果","南ことり","園田海未","高海千歌","桜内梨子","渡辺曜"],
                  ["絢瀬絵里","東條希","矢澤にこ","松浦果南","黒澤ダイヤ","小原鞠莉"],
                  ["高坂穂乃果","絢瀬絵里","南ことり","園田海未","星空凛","西木野真姫","東條希","小泉花陽","矢澤にこ"],
                  ["高海千歌","桜内梨子","松浦果南","黒澤ダイヤ","渡辺曜","津島善子","国木田花丸","小原鞠莉","黒澤ルビィ"],
                  ["高坂穂乃果","南ことり","小泉花陽"],
                  ["園田海未","星空凛","東條希"],
                  ["絢瀬絵里","西木野真姫","矢澤にこ"],
                  ["高海千歌","渡辺曜","黒澤ルビィ"],
                  ["松浦果南","黒澤ダイヤ","国木田花丸"],
                  ["桜内梨子","津島善子","小原鞠莉"]]


   var member = ['','1年生','2年生','3年生',"μ's",'Aqours','Printemps','lilywhite','BiBi','CYaRon!','AZALEA','Guilty Kiss']
   
   var defer_onload = $.Deferred();
   LLCardData.briefKeys.push('minslot', 'maxslot', 'smile2', 'pure2', 'cool2');
   $.when(LLCardData.getAllBriefData(), defer_onload).then(function (cardData) {
      llcard = new LLCard(cardData);
      init();
      document.getElementById('cardchoice').options[0].innerHTML = '';
      document.getElementById('loadingbox').style.display = 'none';
   }, LLUnit.defaultHandleFailedRequest);

   function changenaipan(){
      if (!document.getElementById('naipan').checked)
         naipan = 26667
      else
         naipan = 15000
      changecolor()
   }

   function lvlup(){
      skilllevel += 1
      if (skilllevel == 8)
         skilllevel = 0
      changecolor()
   }

   function lvldown(){
      skilllevel -= 1
      if (skilllevel == -1)
         skilllevel = 7
      changecolor()
   }

   function slotup(){
      cslot += 1
      if (cslot > maxslot)
         cslot = minslot
      changecolor()
   }

   function slotdown(){
      cslot -= 1
      if (cslot < minslot)
         cslot = maxslot
      changecolor()
   }

   function getmaxstrength(card){
      var result = 0;
      var slot = card.maxslot;
      if (card.maxslot === undefined) slot = 0;
      var att = card[card.attribute+'2']+kizuna[card.rarity][1];
      var skill = 0;
      if (card.skilldetail !== undefined) {
         skill = skillstrength(card, 7, 1, 1);
      }
      if (card.skilleffect == 11){
         if ((skill*1.5 > att*0.208*1.15) && (slot >= 4))
            result = parseInt(att*(1+0.052*(slot-4))*1.15+skill*2.5)
         else
            result = parseInt(att*(1+0.052*(slot))*1.15+skill)
      }
      else if (card.skilleffect == 9){
         if ((skill*naipan > att*0.208*1.15) && (slot >= 4))
            result = parseInt(att*(1+0.052*(slot-4))*1.15+skill*naipan)
         else
            result = parseInt(att*(1+0.052*(slot))*1.15)
      }
      else
         result = parseInt(att*(1+0.052*(slot))*1.15)
      return result
   }

   function update_visible(elementid, show, show_callback) {
      if (show) {
         document.getElementById(elementid).style.display = '';
         if (show_callback) show_callback(elementid);
      } else {
         document.getElementById(elementid).style.display = 'none';
      }
   }

   function update_avatar(elementid, cardid, mezame, show) {
      update_visible(elementid, show, function() {
         LLUnit.changeavatar(elementid, cardid, mezame);
      });
   }

   function update_card_image(elementid, cardid, mezame, show, small) {
      update_visible(elementid, show, function() {
         var element = document.getElementById(elementid);
         var path = ((cardid && cardid != "0") ? getimagepath(cardid, 'card', mezame) : '');
         if (path != element.src) {
            // avoid showing last image before new image is loaded
            element.src = '';
         }
         element.src = path;
         if (small) {
            element.style.height = '422px';
            element.style.width = '300px';
         } else {
            element.style.height = '';
            element.style.width = '';
         }
      });
   }

   function update_navi_image(elementid, cardid, mezame, show, small) {
      update_visible(elementid, show, function() {
         var element = document.getElementById(elementid);
         var path = ((cardid && cardid != "0") ? getimagepath(cardid, 'navi', mezame) : '');
         if (path != element.src) {
            // avoid showing last image before new image is loaded
            element.src = '';
         }
         element.src = path;
         if (small) {
            element.style.height = '300px';
            element.style.width = '300px';
         } else {
            element.style.height = '';
            element.style.width = '';
         }
      });
   }

   function changecolor(){
      var index = document.getElementById('cardchoice').value
      if (index == "") {
         document.getElementById("result").style.display = 'none'
         return;
      }
      var need_scroll = (document.getElementById("result").style.display == 'none');
      var c = attcolor[llcard.cards[index].attribute]
      document.getElementById('cardchoice').style.color = c
      LoadingUtil.startSingle(LLCardData.getDetailedData(index)).then(function (curCard) {
         document.getElementById("result").style.display = ''
         var infolist2 = ["smile", "pure", "cool"]

         //avatar, image
         var show_not_mezame = ((curCard.special == 0) && (curCard.support == 0));
         var show_card = document.getElementById('showcard').checked;
         var show_small = document.getElementById('smallcard').checked;
         document.getElementById('notmezame').style.display = (show_not_mezame ? '' : 'none');
         update_avatar('avatar1', index, 0, show_not_mezame);
         update_avatar('avatar2', index, 1, true);
         update_card_image('card', index, 0, show_not_mezame && show_card, show_small);
         update_card_image('card2', index, 1, show_card, show_small);
         update_navi_image('navi', index, 0, show_not_mezame && show_card, show_small);
         update_navi_image('navi2', index, 1, show_card, show_small);
         update_visible('skill2', !show_not_mezame);
         update_visible('skillslot2', !show_not_mezame);
         update_visible('centerskill2', !show_not_mezame);
         update_visible('skilleffect2', !show_not_mezame);
         document.getElementById('hp1').innerHTML = curCard.hp
         document.getElementById('hp2').innerHTML = parseInt(curCard.hp)+1
         document.getElementById('kizuna1').innerHTML = kizuna[curCard.rarity][0]
         document.getElementById('kizuna2').innerHTML = kizuna[curCard.rarity][1]
         var cnname = curCard.skillname
         var jpname = curCard.jpskillname
         minslot = curCard.minslot;
         maxslot = curCard.maxslot;
         if (cslot == -1)
            cslot = minslot
         document.getElementById('skillslot').innerHTML = '<input type="button" style="height:20px;width:20px;padding:0" value="▲" onclick="slotup()"></input>'+String(cslot)+' <input type="button" style="height:20px;width:20px;padding:0" value="▼" onclick="slotdown()"></input>'
   		if (cnname == jpname){
   			if (!cnname)
   				document.getElementById('skill').innerHTML = LLUnit.getCardSkillText(curCard, skilllevel)
   			else
   				document.getElementById('skill').innerHTML = '【'+jpname+'】<br><input type="button" style="height:20px;width:20px;padding:0" value="▲" onclick="lvlup()"></input> Lv: '+String(skilllevel+1)+' <input type="button" style="height:20px;width:20px;padding:0" value="▼" onclick="lvldown()"></input><br>'+LLUnit.getCardSkillText(curCard, skilllevel)
   		}
   		else
   			document.getElementById('skill').innerHTML = '【'+cnname+'】<br>【'+jpname+'】<br><input type="button" style="height:20px;width:20px;padding:0" value="▲" onclick="lvlup()"></input> Lv: '+String(skilllevel+1)+' <input type="button" style="height:20px;width:20px;padding:0" value="▼" onclick="lvldown()"></input><br>'+LLUnit.getCardSkillText(curCard, skilllevel)
   		document.getElementById('skill2').innerHTML = document.getElementById('skill').innerHTML
         document.getElementById('skillslot2').innerHTML = document.getElementById('skillslot').innerHTML
   		document.getElementById('centerskill').innerHTML = cskilltext(curCard)
   		document.getElementById('centerskill2').innerHTML = cskilltext(curCard)
   		changeskilleffect(curCard)
   		for (i in infolist2){
   			document.getElementById(infolist2[i]+'1').innerHTML = curCard[infolist2[i]]
   			document.getElementById(infolist2[i]+'1').style.color = attcolor[infolist2[i]]
   			document.getElementById(infolist2[i]+'2').innerHTML = curCard[infolist2[i]+'2']
   			document.getElementById(infolist2[i]+'2').style.color = attcolor[infolist2[i]]
   		}
         colors = ['smile','pure','cool']
         for (i in colors){
            atttype = colors[i]
            if (curCard.smile != 0){
               tmpc = curCard
               att = tmpc[atttype]
               if (tmpc.attribute != atttype)
                  att /= 1.1
               else
                  att += kizuna[tmpc.rarity][0]
               skill = (tmpc.skilldetail === undefined ? 0 : skillstrength(tmpc, skilllevel, 1, 1));
               if (tmpc.skilleffect == 11){
                  if ((skill*1.5 > att*0.208*1.15) && (minslot >= 4)){
                     document.getElementById(atttype+'strength1').innerHTML = parseInt(att*(1+0.052*(minslot-4))*1.15+skill*2.5)+'<br>(加分宝石)'
                     //document.getElementById('3pstrength1').innerHTML = parseInt(0.03*att*(1+0.052*(minslot-4))*1.15)
                  }
                  else{
      			      document.getElementById(atttype+'strength1').innerHTML = parseInt(att*(1+0.052*(minslot))*1.15+skill)
                     //document.getElementById('3pstrength1').innerHTML = parseInt(0.03*att*(1+0.052*(minslot))*1.15)
                  }
               }
               else if (tmpc.skilleffect == 9){
                  if ((skill*naipan > att*0.208*1.15) && (minslot >= 4)){
                     document.getElementById(atttype+'strength1').innerHTML = parseInt(att*(1+0.052*(minslot-4))*1.15+skill*naipan)+'<br>(回血宝石)'
                     //document.getElementById('3pstrength1').innerHTML = parseInt(0.03*att*(1+0.052*(minslot-4))*1.15)
                     }
                  else{
                     document.getElementById(atttype+'strength1').innerHTML = parseInt(att*(1+0.052*(minslot))*1.15)
                     //document.getElementById('3pstrength1').innerHTML = parseInt(0.03*att*(1+0.052*(minslot))*1.15)
                  }
               }
               else{
                  document.getElementById(atttype+'strength1').innerHTML = parseInt(att*(1+0.052*(minslot))*1.15)
                  //document.getElementById('3pstrength1').innerHTML = parseInt(0.03*att*(1+0.052*(minslot))*1.15)
               }
               if (minslot != cslot){
                  document.getElementById(atttype+'strength1').innerHTML = ''
                  //document.getElementById('3pstrength1').innerHTML = ''
               }
      			document.getElementById(atttype+'strength1').style.color = attcolor[atttype]
               //document.getElementById('3pstrength1').style.color = attcolor[curCard.attribute]
      			//document.getElementById('strengthlevel1').innerHTML = strengthlevel(strength(curCard, 0, skilllevel, 0, 1))
      			//document.getElementById('strengthlevel1').style.color = attcolor[curCard.attribute]
         }
            tmpc = curCard
            att = tmpc[atttype+'2']
            if (tmpc.attribute != atttype)
                  att /= 1.1
               else
                  att += kizuna[tmpc.rarity][1]
            skill = (tmpc.skilldetail === undefined ? 0 : skillstrength(tmpc, skilllevel, 1, 1));
            if (tmpc.skilleffect == 11){
               if ((skill*1.5 > att*0.208*1.15) && (cslot >= 4)){
                  document.getElementById(atttype+'strength2').innerHTML = parseInt(att*(1+0.052*(cslot-4))*1.15+skill*2.5)+'<br>(加分宝石)'
                  //document.getElementById('3pstrength2').innerHTML = parseInt(0.03*att*(1+0.052*(cslot-4))*1.15)
               }
               else{
                  document.getElementById(atttype+'strength2').innerHTML = parseInt(att*(1+0.052*(cslot))*1.15+skill)
                  //document.getElementById('3pstrength2').innerHTML = parseInt(0.03*att*(1+0.052*(cslot))*1.15)
               }
            }
            else if (tmpc.skilleffect == 9){

               if ((skill*naipan > att*0.208*1.15) && (cslot >= 4)){
                     document.getElementById(atttype+'strength2').innerHTML = parseInt(att*(1+0.052*(cslot-4))*1.15+skill*naipan)+'<br>(回血宝石)'
                     //document.getElementById('3pstrength2').innerHTML = parseInt(0.03*att*(1+0.052*(cslot-4))*1.15)
                  }
                  else{
                     document.getElementById(atttype+'strength2').innerHTML = parseInt(att*(1+0.052*(cslot))*1.15)
                     //document.getElementById('3pstrength2').innerHTML = parseInt(0.03*att*(1+0.052*(cslot))*1.15)
                  }
            }
            else{
               document.getElementById(atttype+'strength2').innerHTML = parseInt(att*(1+0.052*(cslot))*1.15)
               //document.getElementById('3pstrength2').innerHTML = parseInt(0.03*att*(1+0.052*(cslot))*1.15)
            }
      		//document.getElementById('strength2').innerHTML = strength(curCard, 1, skilllevel, 0, 1)
      		document.getElementById(atttype+'strength2').style.color = attcolor[atttype]
            //document.getElementById('3pstrength2').style.color = attcolor[curCard.attribute]
      		//document.getElementById('strengthlevel2').innerHTML = strengthlevel(strength(curCard, 1, skilllevel, 0, 1))
      		//document.getElementById('strengthlevel2').style.color = attcolor[curCard.attribute]
         }
         if (need_scroll) document.getElementById('cardchoice').scrollIntoView(true);
      }, LLUnit.defaultHandleFailedRequest);
   }
   
   function changeskilleffect(c){
   	document.getElementById('skilleffecttitle').style.display = ''
   	document.getElementById('skilleffect').style.display = ''
   	if ((!c.skill) || (c.support == 1) || !LLUnit.isStrengthSupported(c)){
   		document.getElementById('skilleffecttitle').style.display = 'none'
   		document.getElementById('skilleffect').style.display = 'none'
         document.getElementById('skilleffect2').style.display = 'none'
   	}
   	else if (c.skilleffect == 11){
   		document.getElementById('skilleffecttitle').innerHTML = '加分强度'
   		document.getElementById('skilleffect').innerHTML = skillstrength(c, skilllevel, 0, 1)+'<br>修正:'+skillstrength(c, skilllevel, 1, 1)
   		document.getElementById('skilleffect2').innerHTML = skillstrength(c, skilllevel, 0, 1)+'<br>修正:'+skillstrength(c, skilllevel, 1, 1)
   	}
   	else if (c.skilleffect == 9){
   		document.getElementById('skilleffecttitle').innerHTML = '回血期望'
   		document.getElementById('skilleffect').innerHTML = skillstrength(c, skilllevel)+'/note'+'<br>修正:'+skillstrength(c, skilllevel, 1)+'/note'
   		document.getElementById('skilleffect2').innerHTML = skillstrength(c, skilllevel)+'/note'+'<br>修正:'+skillstrength(c, skilllevel, 1)+'/note'
   	}
   	else if ((c.skilleffect == 4) || (c.skilleffect == 5)){
         document.getElementById('skilleffecttitle').style.display = 'none'
         document.getElementById('skilleffect').style.display = 'none'
         document.getElementById('skilleffect2').style.display = 'none'
         /*
   		document.getElementById('skilleffecttitle').innerHTML = '判定覆盖率'
   		document.getElementById('skilleffect').innerHTML = skillstrength(c, skilllevel)+'%'+'<br>修正:'+skillstrength(c, skilllevel, 1)+'%'
   		document.getElementById('skilleffect2').innerHTML = skillstrength(c, skilllevel)+'%'+'<br>修正:'+skillstrength(c, skilllevel, 1)+'%'*/
   	}
   }
   
   function changeLanguage(){
      language = 1-language
      llcard.language = language;
      llcard.onCardFilterChange();
   }
   
   
   function cskilltext(c){
      
      if (!c.Cskill)
         return '无'
   	if (parseInt(c.Cskillpercentage) == 3){
   		cpostfix = '的力量'
   		ceffect = c.attribute+'P提升3%'
   	}
   	else if (parseInt(c.Cskillpercentage) == 6){
   		cpostfix = '之心'
   		ceffect = c.attribute+'P提升6%'
   	}
      else if (parseInt(c.Cskillpercentage) == 7){
         cpostfix = '之星'
         ceffect = c.attribute+'P提升7%'
      }
   	else if (parseInt(c.Cskillpercentage) == 9){
   		cpostfix = cskill[c.Cskillattribute]
   		ceffect = c.attribute+'P提升9%'
   	}
   	else if (parseInt(c.Cskillpercentage) == 12){
   		cpostfix = cskill[c.Cskillattribute]
   		ceffect = c.attribute+'P提升'+c.Cskillattribute+'的12%'
   	}
      if (parseInt(c.Cskillpercentage) >= 7){
         csecondeffect = member[parseInt(c.Csecondskilllimit)]+'成员'+c.attribute+'P提升'+c.Csecondskillattribute+'%'
         return c.attribute+cpostfix+'<br>'+ceffect+'<br>'+csecondeffect
      }
      
   	return c.attribute+cpostfix+'<br>'+ceffect
   }
   
   function toMezame(){
   	mezame = 1-mezame
   	changecolor()
   	changeavatarselect()
   }
   
   function init(){
      llcard.onCardSelectChange = changecolor;
      llcard.calcCardMaxStrength = getmaxstrength;
      llcard.initListeners();
      llcard.onCardFilterChange();
   }
   
   </script>
{% endblock %}

{% block body_onload %}
   <body onload="defer_onload.resolve()" lang="zh-Hans">
{% endblock %}

{% block front_notice %}
<h4 class="alert-heading">说明</h4>
<ul>
<li>通用强度指的是一张卡片在，combo为700，长按比例为8%，滑键比例为4%，P率为95%，时间为120秒，星星为65个，队伍强度为80000，C位加成为15%，单槽加成为5.2%时（或者当4槽的加分、回血宝石更优时使用对应宝石）对得分的贡献程度。由于实际情况下卡片的强度会因为不同图(尤其是<b>滑键比例</b>)、不同P率以及不同Center效果产生一定的不同，想要详细计算请使用<a href="/llunit">队伍强度计算</a>进行计算</li>
<li>卡片强度的定义为卡片属性（包括绊、宝石加成）+加分技能（或回血宝石对应加分）对应的属性</li>
<li>关于修正：所谓技能的修正，是因为技能在打歌的最后一次不能完全发动，在设定的情况和均匀分布的随机余数条件下计算的技能的真实效果</li>
<li>如果当前状态下4槽加分、回血宝石对强度加成更高，则使用4槽加分、回血宝石计算强度，此时在强度数值下会显示标记</li>
</ul>
<p>当前版本：4.1及以上。</p>
{% endblock %}

{% block main %}
<h3>卡片库</h3>
筛选：<select id="rarity" name="rarity">
		<option value="">稀有度</option>
      <option value="N">N</option>
		<option value="R">R</option>
		<option value="SR">SR</option>
      <option value="SSR">SSR</option>
		<option value="UR">UR</option>
	</select>
	<select id="chr" name="chr">
		<option value="">角色</option>
		<option value="高坂穗乃果">高坂穗乃果</option>
		<option value="绚濑绘里">绚濑绘里</option>
		<option value="南小鸟">南小鸟</option>
		<option value="园田海未">园田海未</option>
		<option value="星空凛">星空凛</option>
		<option value="西木野真姬">西木野真姬</option>
		<option value="东条希">东条希</option>
		<option value="小泉花阳">小泉花阳</option>
		<option value="矢泽妮可">矢泽妮可</option>
      <option value="高海千歌">高海千歌</option>
      <option value="樱内梨子">樱内梨子</option>
      <option value="松浦果南">松浦果南</option>
      <option value="黑泽黛雅">黑泽黛雅</option>
      <option value="渡边曜">渡边曜</option>
      <option value="津岛善子">津岛善子</option>
      <option value="国木田花丸">国木田花丸</option>
      <option value="小原鞠莉">小原鞠莉</option>
      <option value="黑泽露比">黑泽露比</option>  
	</select>
   <select id="unitgrade" name="unitgrade">
      <option value="">年级小队</option>
      <option value="4">μ's</option>
      <option value="5">Aqours</option>
      <option value="1">一年级</option>
      <option value="2">二年级</option>
      <option value="3">三年级</option>
      <option value="6">Printemps</option>
      <option value="7">lilywhite</option>
      <option value="8">BiBi</option>
      <option value="9">CYaRon!</option>
      <option value="10">AZALEA</option>
      <option value="11">Guilty Kiss</option>
   </select>
	<select id="att" name="att">
		<option value="">属性</option>
		<option value="smile" style="color:red">smile</option>
		<option value="pure" style="color:green">pure</option>
		<option value="cool" style="color:blue">cool</option>
	</select>
   <select id="triggertype" name="triggertype">
      <option value="">触发类型</option>
      <option value="1">时间</option>
      <option value="3">图标</option>
      <option value="4">combo</option>
      <option value="5">分数</option>
      <option value="6">perfect</option>
      <option value="12">星星perfect</option>
      <option value="100">其它成员技能发动</option>
   </select>
   <select id="skilltype" name="skilltype">
      <option value="">技能类型</option>
      <option value="4">小判定</option>
      <option value="5">大判定</option>
      <option value="9">回血</option>
      <option value="11">加分</option>
      <option value="2000">提升技能发动率</option>
      <option value="2100">repeat</option>
      <option value="2201">perfect分数提升</option>
      <option value="2400">属性同步</option>
      <option value="2600">属性提升</option>
   </select>
   <select id="cardtype" name="cardtype">
      <option value="">卡片类型</option>
      <option value="活动卡">活动卡</option>
      <option value="登录奖励">登录奖励</option>
   </select>
	<select id="special" name="special">
		<option value="">是否特典卡</option>
		<option value=0>不是特典</option>
		<option value=1>是特典</option>
	</select>
   <select id="setname" name="setname">
      <option value="">套卡名</option>
      <option value="初期">初期</option>
      <option value="職業編">职业篇</option>
      <option value="動物編">动物篇</option>
      <option value="8月編">8月篇</option>
      <option value="9月編">9月篇</option>
      <option value="10月編">10月篇</option>
      <option value="11月編">11月篇</option>
      <option value="12月編">12月篇</option>
      <option value="1月編">1月篇</option>
      <option value="2月編">2月篇</option>
      <option value="3月編">3月篇</option>
      <option value="4月編">4月篇</option>
      <option value="5月編">5月篇</option>
      <option value="6月編">6月篇</option>
      <option value="7月編">7月篇</option>
      <option value="チャイナドレス編">旗袍篇</option>
      <option value="カフェメイド編">女仆篇</option>
      <option value="ハロウィン編">万圣篇</option>
      <option value="星座編">星座篇</option>
      <option value="雪山編">雪山篇</option>
      <option value="七福神編">七福神篇</option>
      <option value="バレンタイン編">情人节篇</option>
      <option value="ホワイトデー編">白色情人节篇</option>
      <option value="職業編(Part2">职业篇2</option>
      <option value="サイバー編">电玩篇</option>
      <option value="手品師編">魔术师篇</option>
      <option value="マリン編">海兵篇</option>
      <option value="プール編">泳池篇</option>
      <option value="くのいち編">忍者篇</option>
      <option value="動物編(Part2)">动物篇2</option>
      <option value="舞踏会編">舞踏会篇</option>
      <option value="クリスマス編">圣诞篇</option>
      <option value="サーカス編">马戏团篇</option>
      <option value="妖精の国編">妖精之国篇</option>
      <option value="ベースボール編">棒球篇</option>
      <option value="大正ロマン編">大正篇</option>
      <option value="踊り子編">舞娘篇</option>
      <option value="アイドル衣装編">偶像篇</option>
      <option value="小悪魔編">小恶魔篇</option>
   </select><br>
高级筛选：满槽强度下限 <input type="text" id="lowbound" name="lowbound" autocomplete="off" style="width:50px"><br>
卡片：<select id="cardchoice" name="cardchoice" onchange="cslot=-1;skilllevel=0">
		<option value="">载入中...</option>
	</select>
	<input type="button" id="language" name="language" onclick="changeLanguage()" value="切换语言"></input>
	<br>
   <input type="checkbox" id="showcard" name="showcard" onchange="changecolor()" checked>显示图片</input>
   <input type="checkbox" id="smallcard" name="smallcard" onchange="changecolor()" checked>小图</input>
   <input type="checkbox" id="showncard" name="showncard">显示N卡</input>
   <input type="checkbox" id="naipan" name="naipan" onchange="changenaipan()">弱奶判宝石</input>
   <br>
	
{% include 'components/loadingbox.html' %}

<div id="result" style="display:none">
<h3>基本信息</h3>
<table border='1' style="text-align:center;width:100%">
<tr>
	<td></td>
	<td>HP</td>
	<td>smile</td>
	<td>pure</td>
	<td>cool</td>
	<td>最大绊</td>
	<td style="width:30%">技能</td>
	<td id='skilleffecttitle'></td>
	<td id='skilleffecttitle8' style="display:none"></td>
   <td>技能槽数</td>
	<td>主唱技能</td>
   <td style="display:none">3%强度</td>
	<td>smile强度*(1)</td>
   <td>pure强度</td>
   <td>cool强度</td>
	<td style="display:none">强度等级*(2)</td>
	<td id='strength8' style="display:none">满技能强度*(3)</td>
	<td id='strengthlevel8' style="display:none">强度等级</td>
	
</tr>
<tr id="notmezame">
	<td><img id="avatar1" height="75px" width="75px"></img></td>
	<td id="hp1"></td>
	<td id="smile1"></td>
	<td id="pure1"></td>
	<td id="cool1"></td>
	<td id="kizuna1"></td>
	<td id="skill" rowspan="2"></td>
	<td id='skilleffect' rowspan="2"></td>
   <td id="skillslot" rowspan="2"></td>
	<td id="centerskill" rowspan="2"></td>
   <td id="3pstrength1" style="display:none"></td>
	<td id="smilestrength1"></td>
   <td id="purestrength1"></td>
   <td id="coolstrength1"></td>
	<td id="strengthlevel1" style="display:none"></td>
</tr>
<tr>
	<td><img id="avatar2" height="75px" width="75px"></img></td>
	<td id="hp2"></td>
	<td id="smile2"></td>
	<td id="pure2"></td>
	<td id="cool2"></td>
	<td id="kizuna2"></td>
	<td id="skill2" style="display:none"></td>
	<td id="skilleffect2" style="display:none"></td>
   <td id="skillslot2" style="display:none"></td>
	<td id="centerskill2" style="display:none"></td>
   <td id="3pstrength2" style="display:none"></td>
	<td id="smilestrength2"></td>
   <td id="purestrength2"></td>
   <td id="coolstrength2"></td>
	<td id="strengthlevel2" style="display:none"></td>
</tr>
</table>
<br>
<div>
<h3>卡面</h3>
<table>
   <tr>
      <td><img id="card" ></img></td>
      <td><img id="card2"></img></td>
   </tr>
</table>
</div>
<h3>立绘（在新标签页内打开以查看大图）</h3>
<table>
   <tr>
      <td><img id="navi" ></img></td>
      <td><img id="navi2" ></img></td>
   </tr>
</table>
</div>
<br>
{% endblock %}
