{% extends "layout.html" %}

{% set category="队伍编成和强度" %}
{% set category_link="/#unit-formation" %}
{% set title="队伍强度、得分计算" %}

{% block additional_header %}
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}?v=1.01"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='llsong.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='lldata.js') }}"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
   <style type="text/css">
      img {height:65px;width:65px}
      input[type="number"][size="3"] {
         width: 60px;
      }
      input[type="number"][size="2"] {
         width: 50px;
      }
      input::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
      }
   </style>
{% endblock %}

{% block script %}
   <script>
   var regS = new RegExp("&#34;", "g")
   var regS2 = new RegExp("&#39;", "g")
   var regSand = new RegExp("&amp;", "g")
   var songsjson = "{{songsjson}}".replace(regS,'"').replace(regS2, "'").replace(regSand, '&')
   var llsong = new LLSong(songsjson);

   var mezame = 0
   var language = 0
   var kizuna = new Array();
   kizuna["N"] = [25, 50]
   kizuna["R"] = [100, 200]
   kizuna["SR"] = [250, 500]
   kizuna["SSR"] = [375, 750]
   kizuna["UR"] = [500, 1000]
   unitgradechr = [[],
                  ["星空凛","西木野真姫","小泉花陽","津島善子","国木田花丸","黒澤ルビィ"],
                  ["高坂穂乃果","南ことり","園田海未","高海千歌","桜内梨子","渡辺曜"],
                  ["絢瀬絵里","東條希","矢澤にこ","松浦果南","黒澤ダイヤ","小原鞠莉"],
                  ["高坂穂乃果","絢瀬絵里","南ことり","園田海未","星空凛","西木野真姫","東條希","小泉花陽","矢澤にこ"],
                  ["高海千歌","桜内梨子","松浦果南","黒澤ダイヤ","渡辺曜","津島善子","国木田花丸","小原鞠莉","黒澤ルビィ"],
                  ["高坂穂乃果","南ことり","小泉花陽"],
                  ["園田海未","星空凛","東條希"],
                  ["絢瀬絵里","西木野真姫","矢澤にこ"],
                  ["高海千歌","渡辺曜","黒澤ルビィ"],
                  ["松浦果南","黒澤ダイヤ","国木田花丸"],
                  ["桜内梨子","津島善子","小原鞠莉"]]


   var defer_onload = $.Deferred();
   var comp_skill = 0;
   var comp_cardselector = 0;
   $.when(LLCardData.getAllBriefData(), defer_onload).then(function (cardData) {
      // init components
      comp_skill = new LLSkillContainer();
      comp_cardselector = new LLCardSelector(cardData);
      comp_cardselector.onCardChange = LLUnit.applycarddata;
      init();

      // load cookie
      comp_cardselector.loadCookie('llnewunit_cardselector');

      // addition script
      {{additional_script|safe}}

      // done
      document.getElementById('loadingbox').style.display = 'none';
   }, defaultHandleFailedRequest);

   function threetonumber(three){
      var result = three
      if (result == '0') {
         return 0;
      }
      if (result[0] == '0') {
         result = result[1]+result[2]
      }
      if (result[0] == '0') {
         result = result[1]
      }
      return result
   }

   naipan = 480
   function changenaipan(){
      if (!document.getElementById('naipan').checked)
         naipan = 480
      else
         naipan = 270
   }

   pos = -1
   function changepos(i){
      if (pos==-1){
         document.getElementById('pos'+String(i)).value = '选择'
         pos = i
      }
      else{
         document.getElementById('pos'+String(pos)).value = '换位'+String(pos+1)
         swaplist = ['cardid','mezame','main','smile','pure','cool','skilllevel','gemnum','gemsinglepercent','gemallpercent','gemskill','gemacc']
         for (j in swaplist){
            at = swaplist[j]
            tmp = document.getElementById(at+String(pos)).value
            document.getElementById(at+String(pos)).value = document.getElementById(at+String(i)).value
            document.getElementById(at+String(i)).value = tmp
         }
         LLUnit.changeavatarn(pos)
         LLUnit.changeavatarn(i)
         calslot(pos);
         calslot(i);
         pos = -1
      }
   }

   function changemapcolor(attr) {
      if (attr === undefined) attr = document.getElementById('map').value;
      // do not update base, secondbase, bonus, because they are set by center
      document.getElementById('map').style.color = llsong.attcolor[attr];
      if (attr == llsong.getSongAttr()) document.getElementById('songchoice').style.color = llsong.attcolor[attr];
      document.getElementById('secondbase2').innerHTML = attr;
      if (document.getElementById("percentage2").value != 12) document.getElementById('base2').value = attr;
      document.getElementById('bonus2').value = attr;
   }

   function applysongdata() {
      var handleTime = function(t) { document.getElementById("time").value = (t ? t : 110); };
      var handlePerfect = function(combo) { document.getElementById("perfect").value = parseInt(combo*19/20); };
      var handleStar = function() { document.getElementById("starperfect").value = 0; };
      var handleWeight = function(w) { for (var i = 0; i < 9; i++) { document.getElementById("weight"+i).value = parseFloat(w[i]); } };
      var applyTarget = {
         'attribute': ['map', changemapcolor],
         'combo': ['combo', handlePerfect],
         'time': [handleTime],
         'star': [handleStar],
         'positionweight': [handleWeight]
      };
      llsong.applyDataOfSongWithDiff(applyTarget);
   }

   function calslot(n){
      result = 0
      result += parseInt(parseInt(document.getElementById("gemnum"+String(n)).value)/200)
      result +=  parseInt(parseFloat(document.getElementById("gemsinglepercent"+String(n)).value)/0.05)
      result +=  parseInt(parseFloat(document.getElementById("gemallpercent"+String(n)).value)/0.0059)
      result += parseInt(parseInt(document.getElementById("gemskill"+String(n)).value)*4)
      result += parseInt(parseInt(document.getElementById("gemacc"+String(n)).value)*4)
      document.getElementById("slot"+String(n)).innerHTML = result
   }

   function changeLanguage(){
      language = 1-language
      llsong.language = language;
      llsong.onSongFilterChange();
      comp_cardselector.setLanguage(language);
   }

   function toMezame(){
      mezame = 1-mezame
      LLUnit.applycarddata();
   }

   function clearall(){
      var inputs = document.getElementsByTagName("input");
      var selects = document.getElementsByTagName("select");
      for (var i=0; i<inputs.length; i++){
         setCookie(inputs[i].name+"unit", inputs[i].value, -1);
      }
      for (var i=0; i<selects.length; i++){
         setCookie(selects[i].name+"unit", selects[i].value, -1);
      }
      setCookie("mezame"+"unit", mezame, -1)
      comp_cardselector.deleteCookie('llnewunit_cardselector');
      window.location.href="/llnewunit"
   }

   function saveunit(){
   	member = [{}, {}, {},{},{},{},{},{},{}]
   	saveatt = ['smile', 'pure', 'cool', 'skilllevel', 'cardid', 'mezame', 'gemnum', 'gemsinglepercent', 'gemallpercent', 'gemskill', 'gemacc']
   	for (i=0;i<9;i++){
   		for (j in saveatt){
   			member[i][saveatt[j]] = document.getElementById(saveatt[j]+String(i)).value
   		}
   	}
   	unitjson = JSON.stringify(member)
   	window.location.href="/llsaveunit/"+unitjson
   }

   function handleLoadUnit(unit) {
      var attlist = ['smile', 'pure', 'cool', 'skilllevel', 'cardid', 'mezame', 'gemnum', 'gemsinglepercent', 'gemallpercent', 'gemskill', 'gemacc'];
      for (var i = 0; i < 9; i++) {
         var member = unit[i];
         for (var j in attlist) {
            var att = attlist[j];
            var value = 0;
            if (member && member[att] !== undefined) value = member[att];
            document.getElementById(att + i).value = value;
         }
         if (member && member.cardid) {
            document.getElementById("main" + i).value = comp_cardselector.cards[member.cardid].attribute;
         }
         LLUnit.changeavatarn(i);
         calslot(i);
      }
      LLUnit.changecenter();
      precalcu();
   }

   function loadunit(){
      document.getElementById("unitform").action = '/llload/parent.handleLoadUnit'
      document.getElementById("unitform").target = 'if'
   }

   function precalcu(){
   	document.getElementById("unitform").action = ''
   	document.getElementById("unitform").target = ''
   }

   function init(){
      mezame = getCookie("mezameunit")
      language = getCookie("languageunit")
      if (mezame == "") mezame = 0; else mezame = parseInt(mezame);
      if (language == "")
         language = 0

      llsong.language = language;
      llsong.onDiffSelectChange = applysongdata;
      llsong.showAllSongs();
      llsong.initListeners();
      llsong.initAttrSelectColor('map');

      var inputs = document.getElementsByTagName("input");
      var selects = document.getElementsByTagName("select");
      for (var i=0; i<inputs.length; i++) {
         if (inputs[i].type == "text") {
            var curCookie = getCookie(inputs[i].name+"unit");
            if (curCookie != "") inputs[i].value = curCookie;
         }
      }
      for (var i=0; i<selects.length; i++) {
         if (comp_cardselector.getComponent(selects[i].id)) continue;
         var curCookie = getCookie(selects[i].name+"unit");
         if (curCookie != "") selects[i].value = curCookie;
      }
      document.getElementById("mezame").checked = mezame
         for (i = 0; i < 9; i++){
            LLUnit.changeavatarn(i)
            calslot(i)
         }

         document.getElementById("songsearch").value = ""
         // above codes may select songs/cards/filters according to cookies, so refresh it...
         llsong.onSongFilterChange();

   }

   function saveToCookie(){
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		if (inputs[i].type == "text")
   			setCookie(inputs[i].name+"unit", inputs[i].value, 1);
   	}
   	for (var i=0; i<selects.length; i++){
   		setCookie(selects[i].name+"unit", selects[i].value, 1);
   	}
   	setCookie("mezame"+"unit", mezame, 1)
   	setCookie("language"+"unit", language, 1)
      comp_cardselector.saveCookie('llnewunit_cardselector');
   }

   function check(){
   	saveToCookie();
      LLUnit.calculate(docalculate);
   	return true;
   }

   function cbmulti(cb) {
      if (cb <= 50) {
         return 1;
      } else if (cb <= 100) {
         return 1.1 - 5 / cb;
      } else if (cb <= 200) {
         return 1.15 - 10 / cb;
      } else if (cb <= 400) {
         return 1.2 - 20 / cb;
      } else if (cb <= 600) {
         return 1.25 - 40 / cb;
      } else if (cb <= 800) {
         return 1.3 - 70 / cb;
      } else {
         return 1.35 - 110 / cb;
      }
   }

   function addskill(dist, score, prob, minscore) {
      var newdist = [];
      var q = 1 - prob;
      var i = 0;
      for (; i < dist.length && dist[i][0] < minscore; i++) {
         newdist.push(dist[i]);
      }
      if (i < dist.length) {
         var j = i;
         for (;;) {
            if (dist[i][0] < dist[j][0] + score) {
               newdist.push([dist[i][0], dist[i][1] * q]);
               if (++i >= dist.length) {
                  break;
               }
            } else if (dist[i][0] > dist[j][0] + score) {
               newdist.push([dist[j][0] + score, dist[j][1] * prob]);
               ++j;
            } else {
               newdist.push([dist[i][0], dist[i][1] * q + dist[j][1] * prob]);
               ++j;
               if (++i >= dist.length) {
                  break;
               }
            }
         }
         for (; j < dist.length; j++) {
            newdist.push([dist[j][0] + score, dist[j][1] * prob]);
         }
      }
      return newdist;
   }

   function samegroup(song, card){
      if (song['muse'] == 1)
         for (i in unitgradechr[4])
            if (card['jpname'] == unitgradechr[4][i])
               return true
      if (song['aqours'] == 1)
         for (i in unitgradechr[5])
            if (card['jpname'] == unitgradechr[5][i])
               return true
      return false
   }

   function strengthdetail(i){
    tail = tail || 0
    basic = 0
    if (c.support == 1)
      return 0
    if (c.Cskillpercentage < 12){
      if (mezame == 0)
        basic = parseInt(c[c.attribute]*1.09)+kizuna[c.rarity][0]
      else
        basic = parseInt(c[c.attribute+'2']*1.09)+kizuna[c.rarity][1]
    }
    else{
      if (mezame == 0)
        basic = parseInt(c[c.attribute])+parseInt(c[c.Cskillattribute]*0.12)+kizuna[c.rarity][0]
      else
        basic = parseInt(c[c.attribute+'2'])+parseInt(c[c.Cskillattribute+'2']*0.12)+kizuna[c.rarity][1]
    }
    if (!c.skill)
      return basic
    skill = 0
    if (c.skilleffect == 11)
      skill = skillstrength(c, level, combo, longrate, perfectrate, time, starperfect)
    return basic+skill
   }

   function docalculate(cards) {
      var result = {};
      var int_element = ["cardid", "smile", "pure", "cool", "skilllevel", 'gemnum', 'gemskill', 'gemacc'];
      var float_element = ["weight",'gemsinglepercent','gemallpercent'];
      var sel_element = ['base', 'base2', 'bonus', 'bonus2', 'map'];
      var sel_int = ['percentage', 'percentage2', 'secondlimit', 'secondlimit2', 'secondpercentage', 'secondpercentage2', 'combo', 'perfect', 'starperfect', 'time', 'skillup', 'tapup'];
      var sel_float = [];
      var atts = ['smile', 'pure', 'cool'];
      var member = [{}, {}, {}, {}, {}, {}, {}, {}, {}];
      var mapcenter = {};
      var llmembers = [];
      var weights = [];

      for (var i = 0; i < sel_int.length; i++) {
         mapcenter[sel_int[i]] = parseInt(document.getElementById(sel_int[i]).value);
      }
      for (var i = 0; i < sel_float.length; i++) {
         mapcenter[sel_float[i]] = parseFloat(document.getElementById(sel_float[i]).value);
      }
      for (var i = 0; i < sel_element.length; i++) {
         mapcenter[sel_element[i]] = document.getElementById(sel_element[i]).value;
      }
      for (var i = 0; i < 9; i++) {
         for (var j = 0; j < int_element.length; j++) {
            member[i][int_element[j]] = parseInt(document.getElementById(int_element[j] + i.toString()).value);
         }
         for (var j = 0; j < float_element.length; j++) {
            member[i][float_element[j]] = parseFloat(document.getElementById(float_element[j] + i.toString()).value);
         }
         member[i]["skill"] = LLUnit.cardtoskilltype(cards[member[i]["cardid"]])
         var cur_skilldetail = cards[member[i]["cardid"]]['skilldetail'];
         member[i]["require"] = (cur_skilldetail ? cur_skilldetail[member[i]['skilllevel']-1].require : 1);
         member[i]["possibility"] = (cur_skilldetail ? cur_skilldetail[member[i]['skilllevel']-1].possibility : 0);
         member[i]["score"] = (cur_skilldetail ? cur_skilldetail[member[i]['skilllevel']-1].score : 0);
         sk = member[i]["skill"]
         if ((sk == 1) || (sk == 2) || (sk == 3) || (sk == 4) || (sk == 11)|| (sk == 10)){
            member[i]["score"] *= (1+1.5*parseInt(member[i]['gemskill']))
            member[i]["score"] = Math.ceil(member[i]["score"])
         } else if ((sk == 5) || (sk == 6) || (sk == 12)) {
            member[i]["score"] = cards[member[i]["cardid"]]['skilldetail'][member[i]['skilllevel']-1].time
         }
         member[i]['card'] = cards[member[i]['cardid']];
         llmembers.push(new LLMember(member[i]));
         weights.push(member[i].weight);
      }

      var mainatt = mapcenter['map']

      var llteam = new LLTeam(llmembers);
      var friendcskill = {
        "Csecondskillattribute": parseInt(mapcenter.secondpercentage2),
        "Csecondskilllimit": parseInt(mapcenter.secondlimit2),
        "Cskillattribute": mapcenter.base2,
        "Cskillpercentage": parseInt(mapcenter.percentage2),
        "attribute": mapcenter.bonus2
      };
      var song = llsong.songs[document.getElementById('songchoice').value];
      var songunit = 0;
      if (song.muse) {
         songunit = 4;
      } else if (song.aqours) {
         songunit = 5;
      }
      llteam.calculateAttributeStrength(mainatt, songunit, friendcskill, weights);

      document.getElementById('resultsmile').innerHTML = llteam.finalAttr.smile + ' (+' + llteam.bonusAttr.smile + ')';
      document.getElementById('resultpure').innerHTML = llteam.finalAttr.pure + ' (+' + llteam.bonusAttr.pure + ')';
      document.getElementById('resultcool').innerHTML = llteam.finalAttr.cool + ' (+' + llteam.bonusAttr.cool + ')';


      var showatt = llteam.finalAttr[mainatt];
      var combomulti = cbmulti(mapcenter['combo']);
      var accmulti = 0.88+0.12*(mapcenter['perfect']/mapcenter['combo']);

      var totalweight = 0
      for (var i = 0; i < 9; i++) {
         totalweight += member[i]['weight']
      }
      var totalattst = 0
      for (var i = 0; i < 9; i++) {
         totalattst += llteam.attrStrength[i] - llteam.attrDebuff[i];
         document.getElementById('attstrength'+String(i)).innerHTML = llteam.attrStrength[i];
         document.getElementById('cardstrengthdebuff'+String(i)).innerHTML = -llteam.attrDebuff[i];
      }

      result['accuracy'] = 0;
      var averageaccuracy = [0,0,0,0,0,0,0,0,0]
      for (var i = 0; i < 9; i++) {
         var skill = member[i]['skill'];
         if (skill == 5) {
            skillc = member[i]['score']*member[i]['possibility']/100/member[i]['require']
            skillc = skillc/(skillc+1.0)
            waste = (1-skillc)*skillc*member[i]['require']/2+skillc*member[i]['score']/2
            skillc = (skillc*mapcenter['time']-waste)/mapcenter['time']
            skillc = parseInt(1000*skillc)/10
            averageaccuracy[i] = skillc
         } else if (skill == 6 || skill == 12) {
            skillc = mapcenter['combo']*member[i]['score']*member[i]['possibility']/100/member[i]['require']/mapcenter['time']
            waste = skillc*member[i]['score']/2
            skillc = mapcenter['combo']*member[i]['score']*member[i]['possibility']/100/member[i]['require']/mapcenter['time']*(mapcenter['combo']-member[i]['require']/2)/mapcenter['combo']
            skillc = (skillc*mapcenter['time']-waste)/mapcenter['time']
            skillc = parseInt(1000*skillc)/10
            averageaccuracy[i] = skillc
         }
      }
      totalaccuracy = 0
      for (var i = 0; i < 9; i++) {
         totalaccuracy += (1-totalaccuracy)*(averageaccuracy[i]/100)
      }
      /*
      for (var i = 0; i < 9; i++) {
         if (member[i]['gemacc'] == "1"){
            member[i][mainatt]*= (1+0.25*totalaccuracy)
            member[i][mainatt] = parseInt(member[i][mainatt])
            showatt += parseInt(member[i][mainatt]*0.25*totalaccuracy)
         }
      }
      */
      result['minscore'] = 1.21*totalattst/80*totalweight*combomulti*accmulti*(1+mapcenter['tapup']/100)

      result['maxscore'] = result['minscore'];
      result['averagescore'] = result['minscore'];
      result['averageheal'] = 0;
      result['maxheal'] = 0;

      var skillchance = [0, 0, 0, 0, 0, 0, 0, 0, 0];
      var averageskillscore = [0, 0, 0, 0, 0, 0, 0, 0, 0];
      var averageheal = [0,0,0,0,0,0,0,0,0]


      for (var i = 0; i < 9; i++) {
         var skill = member[i]['skill'];
         member[i]['possibility'] *= (1+mapcenter['skillup']/100)
         if (skill == 1 || skill == 11) {
            skillchance[i] = Math.floor(mapcenter['combo']/member[i]['require']);
            result['maxscore'] += skillchance[i]*member[i]['score'];
            averageskillscore[i] = skillchance[i]*member[i]['possibility']*member[i]['score']/100;
            result['averagescore'] += skillchance[i]*member[i]['possibility']*member[i]['score']/100;
         } else if (skill == 2) {
            skillchance[i] = Math.floor(mapcenter['perfect']/member[i]['require']);
            result['maxscore'] += skillchance[i]*member[i]['score'];
            averageskillscore[i] = skillchance[i]*member[i]['possibility']*member[i]['score']/100;
            result['averagescore'] += skillchance[i]*member[i]['possibility']*member[i]['score']/100;
         } else if (skill == 4) {
            skillchance[i] = Math.floor(mapcenter['time']/member[i]['require']);
            result['maxscore'] += skillchance[i]*member[i]['score'];
            averageskillscore[i] = skillchance[i]*member[i]['possibility']*member[i]['score']/100;
            result['averagescore'] += skillchance[i]*member[i]['possibility']*member[i]['score']/100;
         } else if (skill == 7 || skill == 13) {
            skillchance[i] = Math.floor(mapcenter['combo']/member[i]['require']);
            result['maxheal'] += skillchance[i]*member[i]['score'];
            averageheal[i] = skillchance[i]*member[i]['possibility']*member[i]['score']/100
            result['averageheal'] += skillchance[i]*member[i]['possibility']*member[i]['score']/100;
            if (member[i]['gemskill'] == '1'){
               member[i]["skill"] = 1
               member[i]["score"] *= naipan
               result['maxscore'] += skillchance[i]*member[i]['score'];
               averageskillscore[i] = skillchance[i]*member[i]['possibility']*member[i]['score']/100;
               result['averagescore'] += skillchance[i]*member[i]['possibility']*member[i]['score']/100;
            }
         } else if (skill == 8) {
            skillchance[i] = Math.floor(mapcenter['time']/member[i]['require']);
            result['maxheal'] += skillchance[i]*member[i]['score'];
            averageheal[i] = skillchance[i]*member[i]['possibility']*member[i]['score']/100
            result['averageheal'] += skillchance[i]*member[i]['possibility']*member[i]['score']/100;
            if (member[i]['gemskill'] == '1'){
               member[i]["skill"] = 4
               member[i]["score"] *= naipan
               result['maxscore'] += skillchance[i]*member[i]['score'];
               averageskillscore[i] = skillchance[i]*member[i]['possibility']*member[i]['score']/100;
               result['averagescore'] += skillchance[i]*member[i]['possibility']*member[i]['score']/100;
            }
         } else if (skill == 9) {
            skillchance[i] = Math.floor(mapcenter['perfect']/member[i]['require']);
            result['maxheal'] += skillchance[i]*member[i]['score'];
            averageheal[i] = skillchance[i]*member[i]['possibility']*member[i]['score']/100
            result['averageheal'] += skillchance[i]*member[i]['possibility']*member[i]['score']/100;
            if (member[i]['gemskill'] == '1'){
               member[i]["skill"] = 2
               member[i]["score"] *= naipan
               result['maxscore'] += skillchance[i]*member[i]['score'];
               averageskillscore[i] = skillchance[i]*member[i]['possibility']*member[i]['score']/100;
               result['averagescore'] += skillchance[i]*member[i]['possibility']*member[i]['score']/100;
            }
         } else if (skill == 10) {
            skillchance[i] = Math.floor(mapcenter['starperfect']/member[i]['require']);
            result['maxscore'] += skillchance[i]*member[i]['score'];
            averageskillscore[i] = skillchance[i]*member[i]['possibility']*member[i]['score']/100;
            result['averagescore'] += skillchance[i]*member[i]['possibility']*member[i]['score']/100;
         }
      }

      var finish = false;
      var infinite = false;
      var averagescoringtimes = [0, 0, 0, 0, 0, 0, 0, 0, 0];
      var maxscoringtimes = [0, 0, 0, 0, 0, 0, 0, 0, 0];
      while (!finish) {
         finish = true;
         if (result['averagescore'] > 10000000) {
            result['averagescore'] = '1000w+';
            infinite = true;
            break;
         }
         for (var i = 0; i < 9; i++) {
            if (member[i]['skill'] == 3 && averagescoringtimes[i] < Math.floor(result['averagescore']/member[i]['require'])) {
               remaintimes = Math.floor(result['averagescore']/member[i]['require'])-averagescoringtimes[i];
               averagescoringtimes[i] += remaintimes;
               averageskillscore[i] += remaintimes*member[i]['possibility']*member[i]['score']/100;
               result['averagescore'] += remaintimes*member[i]['possibility']*member[i]['score']/100;
               finish = false;
            }
         }
      }
      if (!infinite) {
         result['averagescore'] = Math.round(result['averagescore']);
      }
      finish = false;
      infinite = false;
      while (!finish) {
         finish = true;
         if (result['maxscore'] > 10000000) {
            result['maxscore'] = '1000w+';
            infinite = true;
            break
         }
         for (var i = 0; i < 9; i++) {
            if (member[i]['skill'] == 3 && maxscoringtimes[i] < Math.floor(result['maxscore']/member[i]['require'])) {
               remaintimes = Math.floor(result['maxscore']/member[i]['require'])-maxscoringtimes[i];
               maxscoringtimes[i] += remaintimes;
               result['maxscore'] += remaintimes*member[i]['score'];
               finish = false;
            }
         }
      }

      if (document.getElementById('distribution').checked){
         var t0 = window.performance.now();

         var percentiles = [0.01, 0.02, 0.05, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.95, 0.98, 0.99];
         var dist = [[result['minscore'], 1]];
         for (var i = 0; i < 9; i++) {
            var skill = member[i]['skill'];
            if (skill == 1 || skill == 2 || skill == 4 || skill == 10 || skill == 11) {
               for (var j = 0; j < skillchance[i]; j++) {
                  dist = addskill(dist, member[i]['score'], member[i]['possibility'] / 100, 0);
               }
            }
         }

         var nextscore = [Infinity, Infinity, Infinity, Infinity, Infinity, Infinity, Infinity, Infinity, Infinity];
         for (var i = 0; i < 9; i++) {
            if (member[i]['skill'] == 3) {
               nextscore[i] = member[i]['require'];
            }
         }
         for (;;) {
            var next = 0;
            for (var i = 1; i < 9; i++) {
               if (nextscore[i] < nextscore[next]) {
                  next = i;
               }
            }
            if ((nextscore[next] > dist[dist.length - 1][0]) || (nextscore[next] > 3000000)) {
               break;
            }
            dist = addskill(dist, member[next]['score'], member[next]['possibility'] / 100, nextscore[next]);
            nextscore[next] += member[next]['require'];
         }

         var scores = [];
         var k = 0;
         var p = 0;
         for (var i = 0; i < dist.length && k < percentiles.length; i++) {
            p += dist[i][1];
            for (; k < percentiles.length && p >= percentiles[k]; k++) {
               scores[k] = dist[i][0];
            }
         }

         var t1 = window.performance.now();
         console.debug('Elapesd time (ms): ' + (t1 - t0).toFixed(3));
         console.debug('Possibilities: ' + dist.length.toString());
         var p = 0;
         for (var i = 0; i < dist.length; i++) {
            p += dist[i][1];
         }
         console.debug('Total probability (naïve summation): 1 ' + (p >= 1 ? '+ ' : '- ') + Math.abs(p - 1).toString());
         var s0 = 0, s1 = 0;
         for (var i = 0; i < dist.length; i++) {
            var s = s0 + dist[i][1];
            var bb = s - s0;
            var e = (dist[i][1] - bb) + (s0 - (s - bb)) + s1;
            s0 = s + e;
            s1 = e - (s0 - s);
         }
         var ep = (s0 - 1) + s1;
         console.debug('Total probability: 1 ' + (ep >= 0 ? '+ ' : '- ') + Math.abs(ep).toString());
         var meanscore = 0;
         for (var i = 0; i < dist.length; i++) {
            meanscore += dist[i][0] * dist[i][1];
         }
         document.getElementById('averagescore').innerHTML = meanscore.toFixed(0).toString()
         console.debug('Mean score: ' + meanscore.toString());

         console.debug(result);
         for (i in scores){
            document.getElementById('simresult'+(100-percentiles[i]*100).toString()).innerHTML = scores[i].toFixed(0).toString()
         }
      }
      else
         document.getElementById('averagescore').innerHTML = result['averagescore'].toString()

      document.getElementById('resultstrength').innerHTML = (result.averagescore/result.minscore*totalattst).toFixed(0).toString()
      document.getElementById('averageheal').innerHTML = result.averageheal
      console.debug(scores);

      ttstrength = 0
      skillst = [0,0,0,0,0,0,0,0,0]
      for (i=0;i<9;i++){
         leader = 0

         skillst[i] = parseInt(Math.round(averageskillscore[i]/result.minscore*totalattst/(1+mapcenter['skillup']/100)*(1+mapcenter['tapup']/100)).toFixed(0))
      }
      for (i=0;i<9;i++){
         document.getElementById('cardstrength'+String(i)).innerHTML = (llteam.attrStrength[i]+skillst[i]).toString()
         document.getElementById('strength'+String(i)).innerHTML = (llteam.attrStrength[i]-llteam.attrDebuff[i]+skillst[i]).toString()
         document.getElementById('skillstrength'+String(i)).innerHTML = skillst[i].toString()
         document.getElementById('heal'+String(i)).innerHTML = averageheal[i].toString()
         ttstrength += (llteam.attrStrength[i]-llteam.attrDebuff[i]+skillst[i])
      }
      document.getElementById('resultstrength').innerHTML = ttstrength.toFixed(0).toString()+' (属性 '+totalattst.toString()+' + 技能 '+(ttstrength-totalattst).toString()+')'
      minstrength = 100000000
      minwhich = -1
      mincardstrength = 100000000
      mincard = -1
      for (i=0;i<9;i++){
         document.getElementById('strength'+String(i)).style.color = ''
         document.getElementById('cardstrength'+String(i)).style.color = ''
         if (parseInt(document.getElementById('strength'+String(i)).innerHTML) < minstrength){
            minwhich = i
            minstrength = parseInt(document.getElementById('strength'+String(i)).innerHTML)
         }
         if (parseInt(document.getElementById('cardstrength'+String(i)).innerHTML) < mincardstrength){
            mincard = i
            mincardstrength = parseInt(document.getElementById('cardstrength'+String(i)).innerHTML)
         }
         trueacc = 100*(averageaccuracy[i]/100)*(1-totalaccuracy)/(1-averageaccuracy[i]/100)
         //document.getElementById('accuracy'+String(i)).innerHTML = trueacc.toFixed(1).toString()+'%<br>('+averageaccuracy[i].toString()+'%)'
      }
      //document.getElementById('averageaccuracy').innerHTML = (totalaccuracy*100).toFixed(1).toString()+'%'
      document.getElementById('result').style.display = ""
      document.getElementById('strength'+String(minwhich)).style.color = 'red'
      document.getElementById('cardstrength'+String(mincard)).style.color = 'red'

      var micBoundaries = [
        { min: 0.00, max: 1.87, mics: 1 },
        { min: 2.34, max: 4.55, mics: 2 },
        { min: 4.63, max: 6.81, mics: 3 },
        { min: 6.82, max: 11.22, mics: 4 },
        { min: 11.29, max: 15.63, mics: 5 },
        { min: 16.05, max: 23.13, mics: 6 },
        { min: 23.24, max: 34.40, mics: 7 },
        { min: 34.52, max: 50.00, mics: 8 },
        { min: 50.05, max: 71.00, mics: 9 },
        { min: 72.00, max: 72.00, mics: 10 },
      ]
      var unknownMicBoundaries = []
      for (var i = 0; i < micBoundaries.length - 1; i++) {
            unknownMicBoundaries.push({
                  min: micBoundaries[i].max,
                  max: micBoundaries[i + 1].min,
                  mics: micBoundaries[i].mics + 0.5
            })
      }
      function getRarityRatio (currMember) {
            var memberCard = cards[currMember.cardid]
            var rarityValue = ['特典卡', '登录奖励', '特典卡 登录奖励'].indexOf(memberCard.type) !== -1 ? 'R' : memberCard.rarity
            if (memberCard.type === '') memberCard.rarity = 'N'
            switch (rarityValue) {
                  case 'UR': return 1.00
                  case 'SSR': return 0.59
                  case 'SR': return 0.29
                  case 'R': return 0.13
                  default: return 0.00
            }
      }
      var micRawValue = member.reduce(function (sum, currMember) {
            return sum + currMember.skilllevel * getRarityRatio(currMember)
      }, 0.00)
      var micDisplayValue = Array.prototype.concat(micBoundaries, unknownMicBoundaries).filter(function (boundary) {
            return micRawValue >= boundary.min && micRawValue <= boundary.max
      })[0].mics
      var micDisplayString = micDisplayValue % 1 === 0.0 ? micDisplayValue.toLocaleString() : Math.floor(micDisplayValue).toLocaleString() + ' 或 ' + (Math.floor(micDisplayValue) + 1)
      document.getElementById('resultmic').innerHTML = micDisplayString + ' (' + micRawValue.toLocaleString() + (micDisplayValue % 1 === 0.0 ? '' : ', 该数值对应的援力暂时未知, 欢迎反馈') + ')'
      document.getElementById("result").scrollIntoView()
   }

   </script>
{% endblock %}

{% block body_onload %}
   <body onload="defer_onload.resolve()" lang="zh-Hans">
{% endblock %}

{% block front_notice %}
<h4 class="alert-heading">使用方法</h4>
<ol>
      <li>选择歌曲 或 填写歌曲详细信息 <font style='color:red'><b>务必记得修改perfect数量</b></font></li>
      <li>从卡牌库中选择一张卡，点击转移来放置到对应位置，没有录入的卡片数据可以手动输入 <font style='color:red'><b>一张卡默认为满级、一级技能的数据，若不是则需要修改</b></font></li>
      <li>使用以上方法选择所有的9张卡</li>
      <li>可以点击「保存队伍」将队伍配置文件保存到本地</li>
      <li>第2、3步可以从保存的文件中读取队伍信息来代替：点击「选择文件」选择本地配置文件，再点击「读取队伍」</li>
      <li>选择主唱技能和好友主唱技能 <font style='color:red'><b>计算SM得分时将好友主唱加成设为0%</b></font></li>
      <li>点击Calculate</li>
</ol>
<p>当前版本：4.1及以上。</p>
{% endblock %}

{% block main %}
<input type="submit" name="clear" value="清空输入" onclick="clearall()"><br>
<form action="" id="unitform" name="unitform" method="POST" enctype=multipart/form-data>
<h3>歌曲信息</h3>
搜索：<input type="text" id="songsearch" name="songsearch" value=""></input><br>
筛选：
	<select id="songatt" name="songatt">
		<option value="">属性</option>
		<option value="smile">smile</option>
		<option value="pure">pure</option>
		<option value="cool">cool</option>
	</select>
	<select id="songunit" name="songunit">
		<option value="">组合</option>
		<option value="muse">μ's</option>
		<option value="aqours">Aqours</option>
	</select><br>
歌曲：<select id="songchoice" name="songchoice">
		<option value=""> </option>
	</select>
	<input type="button" id="language" name="language" onclick="changeLanguage()" value="切换语言"></input>
	<br>
   难度：<select id="diffchoice" name="diffchoice">
      <option value="easy">easy</option>
      <option value="normal">normal</option>
      <option value="hard">hard</option>
      <option value="expert" SELECTED>expert</option>
      <option value="master">master</option>
   </select><br>
	图属性 :<select id="map" name="map" onchange="changemapcolor();">
		<option value="smile">smile</option>
		<option value="pure">pure</option>
		<option value="cool">cool</option>
	</select><br>
	总combo数 :<input type="number" id="combo" name="combo" value="300" autocomplete="off" style="width:50px"><br>
	perfect数:<input type="number" id="perfect" name="perfect" value="285" autocomplete="off" style="width:50px"><br>
	时间:<input type="number" step="any" id="time" name="time" value="100" autocomplete="off" style="width:50px">秒（从人物出现到最后一个note被击打的时间，不是歌曲长度。部分谱面无长度数据，默认值为110秒）<br>
	星星perfect数:<input type="number" id="starperfect" name="starperfect" value="47" autocomplete="off" style="width:50px">（只有星星系加分需要填写）<br>
<br>

{% include 'components/card-selector.html' %}

<div style="clear:both"></div>
<h3>队伍属性</h3>
<div>
<div class="col-xs-12 col-md-9" style="overflow-x:auto">
<table class="calculate-table" border='1'>
   <tr>
      <td>权重</td>
      {% for i in range(0,9) %}
      <td><input type="number" step="any" id="weight{{i}}" name="weight{{i}}" size=3 autocomplete="off"></td>
      {% endfor %}
   </tr>
   <tr>
      <td></td>
      {% for i in range(0,9) %}
      <td><input type="button" value="放卡{{i+1}}" onclick="LLUnit.copyTo({{i}})"></td>
      {% endfor %}
   </tr>
   <tr>
      <td>卡片</td>
   	<td ><img  id='avatar0' src='/static/null.png'/></td>
   	<td><img  id='avatar1' src='/static/null.png'/></td>
   	<td><img  id='avatar2' src='/static/null.png'/></td>
   	<td><img  id='avatar3' src='/static/null.png'/></td>
   	<td><img  id='avatar4' src='/static/null.png'/></td>
   	<td><img  id='avatar5' src='/static/null.png'/></td>
   	<td><img  id='avatar6' src='/static/null.png'/></td>
   	<td><img  id='avatar7' src='/static/null.png'/></td>
   	<td><img  id='avatar8' src='/static/null.png'/></td>
   </tr>
   <tr style="display:none">
      <td>id</td>
      {% for i in range(0,9) %}
      <td><input type="number" id="cardid{{i}}" name="cardid{{i}}" size=1 value=0 autocomplete="off"></td>
      {% endfor %}
   </tr>
   <tr style="display:none">
      <td>mezame</td>
      {% for i in range(0,9) %}
      <td><input type="number" id="mezame{{i}}" name="mezame{{i}}" size=1 value=0 autocomplete="off"></td>
      {% endfor %}
   </tr>
   <tr>
      <td>主属性</td>
      {% for i in range(0,9) %}
      <td><select id="main{{i}}" name="main{{i}}">
         <option value="smile" style="color:red">smile</option>
         <option value="pure" style="color:green">pure</option>
         <option value="cool" style="color:blue">cool</option>
      </select></td>
      {% endfor %}
   </tr>
   <tr>
      <td style="color:red">smile</td>
      {% for i in range(0,9) %}
      <td><input type="number" style="color:red" id="smile{{i}}" name="smile{{i}}" size=3 autocomplete="off"></td>
      {% endfor %}
   </tr>
   <tr>
      <td style="color:green">pure</td>
      {% for i in range(0,9) %}
      <td><input type="number" style="color:green" id="pure{{i}}" name="pure{{i}}" size=3 autocomplete="off"></td>
      {% endfor %}
   </tr>
   <tr>
      <td style="color:blue">cool</td>
      {% for i in range(0,9) %}
      <td><input type="number" style="color:blue" id="cool{{i}}" name="cool{{i}}" size=3 autocomplete="off"></td>
      {% endfor %}
   </tr>
   <tr>
      <td>技能</td>
      {% for i in range(0,9) %}
      <td>Lv<input type="text" id="skilllevel{{i}}" name="skilllevel{{i}}" value="1" autocomplete="off" size=1 style="width:20px" onchange="LLUnit.changeunitskilllevel({{i}})"></td>
      {% endfor %}
   </tr>
   <tr>
      <td>单体数值</td>
      {% for i in range(0,9) %}
      <td><select id="gemnum{{i}}" name="gemnum{{i}}" onchange="calslot({{i}})">
         <option value="0" >0</option>
         <option value="200" >200</option>
         <option value="450" >450</option>
         <option value="650" >650</option>
      </select></td>
      {% endfor %}
   </tr>
   <tr>
      <td>单体百分比</td>
      {% for i in range(0,9) %}
      <td><select id="gemsinglepercent{{i}}" name="gemsinglepercent{{i}}" onchange="calslot({{i}})">
         <option value="0" >0</option>
         <option value="0.1" >10%</option>
         <option value="0.16" >16%</option>
         <option value="0.26" >26%</option>
      </select></td>
      {% endfor %}
   </tr>
   <tr>
      <td>全体百分比</td>
      {% for i in range(0,9) %}
      <td><select id="gemallpercent{{i}}" name="gemallpercent{{i}}" onchange="calslot({{i}})">
         <option value="0" >0</option>
         <option value="0.018" >1.8%</option>
         <option value="0.024" >2.4%</option>
         <option value="0.042" >4.2%</option>
      </select></td>
      {% endfor %}
   </tr>
   <tr>
      <td>奶/分宝石</td>
      {% for i in range(0,9) %}
      <td><select id="gemskill{{i}}" name="gemskill{{i}}" onchange="calslot({{i}})">
         <option value="0" >无</option>
         <option value="1" >有</option>
      </select></td>
      {% endfor %}
   </tr>
   <tr style="display:none">
      <td>判定宝石</td>
      {% for i in range(0,9) %}
      <td><select id="gemacc{{i}}" name="gemacc{{i}}" onchange="calslot({{i}})">
         <option value="0" >无</option>
         <option value="1" >有</option>
      </select></td>
      {% endfor %}
   </tr>
   <tr>
      <td>使用槽数</td>
      {% for i in range(0,9) %}
      <td id="slot{{i}}" name="slot{{i}}"></td>
      {% endfor %}
   </tr>
   <tr>
      <td></td>
      {% for i in range(0,9) %}
      <td><input type="button" id="pos{{i}}" name="pos{{i}}" value="换位{{i+1}}" onclick="changepos({{i}})"></td>
      {% endfor %}
   </tr>
   <tr>
      <td>属性强度</td>
      {% for i in range(0,9) %}
      <td id="attstrength{{i}}"></td>
      {% endfor %}
   </tr>
   <tr>
      <td>技能强度</td>
      {% for i in range(0,9) %}
      <td id="skillstrength{{i}}"></td>
      {% endfor %}
   </tr>
   <tr>
      <td>卡强度</td>
      {% for i in range(0,9) %}
      <td id="cardstrength{{i}}"></td>
      {% endfor %}
   </tr>
   <tr>
      <td>异色异团惩罚</td>
      {% for i in range(0,9) %}
      <td id="cardstrengthdebuff{{i}}"></td>
      {% endfor %}
   </tr>
   <tr>
      <td>实际强度</td>
      {% for i in range(0,9) %}
      <td id="strength{{i}}"></td>
      {% endfor %}
   </tr>
   <!--
   <tr>
      <td>判定</td>
      {% for i in range(0,9) %}
      <td id="accuracy{{i}}"></td>
      {% endfor %}
   </tr>
-->
   <tr>
      <td>回复</td>
      {% for i in range(0,9) %}
      <td id="heal{{i}}"></td>
      {% endfor %}
   </tr>
</table>
</div>
<div class="col-xs-12 col-md-3">

<input type="button" value="保存队伍" onclick="saveunit()">
<input type="file" name="file"/>
<input type="submit" value="读取队伍" onclick="loadunit()">

<div id="unit-storage" style="margin-top: 30px">
  <h4>队伍列表</h4>
  <div id="unit-storage-list" class="list-group">

  </div>
  <div class="input-group">
    <input type="text" id="unit-storage-name" class="form-control" placeholder="给队伍取个名字" />
    <span class="input-group-btn">
      <a class="btn btn-default" id="unit-storage-save">保存到浏览器</a>
    </span>
  </div>
</div>

</div>
<div style="clear:both">
</div>

主唱技能 :<select id="bonus" name="bonus">
		<option value="smile" style="color:red">smile</option>
		<option value="pure" style="color:green">pure</option>
		<option value="cool" style="color:blue">cool</option>
	</select>增加<select id="base" name="base">
      <option value="smile" style="color:red">smile</option>
      <option value="pure" style="color:green">pure</option>
      <option value="cool" style="color:blue">cool</option>
   </select>的<select id="percentage" name="percentage">
      <option value=0>0</option>
      <option value=3>3</option>
      <option value=6 SELECTED>6</option>
      <option value=7>7</option>
      <option value=9>9</option>
      <option value=12>12</option>
   </select>%+
   <select id="secondlimit" name="secondlimit">
      <option value=""></option>
      <option value="4" SELECTED>μ's</option>
      <option value="5">Aqours</option>
      <option value="1">一年级</option>
      <option value="2">二年级</option>
      <option value="3">三年级</option>
      <option value="6">Printemps</option>
      <option value="7">lilywhite</option>
      <option value="8">BiBi</option>
      <option value="9">CYaRon!</option>
      <option value="10">AZALEA</option>
      <option value="11">Guilty Kiss</option>
   </select>的<nospan id="secondbase" name="secondbase">
   属性
   <!--
      <option value="smile" style="color:red">smile</option>
      <option value="pure" style="color:green">pure</option>
      <option value="cool" style="color:blue">cool</option>-->
   </nospan>增加<select id="secondpercentage" name="secondpercentage">
      <option value=0 SELECTED>0</option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=6>6</option>
   </select>%<br>
好友主唱技能 :<select id="bonus2" name="bonus2">
		<option value="smile" style="color:red">smile</option>
      <option value="pure" style="color:green">pure</option>
      <option value="cool" style="color:blue">cool</option>
	</select>增加<select id="base2" name="base2">
      <option value="smile" style="color:red">smile</option>
      <option value="pure" style="color:green">pure</option>
      <option value="cool" style="color:blue">cool</option>
   </select>的<select id="percentage2" name="percentage2">
      <option value=0 SELECTED>0</option>
      <option value=3>3</option>
      <option value=6>6</option>
      <option value=7>7</option>
      <option value=9>9</option>
      <option value=12>12</option>
   </select>%+
   <select id="secondlimit2" name="secondlimit2">
      <option value=""></option>
      <option value="4" SELECTED>μ's</option>
      <option value="5">Aqours</option>
      <option value="1">一年级</option>
      <option value="2">二年级</option>
      <option value="3">三年级</option>
      <option value="6">Printemps</option>
      <option value="7">lilywhite</option>
      <option value="8">BiBi</option>
      <option value="9">CYaRon!</option>
      <option value="10">AZALEA</option>
      <option value="11">Guilty Kiss</option>
   </select>的<nospan id="secondbase2" name="secondbase2">
   歌曲属性
   <!--
      <option value="smile" style="color:red">smile</option>
      <option value="pure" style="color:green">pure</option>
      <option value="cool" style="color:blue">cool</option>-->
   </nospan>增加<select id="secondpercentage2" name="secondpercentage2">
      <option value=0 SELECTED>0</option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=6>6</option>
   </select>%<br>
点击得分增加：<input type="number" step="any" id="tapup" name="tapup" value="0" size=2 />%<br>
技能发动率增加：<input type="number" step="any" id="skillup" name="skillup" value="0" size=2 />%<br>
<input type="button" value="calculate" onclick="check()"> <input type="checkbox" id="distribution" name="distribution">计算分布</input><!--<input type="checkbox" id="naipan" name="naipan" onchange="changenaipan()">弱奶判宝石</input>-->
   <br><br><br>
</form>

<iframe style="display:none" id='if' name='if' src='about:blank' frameborder='0' allowtransparency="yes"></iframe>

{% include 'components/loadingbox.html' %}

<div id="result" style="display:none">
<table border="1">
<tr>
	<td>smile</td>
	<td>pure</td>
	<td>cool</td>
</tr>
<tr>
	<td id="resultsmile"></td>
	<td id="resultpure"></td>
	<td id="resultcool"></td>
</tr>
</table>
卡组强度:<nospan id="resultstrength"></nospan><br>
卡组援力:<nospan id="resultmic"></nospan><br>
期望得分:<nospan id="averagescore"></nospan><br>

期望回复:<nospan id="averageheal"></nospan><br>

<!--期望判定覆盖率：<nospan id="averageaccuracy"></nospan><br>-->

<h3>得分分布</h3>
<table border="1">
<tr>
	<td>1%</td>
	<td>2%</td>
	<td>5%</td>
	<td>10%</td>
	<td>20%</td>
	<td>30%</td>
	<td>40%</td>
	<td>50%</td>
	<td>60%</td>
	<td>70%</td>
	<td>80%</td>
	<td>90%</td>
	<td>95%</td>
	<td>98%</td>
	<td>99%</td>
</tr>
<tr>
	<td id='simresult1'></td>
   <td id='simresult2'></td>
   <td id='simresult5'></td>
   <td id='simresult10'></td>
   <td id='simresult20'></td>
   <td id='simresult30'></td>
   <td id='simresult40'></td>
   <td id='simresult50'></td>
   <td id='simresult60'></td>
   <td id='simresult70'></td>
   <td id='simresult80'></td>
   <td id='simresult90'></td>
   <td id='simresult95'></td>
   <td id='simresult98'></td>
   <td id='simresult99'></td>
</tr>
</table>
</div>
{% endblock %}

{% block back_notice %}
<h4 class="alert-heading">注意</h4>
<ul>
   <li>勾选「计算分布」来计算得分分布。得分分布使用真实分布计算，计算速度比较慢。</li>
   <li>由于使用歌曲信息计算，最终结果可能会有千分之一的误差</li>
   <li>判定覆盖率仅供参考</li>
   <li>判定期间属性1.25倍的宝石计算有误，暂时按无效计算。</li>
</ul>
{% endblock %}

{% block back_notice_2 %}
<h4 class="alert-heading">说明</h4>
<ul>
   <li>在卡片数据行中的判定指的该卡片的边际判定覆盖率影响，即撤掉这张卡后边际覆盖率的损失。在括号中的覆盖率为单卡判定覆盖率</li>
   <li>卡强度指的是不考虑异色和异团带来的负面影响时的强度，该数值方便异团卡、异色横向比较。实际强度则是考虑异色和异团加成的强度</li>
</ul>
{% endblock %}

{% block back_script %}
<script src="{{ url_for('static', filename='llnewunit/storage.js') }}?t=20180421_1"></script>
{% endblock %}
