{% extends "layout.html" %}

{% set category="数据查询" %}
{% set category_link="/#game-data" %}
{% set title="卡片数据和立绘查询" %}

{% block additional_header %}
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}?v=1.12"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='lldata.js') }}"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
   <style type="text/css">
   	table {position:relative;margin-left:30px;}
   	td {size:2}
   </style>
{% endblock %}

{% block script %}
   <script>
   var regS = new RegExp("&#34;", "g")
   var regS2 = new RegExp("&#39;", "g")
   var regSand = new RegExp("&amp;", "g")

   var attcolor = new Array();
   var language = 0
   var cslot = 0
   var maxslot = 0
   var minslot = 0
   var naipan = 26666
   
   attcolor["smile"] = "red"
   attcolor["pure"] = "green"
   attcolor["cool"] = "blue"
   attcolor["all"] = "purple"
   var kizuna = new Array();
   kizuna["N"] = [25, 50]
   kizuna["R"] = [100, 200]
   kizuna["SR"] = [250, 500]
   kizuna["UR"] = [500, 1000]
   kizuna["SSR"] = [375, 750]
   var cskill = new Array()
   cskill['smile'] = "公主"
   cskill['pure'] = "天使"
   cskill['cool'] = "皇后"

   var member = ['','1年生','2年生','3年生',"μ's",'Aqours','Printemps','lilywhite','BiBi','CYaRon!','AZALEA','Guilty Kiss']
   
   var defer_onload = $.Deferred();
   var comp_skill = 0;
   var comp_skill2 = 0;
   var comp_cardselector = 0;
   var comp_image_avatar = 0;
   var comp_image_avatar2 = 0;
   var comp_image_card = 0;
   var comp_image_card2 = 0;
   var comp_image_navi = 0;
   var comp_image_navi2 = 0;

   // TODO: need load skill data for lowbound filter to work on skill calculation...
   LLCardData.briefKeys.push('minslot', 'maxslot', 'smile2', 'pure2', 'cool2');
   $.when(LLCardData.getAllBriefData(), LLMetaData.get(), defer_onload).then(function (cardData, metaData) {
      LLConst.initMetadata(metaData);
      // init 2 skill containers
      comp_skill = new LLSkillContainer({'showall': 1});
      comp_skill2 = new LLSkillContainer({
         'container': 'skillcontainer2',
         'lvup': 'skilllvup2',
         'lvdown': 'skilllvdown2',
         'level': 'skilllevel2',
         'text': 'skilltext2',
         'showall': 1
      });
      var origSetSkillLevel = comp_skill.setSkillLevel;
      var newSetSkillLevel = function (lv) {
         if (this.skillLevel == lv) return;
         origSetSkillLevel.call(comp_skill, lv);
         origSetSkillLevel.call(comp_skill2, lv);
         changecolor();
      };
      comp_skill.setSkillLevel = newSetSkillLevel;
      comp_skill2.setSkillLevel = newSetSkillLevel;

      // init card selector, with lowbound filter
      comp_cardselector = new LLCardSelector(cardData, 'card_filter_container');
      comp_cardselector.addComponentAsFilter('lowbound', new LLValuedComponent('lowbound'), function (card, v) {
         return (v == '' || isNaN(v) || getmaxstrength(card) >= parseInt(v));
      });
      comp_cardselector.onCardChange = changecolor;

      // init image
      comp_image_avatar = new LLImageComponent('avatar1');
      comp_image_avatar2 = new LLImageComponent('avatar2');
      comp_image_card = new LLImageComponent('card');
      comp_image_card2 = new LLImageComponent('card2');
      comp_image_navi = new LLImageComponent('navi');
      comp_image_navi2 = new LLImageComponent('navi2');

      var comp_dataversion = new LLDataVersionSelectorComponent('card_data_version', LLCardData, function (v) {
         LoadingUtil.startSingle(LLCardData.getAllBriefData().then(function (cards) {
            comp_cardselector.setCardData(cards, true);
         }));
      });

      // done
      document.getElementById('loadingbox').style.display = 'none';
   }, defaultHandleFailedRequest);

   function changenaipan(){
      if (!document.getElementById('naipan').checked)
         naipan = 26667
      else
         naipan = 15000
      changecolor()
   }

   function slotup(){
      cslot += 1
      if (cslot > maxslot)
         cslot = minslot
      changecolor()
   }

   function slotdown(){
      cslot -= 1
      if (cslot < minslot)
         cslot = maxslot
      changecolor()
   }

   function getmaxstrength(card){
      var result = 0;
      var slot = card.maxslot;
      if (card.maxslot === undefined) slot = 0;
      var att = card[card.attribute+'2']+kizuna[card.rarity][1];
      var skill = 0;
      if (card.skilldetail !== undefined) {
         skill = skillstrength(card, 7, 1, 1);
      }
      if (card.skilleffect == 11){
         if ((skill*1.5 > att*0.208*1.15) && (slot >= 4))
            result = parseInt(att*(1+0.052*(slot-4))*1.15+skill*2.5)
         else
            result = parseInt(att*(1+0.052*(slot))*1.15+skill)
      }
      else if (card.skilleffect == 9){
         if ((skill*naipan > att*0.208*1.15) && (slot >= 4))
            result = parseInt(att*(1+0.052*(slot-4))*1.15+skill*naipan)
         else
            result = parseInt(att*(1+0.052*(slot))*1.15)
      }
      else
         result = parseInt(att*(1+0.052*(slot))*1.15)
      return result
   }

   function update_visible(elementid, show, show_callback) {
      if (typeof(elementid) == 'string') {
         if (show) {
            document.getElementById(elementid).style.display = '';
            if (show_callback) show_callback(elementid);
         } else {
            document.getElementById(elementid).style.display = 'none';
         }
      } else {
         if (show) {
            elementid.show();
            if (show_callback) show_callback(elementid);
         } else {
            elementid.hide();
         }
      }
   }

   function update_avatar(comp, cardid, mezame, show) {
      update_visible(comp, show, function() {
         comp.setSrcList(LLUnit.getImagePathList(cardid, 'avatar', mezame));
      });
   }

   function update_card_image(comp, cardid, mezame, show, small) {
      update_visible(comp, show, function() {
         comp.setSrcList(LLUnit.getImagePathList(cardid, 'card', mezame));
         if (small) {
            comp.element.style.height = '422px';
            comp.element.style.width = '300px';
         } else {
            comp.element.style.height = '';
            comp.element.style.width = '';
         }
      });
   }

   function update_navi_image(comp, cardid, mezame, show, small) {
      update_visible(comp, show, function() {
         comp.setSrcList(LLUnit.getImagePathList(cardid, 'navi', mezame));
         if (small) {
            comp.element.style.height = '300px';
            comp.element.style.width = '300px';
         } else {
            comp.element.style.height = '';
            comp.element.style.width = '';
         }
      });
   }

   function changecolor(){
      var index = document.getElementById('cardchoice').value
      if (index == "") {
         document.getElementById("result").style.display = 'none'
         comp_skill.setCardData();
         comp_skill2.setCardData();
         return;
      }
      var need_scroll = (document.getElementById("result").style.display == 'none');
      LoadingUtil.startSingle(LLCardData.getDetailedData(index)).then(function (curCard) {
         document.getElementById("result").style.display = ''
         var infolist2 = ["smile", "pure", "cool"]

         //avatar, image
         var show_not_mezame = ((curCard.special == 0) && (curCard.support == 0));
         var show_card = document.getElementById('showcard').checked;
         var show_small = document.getElementById('smallcard').checked;
         document.getElementById('notmezame').style.display = (show_not_mezame ? '' : 'none');
         update_avatar(comp_image_avatar, index, 0, show_not_mezame);
         update_avatar(comp_image_avatar2, index, 1, true);
         update_card_image(comp_image_card, index, 0, show_not_mezame && show_card, show_small);
         update_card_image(comp_image_card2, index, 1, show_card, show_small);
         update_navi_image(comp_image_navi, index, 0, show_not_mezame && show_card, show_small);
         update_navi_image(comp_image_navi2, index, 1, show_card, show_small);
         update_visible('skill2', !show_not_mezame);
         update_visible('skillslot2', !show_not_mezame);
         update_visible('centerskill2', !show_not_mezame);
         update_visible('skilleffect2', !show_not_mezame);
         document.getElementById('hp1').innerHTML = curCard.hp
         document.getElementById('hp2').innerHTML = parseInt(curCard.hp)+1
         document.getElementById('kizuna1').innerHTML = kizuna[curCard.rarity][0]
         document.getElementById('kizuna2').innerHTML = kizuna[curCard.rarity][1]
         var cnname = curCard.skillname
         var jpname = curCard.jpskillname
         minslot = curCard.minslot;
         maxslot = curCard.maxslot;
         if (cslot == -1)
            cslot = minslot
         document.getElementById('skillslot').innerHTML = '<input type="button" style="height:20px;width:20px;padding:0" value="▲" onclick="slotup()"></input>'+String(cslot)+' <input type="button" style="height:20px;width:20px;padding:0" value="▼" onclick="slotdown()"></input>'
         document.getElementById('skillslot2').innerHTML = document.getElementById('skillslot').innerHTML
         var skillname = (cnname == jpname ? (cnname ? '【'+jpname+'】' : '无') : '【'+cnname+'】<br>【'+jpname+'】');
         document.getElementById('skillname').innerHTML = skillname;
         document.getElementById('skillname2').innerHTML = skillname;
         comp_skill.setCardData(curCard);
         comp_skill2.setCardData(curCard);
         var skilllevel = comp_skill.skillLevel;
   		document.getElementById('centerskill').innerHTML = LLUnit.getCardCSkillText(curCard, true)
   		document.getElementById('centerskill2').innerHTML = LLUnit.getCardCSkillText(curCard, true)
   		changeskilleffect(curCard, skilllevel)
   		for (i in infolist2){
   			document.getElementById(infolist2[i]+'1').innerHTML = curCard[infolist2[i]]
   			document.getElementById(infolist2[i]+'2').innerHTML = curCard[infolist2[i]+'2']
   		}
         colors = ['smile','pure','cool']
         for (i in colors){
            atttype = colors[i]
            if (curCard.smile != 0){
               tmpc = curCard
               att = tmpc[atttype]
               if (tmpc.attribute != atttype)
                  att /= 1.1
               else
                  att += kizuna[tmpc.rarity][0]
               skill = (tmpc.skilldetail === undefined ? 0 : skillstrength(tmpc, skilllevel, 1, 1));
               if (tmpc.skilleffect == 11){
                  if ((skill*1.5 > att*0.208*1.15) && (minslot >= 4)){
                     document.getElementById(atttype+'strength1').innerHTML = parseInt(att*(1+0.052*(minslot-4))*1.15+skill*2.5)+'<br>(加分宝石)'
                     //document.getElementById('3pstrength1').innerHTML = parseInt(0.03*att*(1+0.052*(minslot-4))*1.15)
                  }
                  else{
      			      document.getElementById(atttype+'strength1').innerHTML = parseInt(att*(1+0.052*(minslot))*1.15+skill)
                     //document.getElementById('3pstrength1').innerHTML = parseInt(0.03*att*(1+0.052*(minslot))*1.15)
                  }
               }
               else if (tmpc.skilleffect == 9){
                  if ((skill*naipan > att*0.208*1.15) && (minslot >= 4)){
                     document.getElementById(atttype+'strength1').innerHTML = parseInt(att*(1+0.052*(minslot-4))*1.15+skill*naipan)+'<br>(回血宝石)'
                     //document.getElementById('3pstrength1').innerHTML = parseInt(0.03*att*(1+0.052*(minslot-4))*1.15)
                     }
                  else{
                     document.getElementById(atttype+'strength1').innerHTML = parseInt(att*(1+0.052*(minslot))*1.15)
                     //document.getElementById('3pstrength1').innerHTML = parseInt(0.03*att*(1+0.052*(minslot))*1.15)
                  }
               }
               else{
                  document.getElementById(atttype+'strength1').innerHTML = parseInt(att*(1+0.052*(minslot))*1.15)
                  //document.getElementById('3pstrength1').innerHTML = parseInt(0.03*att*(1+0.052*(minslot))*1.15)
               }
               if (minslot != cslot){
                  document.getElementById(atttype+'strength1').innerHTML = ''
                  //document.getElementById('3pstrength1').innerHTML = ''
               }
               //document.getElementById('3pstrength1').style.color = attcolor[curCard.attribute]
      			//document.getElementById('strengthlevel1').innerHTML = strengthlevel(strength(curCard, 0, skilllevel, 0, 1))
      			//document.getElementById('strengthlevel1').style.color = attcolor[curCard.attribute]
         }
            tmpc = curCard
            att = tmpc[atttype+'2']
            if (tmpc.attribute != atttype)
                  att /= 1.1
               else
                  att += kizuna[tmpc.rarity][1]
            skill = (tmpc.skilldetail === undefined ? 0 : skillstrength(tmpc, skilllevel, 1, 1));
            if (tmpc.skilleffect == 11){
               if ((skill*1.5 > att*0.208*1.15) && (cslot >= 4)){
                  document.getElementById(atttype+'strength2').innerHTML = parseInt(att*(1+0.052*(cslot-4))*1.15+skill*2.5)+'<br>(加分宝石)'
                  //document.getElementById('3pstrength2').innerHTML = parseInt(0.03*att*(1+0.052*(cslot-4))*1.15)
               }
               else{
                  document.getElementById(atttype+'strength2').innerHTML = parseInt(att*(1+0.052*(cslot))*1.15+skill)
                  //document.getElementById('3pstrength2').innerHTML = parseInt(0.03*att*(1+0.052*(cslot))*1.15)
               }
            }
            else if (tmpc.skilleffect == 9){

               if ((skill*naipan > att*0.208*1.15) && (cslot >= 4)){
                     document.getElementById(atttype+'strength2').innerHTML = parseInt(att*(1+0.052*(cslot-4))*1.15+skill*naipan)+'<br>(回血宝石)'
                     //document.getElementById('3pstrength2').innerHTML = parseInt(0.03*att*(1+0.052*(cslot-4))*1.15)
                  }
                  else{
                     document.getElementById(atttype+'strength2').innerHTML = parseInt(att*(1+0.052*(cslot))*1.15)
                     //document.getElementById('3pstrength2').innerHTML = parseInt(0.03*att*(1+0.052*(cslot))*1.15)
                  }
            }
            else{
               document.getElementById(atttype+'strength2').innerHTML = parseInt(att*(1+0.052*(cslot))*1.15)
               //document.getElementById('3pstrength2').innerHTML = parseInt(0.03*att*(1+0.052*(cslot))*1.15)
            }
      		//document.getElementById('strength2').innerHTML = strength(curCard, 1, skilllevel, 0, 1)
            //document.getElementById('3pstrength2').style.color = attcolor[curCard.attribute]
      		//document.getElementById('strengthlevel2').innerHTML = strengthlevel(strength(curCard, 1, skilllevel, 0, 1))
      		//document.getElementById('strengthlevel2').style.color = attcolor[curCard.attribute]
         }
         if (need_scroll) document.getElementById('cardchoice').scrollIntoView(true);
      }, defaultHandleFailedRequest);
   }
   
   function changeskilleffect(c, skilllevel){
   	document.getElementById('skilleffecttitle').style.display = ''
   	document.getElementById('skilleffect').style.display = ''
   	if ((!c.skill) || (c.support == 1) || !LLUnit.isStrengthSupported(c)){
   		document.getElementById('skilleffecttitle').style.display = 'none'
   		document.getElementById('skilleffect').style.display = 'none'
         document.getElementById('skilleffect2').style.display = 'none'
   	}
   	else if (c.skilleffect == 11){
   		document.getElementById('skilleffecttitle').innerHTML = '加分强度'
   		document.getElementById('skilleffect').innerHTML = skillstrength(c, skilllevel, 0, 1)+'<br>修正:'+skillstrength(c, skilllevel, 1, 1)
   		document.getElementById('skilleffect2').innerHTML = skillstrength(c, skilllevel, 0, 1)+'<br>修正:'+skillstrength(c, skilllevel, 1, 1)
   	}
   	else if (c.skilleffect == 9){
   		document.getElementById('skilleffecttitle').innerHTML = '回血期望'
   		document.getElementById('skilleffect').innerHTML = skillstrength(c, skilllevel)+'/note'+'<br>修正:'+skillstrength(c, skilllevel, 1)+'/note'
   		document.getElementById('skilleffect2').innerHTML = skillstrength(c, skilllevel)+'/note'+'<br>修正:'+skillstrength(c, skilllevel, 1)+'/note'
   	}
   	else if ((c.skilleffect == 4) || (c.skilleffect == 5)){
         document.getElementById('skilleffecttitle').style.display = 'none'
         document.getElementById('skilleffect').style.display = 'none'
         document.getElementById('skilleffect2').style.display = 'none'
         /*
   		document.getElementById('skilleffecttitle').innerHTML = '判定覆盖率'
   		document.getElementById('skilleffect').innerHTML = skillstrength(c, skilllevel)+'%'+'<br>修正:'+skillstrength(c, skilllevel, 1)+'%'
   		document.getElementById('skilleffect2').innerHTML = skillstrength(c, skilllevel)+'%'+'<br>修正:'+skillstrength(c, skilllevel, 1)+'%'*/
   	}
   }
   
   function changeLanguage(){
      language = 1-language
      comp_cardselector.setLanguage(language);
   }
   </script>
{% endblock %}

{% block body_onload %}
   <body onload="defer_onload.resolve()" lang="zh-Hans">
{% endblock %}

{% block front_notice %}
<h4 class="alert-heading">说明</h4>
<ul>
<li>通用强度指的是一张卡片在，combo为700，长按比例为8%，滑键比例为4%，P率为95%，时间为120秒，星星为65个，队伍强度为80000，C位加成为15%，单槽加成为5.2%时（或者当4槽的加分、回血宝石更优时使用对应宝石）对得分的贡献程度。由于实际情况下卡片的强度会因为不同图(尤其是<b>滑键比例</b>)、不同P率以及不同Center效果产生一定的不同，想要详细计算请使用<a href="/llnewunit">队伍强度计算</a>进行计算</li>
<li>卡片强度的定义为卡片属性（包括绊、宝石加成）+加分技能（或回血宝石对应加分）对应的属性</li>
<li>关于修正：所谓技能的修正，是因为技能在打歌的最后一次不能完全发动，在设定的情况和均匀分布的随机余数条件下计算的技能的真实效果</li>
<li>如果当前状态下4槽加分、回血宝石对强度加成更高，则使用4槽加分、回血宝石计算强度，此时在强度数值下会显示标记</li>
</ul>
<p>当前版本：4.1及以上。</p>
{% endblock %}

{% block main %}

<h3>卡片库</h3>
<div id='card_data_version'></div>
<div id='card_filter_container'></div>
<br/>
高级筛选：满槽强度下限 <input type="text" id="lowbound" name="lowbound" autocomplete="off" style="width:50px"><br>
卡片：<select id="cardchoice" name="cardchoice" onchange="cslot=-1">
		<option value="">载入中...</option>
	</select>
	<input type="button" id="language" name="language" onclick="changeLanguage()" value="切换语言"></input>
	<br>
   <input type="checkbox" id="showcard" name="showcard" onchange="changecolor()" checked>显示图片</input>
   <input type="checkbox" id="smallcard" name="smallcard" onchange="changecolor()" checked>小图</input>
   <input type="checkbox" id="showncard" name="showncard">显示N卡</input>
   <input type="checkbox" id="naipan" name="naipan" onchange="changenaipan()">弱奶判宝石</input>
   <br>
	
{% include 'components/loadingbox.html' %}

<div id="result" style="display:none">
<h3>基本信息</h3>
<table border='1' style="text-align:center;width:100%">
<tr>
	<td></td>
	<td>HP</td>
	<td>smile</td>
	<td>pure</td>
	<td>cool</td>
	<td>最大绊</td>
	<td style="width:30%">技能</td>
	<td id='skilleffecttitle'></td>
	<td id='skilleffecttitle8' style="display:none"></td>
   <td>技能槽数</td>
	<td>主唱技能</td>
   <td style="display:none">3%强度</td>
	<td>smile强度*(1)</td>
   <td>pure强度</td>
   <td>cool强度</td>
	<td style="display:none">强度等级*(2)</td>
	<td id='strength8' style="display:none">满技能强度*(3)</td>
	<td id='strengthlevel8' style="display:none">强度等级</td>
	
</tr>
<tr id="notmezame">
	<td><img id="avatar1" height="75px" width="75px"></img></td>
	<td id="hp1"></td>
	<td id="smile1" style="color:red"></td>
	<td id="pure1" style="color:green"></td>
	<td id="cool1" style="color:blue"></td>
	<td id="kizuna1"></td>
   <td id="skill" rowspan="2">
      <div id="skillname"></div>
      <div id="skillcontainer" style="display:none">
         <input type="button" id="skilllvup" style="height:20px;width:20px;padding:0" value="▲" /> Lv: <nospan id="skilllevel">1</nospan> <input type="button" id="skilllvdown" style="height:20px;width:20px;padding:0" value="▼" />
         <br/>
         <span id="skilltext"></span>
      </div>
   </td>
	<td id='skilleffect' rowspan="2"></td>
   <td id="skillslot" rowspan="2"></td>
	<td id="centerskill" rowspan="2"></td>
   <td id="3pstrength1" style="display:none"></td>
   <td id="smilestrength1" style="color:red"></td>
   <td id="purestrength1" style="color:green"></td>
   <td id="coolstrength1" style="color:blue"></td>
	<td id="strengthlevel1" style="display:none"></td>
</tr>
<tr>
	<td><img id="avatar2" height="75px" width="75px"></img></td>
	<td id="hp2"></td>
	<td id="smile2" style="color:red"></td>
	<td id="pure2" style="color:green"></td>
	<td id="cool2" style="color:blue"></td>
	<td id="kizuna2"></td>
   <td id="skill2" style="display:none">
      <div id="skillname2"></div>
      <div id="skillcontainer2" style="display:none">
         <input type="button" id="skilllvup2" style="height:20px;width:20px;padding:0" value="▲" /> Lv: <nospan id="skilllevel2">1</nospan> <input type="button" id="skilllvdown2" style="height:20px;width:20px;padding:0" value="▼" />
         <br/>
         <span id="skilltext2"></span>
      </div>
   </td>
	<td id="skilleffect2" style="display:none"></td>
   <td id="skillslot2" style="display:none"></td>
	<td id="centerskill2" style="display:none"></td>
   <td id="3pstrength2" style="display:none"></td>
   <td id="smilestrength2" style="color:red"></td>
   <td id="purestrength2" style="color:green"></td>
   <td id="coolstrength2" style="color:blue"></td>
	<td id="strengthlevel2" style="display:none"></td>
</tr>
</table>
<br>
<div>
<h3>卡面</h3>
<table>
   <tr>
      <td><img id="card" ></img></td>
      <td><img id="card2"></img></td>
   </tr>
</table>
</div>
<h3>立绘（在新标签页内打开以查看大图）</h3>
<table>
   <tr>
      <td><img id="navi" ></img></td>
      <td><img id="navi2" ></img></td>
   </tr>
</table>
</div>
<br>
{% endblock %}
