{% extends "layout.html" %}

{% set category="队伍编成和强度" %}
{% set category_link="/#unit-formation" %}
{% set title="队伍强度、得分计算" %}

{% block additional_header %}
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}?v=1.01"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='llsong.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='lldata.js') }}"></script>
   <script type="text/javascript" src="/static/js/highcharts/highcharts.js"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
   <style type="text/css">
      img {height:65px;width:65px}
      input[type="number"][size="3"] {
         width: 60px;
      }
      input[type="number"][size="2"] {
         width: 50px;
      }
      input[type="number"][size="1"] {
         width: 20px;
      }
      input::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
      }
   </style>
{% endblock %}

{% block script %}
   <script>
   LLSongData.briefKeys.push('jsonpath');
   var llsong = 0;
   var mezame = 0;
   var language = 0;

   var defer_onload = $.Deferred();
   var data_mapnote = 0;
   var comp_skill = 0;
   var comp_cardselector = 0;
   var comp_resultmic = 0;
   var comp_distribution_param = 0;
   var comp_distribution_chart = 0;
   var comp_team = 0;

   $.when(LLCardData.getAllBriefData(), LLSongData.getAllBriefData(), defer_onload).then(function (cardData, songData) {
      // init components
      llsong = new LLSong(songData);
      data_mapnote = new LLMapNoteData();
      comp_skill = new LLSkillContainer();
      comp_cardselector = new LLCardSelector(cardData);
      comp_cardselector.onCardChange = LLUnit.applycarddata;
      comp_resultmic = new LLMicDisplayComponent('resultmic');
      comp_distribution_param = new LLScoreDistributionParameter('distribution_param');
      comp_distribution_param.loadJson(LLHelperLocalStorage.getData(LLHelperLocalStorage.localStorageDistParamKey));

      var comp_dataversion = new LLDataVersionSelectorComponent('card_data_version', LLCardData, function (v) {
         LoadingUtil.startSingle(LLCardData.getAllBriefData().then(function (cards) {
            comp_cardselector.setCardData(cards, true);
         }));
      });
      var comp_savestorage = new LLSaveStorageComponent('unit-storage', {
         'saveData': makeSaveData,
         'loadTeamMember': handleLoadTeamMember
      });
      comp_team = new LLTeamComponent('unit-team', {
         'onPutCardClicked': function(i) {
            var curMain = document.getElementById("main").value;
            var memberData = {
               'cardid': comp_cardselector.getCardId(),
               'mezame': (document.getElementById("mezame").checked ? 1 : 0),
               'smile': parseInt(document.getElementById("smile").value),
               'pure': parseInt(document.getElementById("pure").value),
               'cool': parseInt(document.getElementById("cool").value),
               'skilllevel': parseInt(document.getElementById("skilllevel").innerHTML)
            };
            memberData[curMain] += parseInt(document.getElementById("kizuna").value);
            comp_team.putMember(i, memberData);
         },
         'onCenterChanged': function() {
            LLUnit.changecenter(this.getCardId(4) || 0);
         }
      });

      init();

      // load cookie
      comp_cardselector.loadCookie('llnewunit_cardselector');

      // addition script
      {{additional_script|safe}}

      // done
      document.getElementById('loadingbox').style.display = 'none';
   }, defaultHandleFailedRequest);

   pos = -1
   function changepos(i){
      if (pos==-1){
         document.getElementById('pos'+String(i)).value = '选择'
         pos = i
      }
      else{
         document.getElementById('pos'+String(pos)).value = '换位'+String(pos+1)
         swaplist = ['cardid','mezame','main','smile','pure','cool','skilllevel','gemnum','gemsinglepercent','gemallpercent','gemskill','gemmember','gemnonet','gemacc']
         for (j in swaplist){
            at = swaplist[j]
            tmp = document.getElementById(at+String(pos)).value
            document.getElementById(at+String(pos)).value = document.getElementById(at+String(i)).value
            document.getElementById(at+String(i)).value = tmp
         }
         LLUnit.changeavatarn(pos)
         LLUnit.changeavatarn(i)
         calslot(pos);
         calslot(i);
         pos = -1
      }
   }

   function changemapcolor(attr) {
      if (attr === undefined) attr = document.getElementById('map').value;
      // do not update base, secondbase, bonus, because they are set by center
      document.getElementById('map').style.color = llsong.attcolor[attr];
      if (attr == llsong.getSongAttr()) document.getElementById('songchoice').style.color = llsong.attcolor[attr];
      document.getElementById('secondbase2').innerHTML = attr;
      if (document.getElementById("percentage2").value != 12) document.getElementById('base2').value = attr;
      document.getElementById('bonus2').value = attr;
   }

   function applysongdata() {
      var handleTime = function(t) { document.getElementById("time").value = (t ? t : 110); };
      var handlePerfect = function(combo) { document.getElementById("perfect").value = parseInt(combo*19/20); };
      var handleStar = function() { document.getElementById("starperfect").value = 0; };
      var handleWeight = function(w) { comp_team.setWeights(w); };
      var applyTarget = {
         'attribute': ['map', changemapcolor],
         'combo': ['combo', handlePerfect],
         'time': [handleTime],
         'star': [handleStar],
         'positionweight': [handleWeight]
      };
      llsong.applyDataOfSongWithDiff(applyTarget);
   }

   function calslot(n){
      result = 0
      result += LLSisGem.parseSADDSlot(document.getElementById("gemnum"+String(n)).value);
      result += LLSisGem.parseSMULSlot(parseFloat(document.getElementById("gemsinglepercent"+String(n)).value)*100);
      result += LLSisGem.parseAMULSlot(parseFloat(document.getElementById("gemallpercent"+String(n)).value)*100);
      result += parseInt(parseInt(document.getElementById("gemskill"+String(n)).value)*4)
      result += parseInt(parseInt(document.getElementById("gemacc"+String(n)).value)*4)
      result += parseInt(parseInt(document.getElementById("gemmember"+String(n)).value)*4)
      result += parseInt(parseInt(document.getElementById("gemnonet"+String(n)).value)*4)
      document.getElementById("slot"+String(n)).innerHTML = result
   }

   function changeLanguage(){
      language = 1-language
      llsong.language = language;
      llsong.onSongFilterChange();
      comp_cardselector.setLanguage(language);
   }

   function toMezame(){
      mezame = 1-mezame
      LLUnit.applycarddata();
   }

   function clearall(){
      var inputs = document.getElementsByTagName("input");
      var selects = document.getElementsByTagName("select");
      for (var i=0; i<inputs.length; i++){
         if (inputs[i].name)
            setCookie(inputs[i].name+"unit", inputs[i].value, -1);
      }
      for (var i=0; i<selects.length; i++){
         if (selects[i].name)
            setCookie(selects[i].name+"unit", selects[i].value, -1);
      }
      setCookie("mezame"+"unit", mezame, -1)
      comp_cardselector.deleteCookie('llnewunit_cardselector');
      window.location.href="/llnewunit"
   }

   function makeSaveData() {
      var member = comp_team.getMembers();
      /*
      var member = [{}, {}, {},{},{},{},{},{},{}];
      var saveatt = ['smile', 'pure', 'cool', 'skilllevel', 'cardid', 'mezame', 'gemnum', 'gemsinglepercent', 'gemallpercent', 'gemskill', 'gemmember', 'gemnonet', 'gemacc'];
      for (var i=0; i<9; i++){
         for (var j in saveatt){
            member[i][saveatt[j]] = document.getElementById(saveatt[j]+String(i)).value
         }
      }
      */
      return new LLSaveData(member);
   }

   function saveunit(){
      var saveData = makeSaveData();
      var unitjson = saveData.serializeV1();
      window.location.href="/llsaveunit/"+unitjson;
   }

   function handleLoadTeamMember(teamMember) {
      comp_team.setMembers(teamMember);
      precalcu();
   }

   function handleLoadUnit(unit) {
      var saveData = new LLSaveData(unit);
      console.log(saveData);
      handleLoadTeamMember(saveData.teamMember);
   }

   function loadunit(){
      document.getElementById("unitform").action = '/llload/parent.handleLoadUnit'
      document.getElementById("unitform").target = 'if'
   }

   function precalcu(){
   	document.getElementById("unitform").action = ''
   	document.getElementById("unitform").target = ''
   }

   function init(){
      mezame = getCookie("mezameunit")
      language = getCookie("languageunit")
      if (mezame == "") mezame = 0; else mezame = parseInt(mezame);
      if (language == "")
         language = 0

      llsong.language = language;
      llsong.onDiffSelectChange = applysongdata;
      llsong.showAllSongs();
      llsong.initListeners();
      llsong.initAttrSelectColor('map');

      var inputs = document.getElementsByTagName("input");
      var selects = document.getElementsByTagName("select");
      for (var i=0; i<inputs.length; i++) {
         if (inputs[i].type == "text" && inputs[i].name) {
            var curCookie = getCookie(inputs[i].name+"unit");
            if (curCookie != "") inputs[i].value = curCookie;
         }
      }
      for (var i=0; i<selects.length; i++) {
         if (!selects[i].name) continue;
         if (comp_cardselector.getComponent(selects[i].id)) continue;
         var curCookie = getCookie(selects[i].name+"unit");
         if (curCookie != "") selects[i].value = curCookie;
      }
      document.getElementById("mezame").checked = mezame

      document.getElementById("songsearch").value = ""
      // above codes may select songs/cards/filters according to cookies, so refresh it...
      llsong.onSongFilterChange();
   }

   function saveToCookie(){
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		if (inputs[i].type == "text" && inputs[i].name)
   			setCookie(inputs[i].name+"unit", inputs[i].value, 1);
   	}
   	for (var i=0; i<selects.length; i++){
        if (selects[i].name)
           setCookie(selects[i].name+"unit", selects[i].value, 1);
   	}
      setCookie("mezame"+"unit", mezame, 1)
      setCookie("language"+"unit", language, 1)
      comp_cardselector.saveCookie('llnewunit_cardselector');
   }

   function check(){
   	saveToCookie();
      LLHelperLocalStorage.setData(LLHelperLocalStorage.localStorageDistParamKey, comp_distribution_param.saveJson());
      var distParam = comp_distribution_param.saveData();
      if (distParam.type == 'sim') {
         LLUnit.calculate(docalculate, comp_team.getCardIds(), [data_mapnote.getMapNoteData(llsong.getSelectedSong(), document.getElementById('diffchoice').value)]);
      } else {
         LLUnit.calculate(docalculate, comp_team.getCardIds());
      }
   	return true;
   }

   function docalculate(cards, extraData) {
      var sel_element = ['base', 'base2', 'bonus', 'bonus2', 'map'];
      var sel_int = ['percentage', 'percentage2', 'secondlimit', 'secondlimit2', 'secondpercentage', 'secondpercentage2', 'combo', 'perfect', 'starperfect', 'time', 'skillup', 'tapup'];
      var atts = ['smile', 'pure', 'cool'];
      var member = comp_team.getMembers();
      var mapcenter = {};
      var llmembers = [];
      var weights = comp_team.getWeights();

      for (var i = 0; i < sel_int.length; i++) {
         mapcenter[sel_int[i]] = parseInt(document.getElementById(sel_int[i]).value);
      }
      for (var i = 0; i < sel_element.length; i++) {
         mapcenter[sel_element[i]] = document.getElementById(sel_element[i]).value;
      }

      var mainatt = mapcenter['map']

      for (var i = 0; i < 9; i++) {
         member[i]['card'] = cards[member[i]['cardid']];
         var llsisgems = [];
         llsisgems = llsisgems.concat(LLSisGem.parseSADD(member[i].gemnum, mainatt));
         llsisgems = llsisgems.concat(LLSisGem.parseSMUL(parseFloat(member[i].gemsinglepercent)*100, mainatt));
         llsisgems = llsisgems.concat(LLSisGem.parseAMUL(parseFloat(member[i].gemallpercent)*100, mainatt));
         if (parseInt(member[i].gemskill) == 1) {
            llsisgems.push(new LLSisGem(LLSisGem.SCORE_250, {'color': mainatt}));
         }
         if (parseInt(member[i].gemacc) == 1) {
            llsisgems.push(new LLSisGem(LLSisGem.EMUL_33, {'color': mainatt}));
         }
         if (parseInt(member[i].gemmember) == 1) {
            llsisgems.push(new LLSisGem(LLSisGem.MEMBER_29, {'member': member[i].card.jpname}));
         }
         if (parseInt(member[i].gemnonet) == 1) {
            llsisgems.push(new LLSisGem(LLSisGem.NONET_42, {'color': mainatt, 'unit':(LLConst.isMemberInGroup(member[i].card.jpname, LLConst.GROUP_MUSE) ? 'muse' : 'aqours')}));
         }
         member[i].gems = llsisgems;
         llmembers.push(new LLMember(member[i]));
      }

      var distParam = comp_distribution_param.saveData();
      var llmap = new LLMap({'song': llsong.getSelectedSong(), 'diff': document.getElementById('diffchoice').value});
      llmap.attribute = mainatt;
      llmap.setSongDifficultyData(mapcenter.combo, mapcenter.starperfect, mapcenter.time, mapcenter.perfect, mapcenter.starperfect);
      llmap.setMapBuff(mapcenter.tapup, mapcenter.skillup);
      llmap.setWeights(weights);
      llmap.setFriendCSkill(mapcenter.bonus2, mapcenter.base2, mapcenter.percentage2, mapcenter.secondlimit2, mapcenter.secondpercentage2);

      var llteam = new LLTeam(llmembers);
      llteam.calculateAttributeStrength(llmap);
      llteam.calculateSkillStrength(llmap);

      document.getElementById('resultsmile').innerHTML = llteam.finalAttr.smile + ' (+' + llteam.bonusAttr.smile + ')';
      document.getElementById('resultpure').innerHTML = llteam.finalAttr.pure + ' (+' + llteam.bonusAttr.pure + ')';
      document.getElementById('resultcool').innerHTML = llteam.finalAttr.cool + ' (+' + llteam.bonusAttr.cool + ')';

      comp_team.setStrengthAttributes(llteam.attrStrength);
      comp_team.setStrengthDebuffs(llteam.attrDebuff);

      if (distParam.type != 'no') {
         var t0 = window.performance.now();

         var percentiles = [1, 2, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 95, 98, 99];
         var err;
         if (distParam.type == 'v1') {
            err = llteam.calculateScoreDistribution();
         } else if (distParam.type == 'sim') {
            llmap.perfect = Math.floor(parseFloat(distParam.perfect_percent || 0)/100 * llmap.combo);
            llmap.speed = distParam.speed;
            llmap.combo_fever_pattern = distParam.combo_fever_pattern;
            err = llteam.simulateScoreDistribution(llmap, extraData[0], parseInt(distParam.count));
         } else {
            err = '未知的得分分布';
         }
         if (err) {
            document.getElementById('errorresult').innerHTML = err;
            document.getElementById('errorresult').style.display = '';
         } else {
            llteam.calculatePercentileNaive();
            document.getElementById('errorresult').style.display = 'none';
         }
         var t1 = window.performance.now();
         console.debug(llteam);

         console.debug('Elapesd time (ms): ' + (t1 - t0).toFixed(3));
         document.getElementById('averagescore').innerHTML = llteam.naiveExpection;
         for (var i in percentiles){
            document.getElementById('simresult'+(100-percentiles[i]).toString()).innerHTML = llteam.naivePercentile[percentiles[i]];
         }
         document.getElementById('maxscoreprobability').innerHTML = '(' + (llteam.probabilityForMaxScore * 100) + ')%';
         document.getElementById('minscoreprobability').innerHTML = '(' + (llteam.probabilityForMinScore * 100) + ')%';
         document.getElementById('simresult0').innerHTML = llteam.maxScore;
         document.getElementById('simresult100').innerHTML = llteam.minScore;
         document.getElementById('distributionresult').style.display = '';
         if (!comp_distribution_chart) {
            comp_distribution_chart = new LLScoreDistributionChart('score_chart', {'series': [llteam.naivePercentile], 'width': '100%', 'height': '400px'});
         } else {
            comp_distribution_chart.addSeries(llteam.naivePercentile);
         }
      } else {
         document.getElementById('averagescore').innerHTML = llteam.averageScore;
         document.getElementById('distributionresult').style.display = 'none';
         document.getElementById('errorresult').style.display = 'none';
      }

      document.getElementById('averageheal').innerHTML = LLUnit.healNumberToString(llteam.averageHeal);

      var cardStrengthList = [], totalStrengthList = [];
      for (var i=0;i<9;i++){
         var curCardStrength = llteam.attrStrength[i]+llteam.avgSkills[i].strength;
         var curStrength = curCardStrength - llteam.attrDebuff[i];
         cardStrengthList.push(curCardStrength);
         totalStrengthList.push(curStrength);
         comp_team.setStrengthSkillTheory(i, llteam.avgSkills[i].strength, LLUnit.isStrengthSupported(llteam.members[i].card));
         comp_team.setHeal(i, LLUnit.healNumberToString(llteam.avgSkills[i].averageHeal));
      }
      document.getElementById('resultstrength').innerHTML = llteam.totalStrength + ' (属性 ' + llteam.totalAttrStrength + ' + 技能 ' + llteam.totalSkillStrength + ')';
      //document.getElementById('averageaccuracy').innerHTML = (totalaccuracy*100).toFixed(1).toString()+'%'

      comp_team.setStrengthCardTheories(cardStrengthList);
      comp_team.setStrengthTotalTheories(totalStrengthList);

      llteam.calculateMic();
      comp_resultmic.set(llteam.micNumber, llteam.equivalentURLevel);

      document.getElementById('result').style.display = ""
      document.getElementById("result").scrollIntoView()
   }

   </script>
{% endblock %}

{% block body_onload %}
   <body onload="defer_onload.resolve()" lang="zh-Hans">
{% endblock %}

{% block front_notice %}
<h4 class="alert-heading">使用方法</h4>
<ol>
      <li>选择歌曲 或 填写歌曲详细信息 <font style='color:red'><b>务必记得修改perfect数量（若卡组中有判卡，请填写带判情况下的perfect数量）</b></font></li>
      <li>选择卡牌数据版本</li>
      <li>从卡牌库中选择一张卡，点击「放卡」来放置到对应位置 <font style='color:red'><b>一张卡默认为满级、一级技能的数据，若不是则需要修改</b></font></li>
      <li>使用以上方法选择所有的9张卡</li>
      <li>可以点击「保存队伍」将队伍配置文件保存到本地，也可以在「队伍列表」中保存到浏览器</li>
      <li>第3、4步可以从保存的文件中读取队伍信息来代替：点击「选择文件」选择本地配置文件，再点击「读取队伍」；或点击「队伍列表」中的队伍名称</li>
      <li>选择主唱技能和好友主唱技能，设置点击得分增加系数和技能发动率增加系数 <font style='color:red'><b>计算SM、MF、CF、协力得分时将好友主唱加成设为0%</b></font></li>
      <li>选择分数分布计算模式。目前有3种计算模式，分别为「不计算分布」、「计算理论分布」和「计算模拟分布」。「不计算分布」和「计算理论分布」不支持 <font style='color:red'><b>box新技能的计算</b></font>；「计算模拟分布」 <font style='color:red'><b>支持大部分box新技能的计算</b></font>，若选择该项需要设置模拟次数、 <font style='color:red'><b>无判perfect率</b></font>和图标下落速度， <font style='color:red'><b>如果要计算默认歌曲请选择默认曲目2</b></font>（各模式支持计算的技能/宝石列表请点击「查看支持计算的技能/宝石」）</li>
      <li>点击calculate进行计算。「不计算分布」仅会显示期望得分；「计算理论分布」会显示期望得分和理论得分分布；「计算模拟分布」会进行模拟打歌，将模拟结果汇总绘制成曲线，如果要清空图中内容请点击「清空曲线」</li>
</ol>
<p>当前版本：6.5.3。</p>
{% endblock %}

{% block main %}
<input type="submit" name="clear" value="清空输入" onclick="clearall()"><br>
<form action="" id="unitform" name="unitform" method="POST" enctype=multipart/form-data>
<h3>歌曲信息</h3>
搜索：<input type="text" id="songsearch" name="songsearch" value=""></input><br>
筛选：
	<select id="songatt" name="songatt">
		<option value="">属性</option>
		<option value="smile">smile</option>
		<option value="pure">pure</option>
		<option value="cool">cool</option>
	</select>
	<select id="songunit" name="songunit">
		<option value="">组合</option>
		<option value="muse">μ's</option>
		<option value="aqours">Aqours</option>
	</select><br>
歌曲：<select id="songchoice" name="songchoice">
		<option value=""> </option>
	</select>
	<input type="button" id="language" name="language" onclick="changeLanguage()" value="切换语言"></input>
	<br>
   难度：<select id="diffchoice" name="diffchoice">
   </select><br>
	图属性 :<select id="map" name="map" onchange="changemapcolor();">
		<option value="smile">smile</option>
		<option value="pure">pure</option>
		<option value="cool">cool</option>
	</select><br>
	总combo数 :<input type="number" id="combo" name="combo" value="300" autocomplete="off" style="width:50px"><br>
	perfect数:<input type="number" id="perfect" name="perfect" value="285" autocomplete="off" style="width:50px"><br>
	时间:<input type="number" step="any" id="time" name="time" value="100" autocomplete="off" style="width:50px">秒（从人物出现到最后一个note被击打的时间，不是歌曲长度。部分谱面无长度数据，默认值为110秒）<br>
	星星perfect数:<input type="number" id="starperfect" name="starperfect" value="47" autocomplete="off" style="width:50px">（只有星星系加分需要填写）<br>
<br>

{% include 'components/card-selector.html' %}

<div style="clear:both"></div>
<h3>队伍属性</h3>
<div class="col-xs-12 col-lg-9" style="overflow-x:auto" id="unit-team"></div>
<div class="col-xs-12 col-lg-3">
   <input type="button" value="保存队伍" onclick="saveunit()">
   <input type="file" name="file"/>
   <input type="submit" value="读取队伍" onclick="loadunit()">

   <div id="unit-storage" style="margin-top: 30px"></div>
</div>
<div style="clear:both"></div>

主唱技能 :<select id="bonus" name="bonus">
		<option value="smile" style="color:red">smile</option>
		<option value="pure" style="color:green">pure</option>
		<option value="cool" style="color:blue">cool</option>
	</select>增加<select id="base" name="base">
      <option value="smile" style="color:red">smile</option>
      <option value="pure" style="color:green">pure</option>
      <option value="cool" style="color:blue">cool</option>
   </select>的<select id="percentage" name="percentage">
      <option value=0>0</option>
      <option value=3>3</option>
      <option value=6 SELECTED>6</option>
      <option value=7>7</option>
      <option value=9>9</option>
      <option value=12>12</option>
   </select>%+
   <select id="secondlimit" name="secondlimit">
      <option value=""></option>
      <option value="4" SELECTED>μ's</option>
      <option value="5">Aqours</option>
      <option value="1">一年级</option>
      <option value="2">二年级</option>
      <option value="3">三年级</option>
      <option value="6">Printemps</option>
      <option value="7">lilywhite</option>
      <option value="8">BiBi</option>
      <option value="9">CYaRon!</option>
      <option value="10">AZALEA</option>
      <option value="11">Guilty Kiss</option>
   </select>的<nospan id="secondbase" name="secondbase">
   属性
   <!--
      <option value="smile" style="color:red">smile</option>
      <option value="pure" style="color:green">pure</option>
      <option value="cool" style="color:blue">cool</option>-->
   </nospan>增加<select id="secondpercentage" name="secondpercentage">
      <option value=0 SELECTED>0</option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=6>6</option>
   </select>%<br>
好友主唱技能 :<select id="bonus2" name="bonus2">
		<option value="smile" style="color:red">smile</option>
      <option value="pure" style="color:green">pure</option>
      <option value="cool" style="color:blue">cool</option>
	</select>增加<select id="base2" name="base2">
      <option value="smile" style="color:red">smile</option>
      <option value="pure" style="color:green">pure</option>
      <option value="cool" style="color:blue">cool</option>
   </select>的<select id="percentage2" name="percentage2">
      <option value=0 SELECTED>0</option>
      <option value=3>3</option>
      <option value=6>6</option>
      <option value=7>7</option>
      <option value=9>9</option>
      <option value=12>12</option>
   </select>%+
   <select id="secondlimit2" name="secondlimit2">
      <option value=""></option>
      <option value="4" SELECTED>μ's</option>
      <option value="5">Aqours</option>
      <option value="1">一年级</option>
      <option value="2">二年级</option>
      <option value="3">三年级</option>
      <option value="6">Printemps</option>
      <option value="7">lilywhite</option>
      <option value="8">BiBi</option>
      <option value="9">CYaRon!</option>
      <option value="10">AZALEA</option>
      <option value="11">Guilty Kiss</option>
   </select>的<nospan id="secondbase2" name="secondbase2">
   歌曲属性
   <!--
      <option value="smile" style="color:red">smile</option>
      <option value="pure" style="color:green">pure</option>
      <option value="cool" style="color:blue">cool</option>-->
   </nospan>增加<select id="secondpercentage2" name="secondpercentage2">
      <option value=0 SELECTED>0</option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=6>6</option>
   </select>%<br>
点击得分增加：<input type="number" step="any" id="tapup" name="tapup" value="0" size=2 />%<br>
技能发动率增加：<input type="number" step="any" id="skillup" name="skillup" value="0" size=2 />%<br>
<div id="distribution_param"></div>
<input type="button" value="calculate" onclick="check()">
   <br><br><br>
</form>

<iframe style="display:none" id='if' name='if' src='about:blank' frameborder='0' allowtransparency="yes"></iframe>

{% include 'components/loadingbox.html' %}

<div id="result" style="display:none">
<table border="1">
<tr>
	<td>smile</td>
	<td>pure</td>
	<td>cool</td>
</tr>
<tr>
	<td id="resultsmile"></td>
	<td id="resultpure"></td>
	<td id="resultcool"></td>
</tr>
</table>
卡组强度:<nospan id="resultstrength"></nospan><br>
<div id="resultmic"></div>
期望得分:<nospan id="averagescore"></nospan><br>

期望回复:<nospan id="averageheal"></nospan><br>

<!--期望判定覆盖率：<nospan id="averageaccuracy"></nospan><br>-->
</div>
<div id="errorresult" style="display:none;color:red"></div>
<div id='distributionresult' style='display:none'>
<h3>得分分布</h3>
最高分：<span id='simresult0'></span>&nbsp;概率：<span id='maxscoreprobability'></span><br/>
最低分：<span id='simresult100'></span>&nbsp;概率：<span id='minscoreprobability'></span><br/>
<table border="1">
<tr>
	<td>1%</td>
	<td>2%</td>
	<td>5%</td>
	<td>10%</td>
	<td>20%</td>
	<td>30%</td>
	<td>40%</td>
	<td>50%</td>
	<td>60%</td>
	<td>70%</td>
	<td>80%</td>
	<td>90%</td>
	<td>95%</td>
	<td>98%</td>
	<td>99%</td>
</tr>
<tr>
	<td id='simresult1'></td>
   <td id='simresult2'></td>
   <td id='simresult5'></td>
   <td id='simresult10'></td>
   <td id='simresult20'></td>
   <td id='simresult30'></td>
   <td id='simresult40'></td>
   <td id='simresult50'></td>
   <td id='simresult60'></td>
   <td id='simresult70'></td>
   <td id='simresult80'></td>
   <td id='simresult90'></td>
   <td id='simresult95'></td>
   <td id='simresult98'></td>
   <td id='simresult99'></td>
</tr>
</table>
</div>
<div id='score_chart' style='width:100%;display:none'></div>
{% endblock %}

{% block back_notice %}
<h4 class="alert-heading">注意</h4>
<ul>
   <li>「计算理论分布」使用真实分布计算，计算速度比较慢；「计算模拟分布」使用模拟打歌计算，模拟次数越多，计算速度越慢，但也越接近真实分布</li>
   <li>由于使用歌曲信息计算，最终结果可能会有误差</li>
   <li>判定期间属性1.33倍的宝石计算有误，暂时按无效计算。</li>
   <li>由于「不计算分布」和「计算理论分布」不支持box新技能的计算，新技能卡的技能强度会显示为0</li>
   <li>默认曲目的模拟分布与理论分布不兼容，两者计算结果可能会有较大差异</li>
</ul>
{% endblock %}

{% block back_notice_2 %}
<h4 class="alert-heading">说明</h4>
<ul>
   <li>卡强度指的是不考虑异色和异团带来的负面影响时的强度，该数值方便异团卡、异色横向比较。实际强度则是考虑异色和异团加成的强度</li>
</ul>
{% endblock %}

