{% extends "layout.html" %}

{% set category="活动算心" %}
{% set category_link="/#event-expense" %}
{% set title="散步拉力赛助手" %}
{% set event_abbr="散拉" %}
{% set useMasonry=True %}

{% block additional_header %}
   <script src="http://lovelive.oss-cn-beijing.aliyuncs.com/Js/ReadPredCN.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}?v=1.01"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailtime.js') }}?v=1.02"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
{% endblock %}

{% block script %}
   <script language="javascript">
   lpcost = [5, 10, 15, 25]
   var basept = new Array()
   basept[0] = [42, 99, 173, 343]
   basept[1] = [42, 99, 173, 343]
   pt = [50,200,400,600,800,1000]
   expbydiff = [12, 26, 46, 83]
   
   function init(){
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		if (inputs[i].type == "text")
   			if (getCookie(inputs[i].name) != "")
   				inputs[i].value = getCookie(inputs[i].name);
   	}
   	for (var i=0; i<selects.length; i++){
   		if (getCookie(selects[i].name) != "")
   			selects[i].value = getCookie(selects[i].name);
   	}
   	document.getElementById('timeleft').style.backgroundColor = '#FFFF80'
   }
   
   function setrank(){
   	rm = [1, 1.05, 1.1, 1.15, 1.2]
   	rank = document.getElementById("rankselect").value
   	if (rank != ""){
   		document.getElementById("rank").value = rm[parseInt(rank)]
   	}
   }
   
   function clearrank(){
   	document.getElementById("rankselect").value=""
   }
   
   function setcombo(){
   	om = [1.08, 1.06, 1.04, 1.02, 1]
   	combo = document.getElementById("comboselect").value
   	if (combo != ""){
   		document.getElementById("combo").value = om[parseInt(combo)]
   	}
   }
   
   function clearcombo(){
   	document.getElementById("comboselect").value = ""
   }
   
   function saveToCookie(){
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		if (inputs[i].type == "text")
   			setCookie(inputs[i].name, inputs[i].value, 1);
   	}
   	for (var i=0; i<selects.length; i++){
   		setCookie(selects[i].name, selects[i].value, 1);
   	}
   }
   
   function check(){
   	var inputs = document.getElementsByTagName("input");
   	for (i in inputs){
   		if (inputs[i].type != "text")
   			continue
   		if (!isNotNegative(inputs[i].value)){
   			alert("请输入非负数");
   			return false;
   		}
   		if (parseInt(document.getElementById("target").value) > 5000000){
   			alert("不可能达到5百万点以上")
   			return false;
   		}
   		if (parseInt(document.getElementById("lpwaste").value) > 240){
   			alert("一天几小时来着？")
   			return false;
   		}
   	}
   	saveToCookie();
   	calcu()
   	document.getElementById("result").scrollIntoView()
   	return true;
   }
   
   function calcu(){
   	infolist = ['timeleft', 'lpwaste','diff','rank','combo','target','current','lp','lvl','exp','expf', 'storyselect']
   	remlist = ['current','lp','lvl','exp','extraplaytime']
   	for (i in infolist)
   		eval(infolist[i]+' = parseFloat(document.getElementById(infolist[i]).value)')
   	afteraquors = 0
      playtime = 0
   	extraplaytime = 0
   	loveca = 0
   	lvlupwarning = 0
   	safelp = 2
   	lp += parseInt(timeleft*10)-lpwaste*parseInt((timeleft-14)/24+1)-safelp
      current += storyselect
   	while ((current < target) || (lp >= 5) || (exp >= expbylvl(lvl, expf))){
   		while ((lp >= lpcost[diff]) || (exp >= expbylvl(lvl, expf))){
   			if (lp >= lpcost[diff]){
   				play = parseInt(lp/lpcost[diff])
   				playtime += play
   				lp -=play*lpcost[diff]
   				exp += expbydiff[diff]*play
   				current += parseInt(basept[afteraquors][diff]*rank*combo*play)
   			}
   			while (exp >= expbylvl(lvl, expf)){
   				exp -= expbylvl(lvl, expf)
   				lvl += 1
   				lp += lpbylvl(lvl)
   			}
   		}
   		//deal with remainings
   		for (i in remlist)
   			eval('tmp'+remlist[i]+' = '+remlist[i])
         while ((lp >= 5) || (exp >= expbylvl(lvl, expf))){
         while ((lp >= lpcost[diff]) || (exp >= expbylvl(lvl, expf))){
            if (lp >= lpcost[diff]){
               play = parseInt(lp/lpcost[diff])
               playtime += play
               lp -=play*lpcost[diff]
               exp += expbydiff[diff]*play
               current += parseInt(basept[afteraquors][diff]*rank*combo*play)
            }
            while (exp >= expbylvl(lvl, expf)){
               exp -= expbylvl(lvl, expf)
               lvl += 1
               lp += lpbylvl(lvl)
            }
         }
   		if (lp >= 5){
   			for (i = 3; i >= 0; i--){
   				if (lp >= lpcost[i]){
   					lp -= lpcost[i]
   					exp += expbydiff[i]
   					current += parseInt(basept[afteraquors][i]*rank*combo)
   					extraplaytime += 1
   				}
   			}
   		}
   		if (exp >= expbylvl(lvl, expf)){
   			continue
   		}
      }

   		if (current < target){
   			for (i in remlist)
   				eval(remlist[i]+' = tmp'+remlist[i])
   			loveca += 1
   			lp += lpbylvl(lvl)
   			lvlupwarning = 0
   		}	
   	}
   	//powered by Glaceon
   	expneed = expbylvl(lvl, expf)
   	returnlist = ['loveca','playtime','extraplaytime','lvl','exp','expneed','current','totalhour','totalminute','extrahour','extraminute','warning']
   	totalhour = parseInt((playtime)*3/60)
   	totalminute = parseInt((playtime)*3)-60*totalhour
   	extrahour = parseInt((extraplaytime)*3/60)
   	extraminute = parseInt((extraplaytime)*3)-60*extrahour
   	warning = ""
   	if (exp-3.3*lpbylvl(lvl) < 50)
   		warning = "最后一次升级的时间离活动结束时间较近，请提前规划好时间"
   	for (i in returnlist)
   		eval('document.getElementById("r"+returnlist[i]).innerHTML = '+returnlist[i])
   	document.getElementById("result").style.display = ""
   }
   
   function clearall(){
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		setCookie(inputs[i].name, inputs[i].value, -1);
   	}
   	for (var i=0; i<selects.length; i++){
   		setCookie(selects[i].name, selects[i].value, -1);
   	}
   	window.location.href="/llsm"
   }
   /*
   function showprediction(){
   	document.getElementById('prediction').innerHTML = '一档 65000pt(-1100)； 二档 53500pt(-800) （10月26日12:00更新）'
   }
   
   function hideprediction(){
   	document.getElementById('prediction').innerHTML = 'LLhelper国服十月秋收花活动预测线'
   }*/
   </script>
{% endblock %}

{% block body_onload %}
   <body onload="init()" lang="zh-Hans">
{% endblock %}

{% block front_notice %}
<h4 class="alert-heading">使用方法</h4>
<ol>
	<li>输入剩余时间 或 点击按钮选择服务器来自动计算剩余时间</li>
	<li>填写剩下所有文本框，其中rank加成和顺位加成可以参考系数表，也可以通过选择rank和顺位自动填入系数</li>
	<li>点击 <span class="label label-primary">计算</span> 按钮</li>
</ol>
{% endblock %}

{% block main %}
<div class="row">
{% include "components/event-time.html" %}
<div class="col-xs-12 col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">活动数据</div>
		<div class="panel-body">
<div class="form-group">
	<label class="control-label">难度选择</label>
	<select class="form-control" id="diff" name="diff">
	<option value=0>Easy</option>
	<option value=1>Normal</option>
	<option value=2>Hard</option>
	<option value=3 SELECTED>Expert</option>
	</select>
</div>
<div class="form-group">
	<label class="control-label">剧情进度</label>
	<select class="form-control" id="storyselect" name="storyselect">
   <option value=1000>无</option>
   <option value=950>序章</option>
   <option value=800>第一章</option>
   <option value=600>第二章</option>
   <option value=400>第三章</option>
   <option value=200>第四章</option>
   <option value=0>第五章</option>
   </select>
</div>
<div class="form-group">
	<label class="control-label">Rank（可选）</label>
	<select class="form-control" id="rankselect" name="rankselect" onchange="setrank()">
	<option value=""></option>
	<option value=0>-</option>
	<option value=1>C</option>
	<option value=2>B</option>
	<option value=3>A</option>
	<option value=4 SELECTED>S</option>
	</select>
</div>
<div class="form-group">
	<label class="control-label">Rank加成</label>
	<div class="input-group">
		<input class="form-control" id="rank" type="text" name="rank" value="1.2" autocomplete="off" onchange="clearrank()">
		<span class="input-group-addon">x</span>
	</div>
</div>
<div class="form-group">
	<label class="control-label">Combo（可选）</label>
	<select class="form-control" id="comboselect" name="comboselect" onchange="setcombo()">
	<option value=""></option>
	<option value=0>S</option>
   <option value=1 SELECTED>A</option>
	<option value=2>B</option>
	<option value=3>C</option>
	<option value=4>D</option>
	</select>
</div>
<div class="form-group">
	<label class="control-label">Combo加成</label>
	<div class="input-group">
	<input class="form-control" id="combo" type="text" name="combo" value="1.06" autocomplete="off" onchange="clearcombo()">
	<span class="input-group-addon">x</span>
	</div>
	</div>
		</div>
	</div>
</div>
{% include "components/event-points.html" %}
{% include "components/event-current.html" %}
{% include "components/event-calc-result.html" %}
</div>
{% include "components/event-calc-button.html" %}

<div id="result" style="display:none">
<div style="float:left">
需要心数：<nospan id="rloveca"></nospan>心<br>
SM次数：<nospan id="rplaytime"></nospan>次 + <nospan id="rextraplaytime"></nospan>次<br>
总游戏时间：<nospan id="rtotalhour"></nospan>小时<nospan id="rtotalminute"></nospan>分 + <nospan id="rextrahour"></nospan>小时<nospan id="rextraminute"></nospan>分（一首按三分计算）<br>
最终等级：<nospan id="rlvl"></nospan><br>
最终exp：<nospan id="rexp"></nospan>/<nospan id="rexpneed"></nospan><br>
最终点数：<nospan id="rcurrent"></nospan><br>
<nospan id="rwarning" style="color:red"></nospan>
</div>
</div>
{% endblock %}

{% block back_notice %}
<h4 class="alert-heading">注意</h4>
<ol>
	<li>加号后面的次数/时间为因为活动途中方便升级和活动结束前清理最后剩下的LP/道具而打的与指定的难度不同的图的次数，可能会因为玩家游戏策略的不同而震荡，在活动接近结束的时候会收敛，仅供参考</li>
	<li>如果最终点数和目标点数过于接近，请考虑多磕一心。</li>
</ol>
{% endblock %}
