<!DOCTYPE html>
<html>
   <head>
      <title>twintailosu</title>
      <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
   <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
   <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}"></script>
   <style type="text/css">
   	button {position:relative;height:200px;width:200px;margin-left:100px;margin-top:100px;background-color:#F0F8FF}
   </style>
   
   <script language="javascript">
   function init(){
   	//alert(document.cookie)
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		if (inputs[i].type == "text")
   			if (getCookie(inputs[i].name) != "")
   				inputs[i].value = getCookie(inputs[i].name);
   	}
   	for (var i=0; i<selects.length; i++){
   		if (getCookie(selects[i].name) != "")
   			selects[i].value = getCookie(selects[i].name);
   	}
   }
   
   function setrank(){
   	rm = [1, 1.05, 1.1, 1.15, 1.2]
   	rank = document.getElementById("rankselect").value
   	if (rank != ""){
   		document.getElementById("rank").value = rm[parseInt(rank)]
   	}
   }
   
   function clearrank(){
   	document.getElementById("rankselect").value=""
   }
   
   function setorder(){
   	om = [1.1125, 1.25, 1.15, 1.05, 1]
   	order = document.getElementById("orderselect").value
   	if (order != ""){
   		document.getElementById("order").value = om[parseInt(order)]
   	}
   }
   
   function clearorder(){
   	document.getElementById("orderselect").value = ""
   }
   
   function saveToCookie(){
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		if (inputs[i].type == "text")
   			setCookie(inputs[i].name, inputs[i].value, 1);
   	}
   	for (var i=0; i<selects.length; i++){
   		setCookie(selects[i].name, selects[i].value, 1);
   	}
   }
   
   function check(){
   	var inputs = document.getElementsByTagName("input");
   	for (i in inputs){
   		if (inputs[i].type != "text")
   			continue
   		if (!isNotNegative(inputs[i].value)){
   			alert("请输入非负数");
   			return false;
   		}
   		if (parseInt(document.getElementById("target").value) > 5000000){
   			alert("不可能达到5百万点以上")
   			return false;
   		}
   		if (parseInt(document.getElementById("lpwaste").value) > 240){
   			alert("一天几小时来着？")
   			return false;
   		}
   	}
   	saveToCookie();
   	return true;
   }
   
    function cntime(){
   	var d = new Date()
   	var day = d.getDate()
   	var hour = d.getHours()
   	var minute = d.getMinutes()
   	var month = d.getMonth()
   	var offset = d.getTimezoneOffset()
   	var daysByMonth = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
   	var endDay =10
   	if ((day > 12) && (day < 30)) {endDay = 27;}
   	var endHour = 14
   	timeleft = 24*(endDay-day)+endHour-hour-parseInt(minute/6)/10.0-8-offset/60
   	if (day >= 30){timeleft = 24*(endDay+daysByMonth[month]-day)+endHour-hour-parseInt(minute/6)/10.0-8-offset/60}
   	document.getElementById("timeleft").value=String(timeleft)
   }
   
   function jptime(){
   	var d = new Date()
   	var day = d.getDate()
   	var hour = d.getHours()
   	var minute = d.getMinutes()
   	var month = d.getMonth()
   	var offset = d.getTimezoneOffset()
   	var endDay =15
   	var daysByMonth = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
   	if (day > 17) {endDay = daysByMonth[month];}
   	var endHour = 14
   	timeleft = 24*(endDay-day)+endHour-hour-parseInt(minute/6)/10.0-8-offset/60
   	document.getElementById("timeleft").value=String(timeleft)
   }
   
   function clearall(){
   	var inputs = document.getElementsByTagName("input");
   	var selects = document.getElementsByTagName("select");
   	for (var i=0; i<inputs.length; i++){
   		setCookie(inputs[i].name, inputs[i].value, -1);
   	}
   	for (var i=0; i<selects.length; i++){
   		setCookie(selects[i].name, selects[i].value, -1);
   	}
   	window.location.href="/llsm"
   }
   </script>
   
   
  </head>
   <body onload="init()">

<div data-role="page">
	<div data-role="content">
		<input type="submit" name="cntime" value="国服活动" onclick="cntime()">
		<input type="submit" name="jptime" value="日服活动" onclick="jptime()">
		<input type="submit" name="clear" value="清空输入" onclick="clearall()">
		<form method="POST" onsubmit="return check()">
		<div data-role="fieldcontain">
			<div data-role="fieldcontain" data-controltype="textinput">
				<label for="timeleft">剩余时间 (小时):</label>
				<input type="text" id="timeleft" name="timeleft" autocomplete="off" placeholder="剩余时间">
			</div>
			<div data-role="fieldcontain" data-controltype="textinput">
				<label for="lpwaste">每天浪费LP :</label>
				<input id="lpwaste" type="text" name="lpwaste" value="0" autocomplete="off" placeholder="每天浪费LP">
			</div>
			<div data-role="fieldcontain" data-controltype="selectmenu">
			<label for="diff">难度选择 :</label><select id="diff" name="diff">
				<option value=0>Easy</option>
				<option value=1>Normal</option>
				<option value=2>Hard</option>
				<option value=3 SELECTED>Expert</option>
				</select>
			</div>
			<div data-role="fieldcontain" data-controltype="selectmenu">
				<label for="rankselect">rank（可选）：</label><select id="rankselect" onchange="setrank()">
				<option value="">rank</option>
				<option value=0>-</option>
				<option value=1>C</option>
				<option value=2>B</option>
				<option value=3>A</option>
				<option value=4>S</option>
				</select>
			</div>
			<div data-role="fieldcontain" data-controltype="textinput">
				<label for="rank">rank加成：</label>
				<input id="rank" type="text" name="rank" value="1.2" size=2 autocomplete="off" onchange="clearrank()" placeholder="rank加成">
			</div>
			<div data-role="fieldcontain" data-controltype="selectmenu">
			<label for="orderselect">顺位（可选）：</label><select id="orderselect" onchange="setorder()">
				<option value="">顺位</option>
				<option value=0>一位~四位平均</option>
				<option value=1>一位</option>
				<option value=2>二位</option>
				<option value=3>三位</option>
				<option value=4>四位</option>
				</select>
			</div>
			<div data-role="fieldcontain" data-controltype="textinput">
				<label for="order">顺位加成：</label>
				<input id="order" type="text" name="order" value="1.1125" size=2 autocomplete="off" onchange="clearorder()" placeholder="顺位加成">
			</div>
			<a href="/smmulti" target="_blank">加成系数表</a>
			<div data-role="fieldcontain" data-controltype="textinput">
				<label for="target">目标点数 :</label>
				<input type="text" id="target" name="target" autocomplete="off" placeholder="目标点数">
			</div>
			<div data-role="fieldcontain" data-controltype="textinput">
				<label for="current">已有点数 :</label>
				<input type="text" id="current" name="current" autocomplete="off" placeholder="已有点数">
			</div>
			<div data-role="fieldcontain" data-controltype="textinput">
				<label for="lp">当前剩余LP :</label>
				<input type="text" id="lp" name="lp" autocomplete="off" placeholder="当前剩余LP">
			</div>
			<div data-role="fieldcontain" data-controltype="textinput">
				<label for="lvl">当前等级 :</label>
				<input type="text" id="lvl" name="lvl" autocomplete="off" placeholder="当前等级">
			</div>
			<div data-role="fieldcontain" data-controltype="textinput">
				<label for="exp">当前经验 :</label>
				<input type="text" id="exp" name="exp" autocomplete="off" placeholder="当前经验">
			</div>
			<div data-role="fieldcontain" data-controltype="selectmenu">
			<label for="expf">经验公式 :</label><select id="expf" name="expf">
						<option value=0 SELECTED>normal</option>
						<option value=1>half</option>
				</select>
			</div>
		</div>
		<input type="submit" name="submit" value="Calculate">
		</form> <br>

{% if data.calculate == 1%}
需要心数 : {{data.loveca}}个<br>
总消耗lp: {{data.normal}}<br>

SM次数 : {{data.normalmap}}次<br>
总游戏时间：{{data.hour}}小时 {{data.min}}分钟 （一首按3分钟计算，不包括尾数）<br>

最终等级 : {{data.finallvl}}<br>
最终经验：{{data.exp}}/{{data.needexp}}<br>
最终点数 : {{data.finalpt}}<br>
{% endif %}
	</div>
</div>
</body>
</html>