<!DOCTYPE html>
<html>
   <head>
      <title>LLhelper</title>
      <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
   <style type="text/css">
   	button {position:relative;height:200px;width:200px;margin-left:100px;margin-top:100px;background-color:#F0F8FF}
   	table {position:relative;margin-left:30px;}
   	td {size:2}
   </style>
   <script>
   var regS = new RegExp("&#34;", "g")
   var regS2 = new RegExp("&#39;", "g")
   var regSand = new RegExp("&amp;", "g")
   var songsjson = "{{songsjson}}".replace(regS,'"').replace(regS2, "'").replace(regSand, '&')
   var songs = eval("("+songsjson+")")
   var songsdiffjson = "{{songsdiff}}".replace(regS,'"').replace(regS2, "'").replace(regSand, '&')
   var songsdiff = eval("("+songsdiffjson+")")
   var attcolor = new Array();
   var language = 0
   attcolor["smile"] = "red"
   attcolor["pure"] = "green"
   attcolor["cool"] = "blue"
   
   function findsongname(name){
      mindistance = 1000
      result = -1
      var regrandom = new RegExp("random", "g")
      var reghard = new RegExp("hard", "g")
      var regbracket = new RegExp("（.*）", "g")
      name = name.replace(regrandom, '').replace(reghard, '').replace(regbracket, '')
      for (s in songs){
         if (name == songs[s]['jpname'])
            return s
         distance = Math.abs(songs[s]['jpname'].length-name.length)
         var pos = 0
         while ((pos < songs[s]['jpname'].length) && (pos < name.length)){
            if (songs[s]['jpname'][pos] != name[pos])
               distance += 1
            pos += 1
         }
         if (distance < mindistance){
            result = s
            mindistance = distance
         }
      }
      return result
   }

   function init(){
      resulthtml = '<table border=1><tr><td>曲目</td><td>星数</td><td>实际难度</td><td>标准差</td></tr>'
      for (i in songsdiff){
         songindex = findsongname(songsdiff[i][0])
         if (songsdiff[i][0].indexOf('hard') == -1)
            songindex = parseInt(songindex)+1
         else{
            star = songs[songindex]['stardifficulty']
            resulthtml += '<tr><td style="color:'+attcolor[songs[songindex]['attribute']]+'">'+songs[songindex]['jpname']+' (hard)</td><td>'+star+'</td><td>'+songsdiff[i][1][0]+'</td><td>'+songsdiff[i][1][1]+'</td></tr>'
            continue
         }
         star = songs[songindex]['stardifficulty']
         if (songsdiff[i][0].indexOf('random') != -1){
            star = songs[songindex]['randomdifficulty']
            resulthtml += '<tr><td style="color:'+attcolor[songs[songindex]['attribute']]+'">'+songs[songindex]['jpname']+' (random)</td><td>'+star+'</td><td>'+songsdiff[i][1][0]+'</td><td>'+songsdiff[i][1][1]+'</td></tr>'
         }
         else
            resulthtml += '<tr><td style="color:'+attcolor[songs[songindex]['attribute']]+'">'+songs[songindex]['jpname']+'</td><td>'+star+'</td><td>'+songsdiff[i][1][0]+'</td><td>'+songsdiff[i][1][1]+'</td></tr>'
         
      }
      resulthtml += '</table>'
      document.getElementById("resultarea").innerHTML = resulthtml
   }
   
   </script>
   
  </head>
   <body onload="init()">
<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="/">LLhelper</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li><a href="/">应用</a></li>
         <li class="active"><a href=#>歌曲难度排行</a></li>
         <li><a href="/about">关于</a></li>
      </ul>
   </div>
</nav>
<pre>
1. <a href="http://www.sojump.com/jq/5509159.aspx">9星曲目投票</a>
2. <a href="http://www.sojump.com/jq/5510933.aspx">10星曲目投票</a>
3. <a href="http://www.sojump.com/jq/5511087.aspx">11星曲目投票</a>
4. 为了投票的准确性，请认真阅读所有说明
5. 更新时间：2015.8.2 23:45
</pre>
   <div id="resultarea">

   </div>

</body>
</html>