<!DOCTYPE html>
<html>
   <head>
      <title>LLhelper</title>
      <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
   <style type="text/css">
   	button {position:relative;height:200px;width:200px;margin-left:100px;margin-top:100px;background-color:#F0F8FF}
   	table {position:relative;margin-left:30px;}
   	td {size:2}
   </style>
   <script>
   var regS = new RegExp("&#34;", "g")
   var regS2 = new RegExp("&#39;", "g")
   var regSand = new RegExp("&amp;", "g")
   var songsjson = "{{songsjson}}".replace(regS,'"').replace(regS2, "'").replace(regSand, '&')
   var songs = eval("("+songsjson+")")
   var attcolor = new Array();
   var language = 0
   attcolor["smile"] = "red"
   attcolor["pure"] = "green"
   attcolor["cool"] = "blue"

   </script>
   
  </head>
   <body onload="init()">
<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="/">LLhelper</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li><a href="/">应用</a></li>
         <li class="active"><a href=#>歌曲数据</a></li>
         <li><a href="/about">关于</a></li>
      </ul>
   </div>
</nav>
<pre>
谱面的难易度由投票者当前水平在无判下的FC率和P率决定。FC率高的谱面即为简单，相近FC下。若两首均稳定FC，P率高的为简单。若两首均不能FC，平均断的次数少的为简单。
</pre>

<div id="song1">
   <nospan id="songname1"></nospan>
   <input type="radio" name="vote" value="前者难"></input>
</div>

<div id="song2">
   <nospan id="songname2"></nospan>
   <input type="radio" name="vote" value="后者难"></input>
</div>

<input type="radio" name="vote" value="一样难"></input>
<input type="submit" name="submit" value="提交">