{% extends "layout.html" %}

{% set category="数据查询" %}
{% set category_link="/#game-data" %}
{% set title="歌曲数据查询" %}

{% block additional_header %}
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='llsong.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='lldata.js') }}"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
   <style type="text/css">
   	td {size:2}
   </style>
{% endblock %}

{% block script %}
   <script>
   LLSongData.briefKeys.push('bpm');
   var defer_onload = $.Deferred();
   var llsong = 0;
   var language = 0

   $.when(LLSongData.getAllBriefData(), defer_onload).then(function (songData) {
      llsong = new LLSong(songData, false);
      llsong.onDiffSelectChange = applysongdata;
      llsong.initListeners();
      llsong.onSongFilterChange();

      // done
      document.getElementById('loadingbox').style.display = 'none';
   });

   function kizuna(combo){
   	var result = 0
   	for (var i = 1; i <= parseInt(combo/10); i++){
   		if (i % 10 == 0)
   			result += 10
   		else if (i % 5 == 0)
   			result += 5
   		else if (i > 20)
   			result += 2
   		else
   			result += 1
   	}
   	return result
   }
   
   function combomulti(cb){
   	if (cb <= 50)
      	return 1
    	else if (cb <= 100)
        	return (1.1*(cb-50)+50.0)/cb
    	else if (cb <= 200)
      	return (1.15*(cb-100)+105.0)/cb
    	else if (cb <= 400)
      	return (1.2*(cb-200)+220.0)/cb
    	else if (cb <= 600)
      	return (1.25*(cb-400)+460.0)/cb
      else if (cb <= 800)
      	return (1.3*(cb-600)+710.0)/cb
      else
      	return (1.35*(cb-800)+970)/cb
   }

   function applysongdata() {
      var index = llsong.getSelectedSongIndex();
      if (index == "") return;

      var applyTarget = {
         'attrcolor': ['songchoice', 'attribute', 'name', 'jpname']
      };
      var infolist = ['attribute', 'totaltime', 'bpm', 'name', 'jpname',
        'combo', 'time', 'stardifficulty', 'randomdifficulty', 'star', 'cscore', 'bscore', 'ascore', 'sscore', 'lp', 'exp'];
      for (var i in infolist) {
         applyTarget[infolist[i]] = [[infolist[i], 'innerHTML']];
      }
      llsong.applyDataOfSongWithDiff(applyTarget);

      var diff = document.getElementById('diffchoice').value;
      var curSong = llsong.songs[index];
      var curSongWithDiff = curSong[diff];

      if (curSong['jpname'] == curSong['name']){
         document.getElementById("name").style.display = "none"
         document.getElementById("cnametag").style.display = "none"
      }
      else{
         document.getElementById("name").style.display = ""
         document.getElementById("cnametag").style.display = ""
      }

      var totalweight = 0;
      var weights = curSongWithDiff.positionweight;
      var c = parseInt(curSongWithDiff.combo);
      for (var i = 0; i < 9; i++) {
         totalweight += parseFloat(weights[i]);
         document.getElementById('positionweight' + i).innerHTML = weights[i];
      }
      var sl = (totalweight-c)*100/0.25/c;
      document.getElementById('noteweight').innerHTML = totalweight;
      for (var i = 0; i < 9; i++) {
         var p = parseFloat(weights[i]);
         var percentage = p/(c*(1+0.0025*sl));
         document.getElementById("positionmulti"+i).innerHTML = String((10*percentage).toFixed(3))+"%";
      }
      //隐藏没有的信息
      hidelist = ["randomdifficulty"]
      for (var i in hidelist){
         if (curSongWithDiff[hidelist[i]] == ""){
            document.getElementById(hidelist[i]).style.display = "none"
            document.getElementById(hidelist[i]+"tag").style.display = "none"
         }
         else{
            document.getElementById(hidelist[i]).style.display = ""
            document.getElementById(hidelist[i]+"tag").style.display = ""
         }
      }
      //其他信息
      document.getElementById("kizunaget").innerHTML = kizuna(c);
      document.getElementById("combomulti").innerHTML = combomulti(c).toFixed(3);
      document.getElementById("scoreperstrength").innerHTML = (1.1*1.1/80*combomulti(c)*totalweight).toFixed(3);

      //属性需求信息
      /*
      cbmulti = combomulti(parseInt(curSongWithDiff.combo))
      rankList = ['c', 'b', 'a', 's']
      for (i in rankList){
         if (curSongWithDiff[rankList+"score"] == "")
            continue
         //document.getElementById(rankList[i]+"lowatt").innerHTML = parseInt(parseInt(curSongWithDiff[rankList[i]+"score"])/cbmulti/c/(1+0.0025*sl)*80/1.1)
         //document.getElementById(rankList[i]+"stableatt").innerHTML = parseInt(parseInt(curSongWithDiff[rankList[i]+"score"])/c/(1+0.0025*sl)/0.99*80/1.1)
      }
      */

      //高亮低权重位置
      var we = [];
      for (var i = 0; i < 9; i++) {
         if (i != 4) we.push([i, weights[i]]);
      }
      we.sort(function (a, b) { return a[1] - b[1]; });
      for (var i = 0; i < 9; i++) {
         document.getElementById("positionweight"+i).style.background = ""
         document.getElementById("positionweight"+i).style.color = ""
      }
      var highlights = [["#f2dede", "#a94442"], ["#fcf8e3", "#8a6d3b"], ["#ffffcc", "#a0a003"]];
      for (var i = 0; i < highlights.length; i++) {
         document.getElementById("positionweight"+we[i][0]).style.background = highlights[i][0];
         document.getElementById("positionweight"+we[i][0]).style.color = highlights[i][1];
      }
   }
   
   function changeLanguage(){
   	  language = 1-language
      llsong.language = language;
      llsong.onSongFilterChange();
   }
   
   
   document.addEventListener("change", function () {
	   Han(document.body).render()
   })
   </script>
{% endblock %}

{% block body_onload %}
   <body onload="defer_onload.resolve()" lang="zh-Hans">
{% endblock %}

{% block front_notice %}
<h4 class="alert-heading">使用方法</h4>
<ul>
<li>选择歌曲以浏览数据，可以使用搜索和筛选来查找想要看的歌曲</li>
<li>注意：当不需要歌曲名搜索时，删除搜索框内所有字符（包括空格等）</li>
<li>Normal、Easy 和新曲的数据仍不全</li>
</ul>
{% endblock %}

{% block main %}
<div class="form-group">
<label class="control-label">搜索</label><input class="form-control" type="text" id="songsearch" value=""></input>
</div>
<div class="form-group">
<label class="control-label">筛选</label><select class="form-control" id="songdiff" name="songdiff">
		<option value="">难度</option>
		<option value="easy">包含容易(Easy)难度</option>
		<option value="normal">包含普通(Normal)难度</option>
		<option value="hard">包含困难(Hard)难度</option>
		<option value="expert">包含专家(Expert)难度</option>
		<option value="master">包含大师(Master)难度</option>
		<option value="arcade">包含Master Arcade难度</option>
	</select>
	<select class="form-control" id="songatt" name="songatt">
		<option value="">属性</option>
		<option value="smile">Smile</option>
		<option value="pure">Pure</option>
		<option value="cool">Cool</option>
	</select>
	<select class="form-control" id="songunit" name="songunit">
		<option value="">组合</option>
		<option value="muse">μ's</option>
		<option value="aqours">Aqours</option>
	</select>
</div>
   <!--
	<select id="songcnhave" name="songcnhave" onchange="changesongselect();changediffinfo()">
		<option value="">国服是否有</option>
		<option value=1>国服有</option>
		<option value=0>国服没</option>
	</select>
	<select id="songtype" name="songtype" onchange="changesongselect()">
		<option value="">类型</option>
		<option value="普通曲">普通曲</option>
		<option value="活动曲">活动曲</option>
		<option value="日替">日替</option>
	</select>
	<select id="smfilter" name="smfilter" onchange="changesongselect();changediffinfo()">
		<option value="">SM查询</option>
		<option value="1">第一次SM</option>
		<option value="2">第二次SM</option>
		<option value="3">第三次SM</option>
		<option value="4">第四次SM</option>
		<option value="5">第五次SM</option>
		<option value="6">第六次SM</option>
		<option value="7">第七次SM</option>
		<option value="8">第八次SM</option>
		<option value="9">第九次SM</option>
		<option value="10">第十次SM</option>
		<option value="11">第十一次SM</option>
		<option value="12">第十二次SM</option>
		<option value="13">第十三次SM</option>
		<option value="14">第十四次SM</option>
		<option value="15">第十五次SM</option>
		<option value="16">第十六次SM</option>
		<option value="17">第十七次SM</option>
		<option value="18">第十八次SM</option>
      <option value="19">第十九次SM</option>
      <option value="20">第二十次SM</option>
	</select>
   <select id="mffilter" name="mffilter" onchange="changesongselect();changediffinfo()">
      <option value="">MF查询</option>
      <option value="1">第一次MF</option>
      <option value="2">第二次MF</option>
      <option value="3">第三次MF</option>
      <option value="4">第四次MF</option>
      <option value="5">第五次MF</option>
      <option value="6">第六次MF</option>
      <option value="7">第七次MF</option>
   </select>-->
<div class="form-group">
<label class="control-label">歌曲</label><select class="form-control" id="songchoice" name="songchoice">
		<option value=""> </option>
</select>
<input type="button" id="language" name="language" onclick="changeLanguage()" value="切换语言"></input>
</div>
<div class="form-group">
<label class="control-label">难度</label><select class="form-control" id="diffchoice" name="diffchoice">
      <option value="easy">easy</option>
      <option value="normal">normal</option>
      <option value="hard">hard</option>
      <option value="expert" SELECTED>expert</option>
      <option value="master">master</option>
   </select>
</div>

{% include 'components/loadingbox.html' %}

<h3>基本信息</h3>
<dl class="dl-horizontal">
	<dt>歌曲名</dt>
	<dd id='jpname'></dd>
	<dt id='cnametag'>中文名</dt>
	<dd id='name'></dd>
	<dt>属性</dt>
	<dd id='attribute'> </dd>
	<dt>难度</dt>
	<dd id='stardifficulty'> </dd>
	<dt id="randomdifficultytag">Random谱难度</dt>
	<dd id='randomdifficulty'> </dd>
	<dt id="lptag" style="display:none">消耗LP</dt>
	<dd id='lp' style="display:none"> </dd>
	<dt style="display:none">经验</dt>
	<dd id='exp' style="display:none"> </dd>
	<dt>Combo数</dt>
	<dd id='combo'> </dd>
	<dt>按键权重</dt>
	<dd id='noteweight'> </dd>
	<dt>时间</dt>
	<dd><span id='time'></span>秒<sup><a href="#intro-1">(1)</a></sup></dd>
	<dt>歌曲长度</dt>
	<dd><span id='totaltime'></span>秒<sup><a href="#intro-2">(2)</a></sup></dd>
	<dt>BPM</dt>
	<dd id='bpm'> </dd>
	<dt>星星数</dt>
	<dd id='star'> </dd>
</dl>



<!--table class="table">
<tr>
	<th>歌曲名</th>
	<th id='cnametag'>中文名</th>
	<th>属性</th>
	<th>难度</th>
	<th id="randomdifficultytag">random谱难度</th>
	<th id="lptag" style="display:none">消耗LP</th>
	<th style="display:none">经验</th>
	<th>combo数</th>
	<th>按键权重</th>
	<th>时间<sup><a href="#intro-1">(1)</a></sup></th>
	<th>歌曲长度<sup><a href="#intro-2">(2)</a></sup></th>
	<th>BPM</th>
	<th>星星数</th>
</tr>
<tr>
	<td id='jpname'></td>
	<td id='name'></td>
	<td id='attribute'> </td>
	<td id='stardifficulty'> </td>
	<td id='randomdifficulty'> </td>
	<td id='lp' style="display:none"> </td>
	<td id='exp' style="display:none"> </td>
	<td id='combo'> </td>
	<td id='noteweight'> </td>
	<td id='time'> </td>
	<td id='totaltime'> </td>
	<td id='bpm'> </td>
	<td id='star'> </td>
</tr>
</table-->
<!--
<table border='1'>
   <tr>
      <td>SM收录</td>
      <td id='sm'></td>
   </tr>
   <tr>
      <td>MF收录</td>
      <td id='mf'></td>
   </tr>
</table>-->

<h3>分数要求</h3>
<dl class="dl-horizontal">
	<dt>Score S</dt><dd id="sscore"></dd>
	<dt>Score A</dt><dd id="ascore"></dd>
	<dt>Score B</dt><dd id="bscore"></dd>
	<dt>Score C</dt><dd id="cscore"></dd>
</dl>
<!--
<tr>
	<td>最低属性<sup><a href="#intro-5">(5)</a></sup></td>
	<td id="clowatt"></td>
	<td id="blowatt"></td>
	<td id="alowatt"></td>
	<td id="slowatt"></td>
</tr>
<tr>
	<td>安全属性<sup><a href="#intro-6">(6)</a></sup></td>
	<td id="cstableatt"></td>
	<td id="bstableatt"></td>
	<td id="astableatt"></td>
	<td id="sstableatt"></td>
</tr>-->
</table>

<h3>谱面分布</h3>
<table class="table table-bordered">
<thead>
<tr>
	<th></th>
	{% for i in range(0, 9)%}
		<th>{{i+1}}</th>
	{% endfor %}
</tr>
</thead>
<tbody>
<tr>
	<th>权重</th>
	{% for i in range(0, 9)%}
		<td id="positionweight{{i}}"></td>
	{% endfor %}
</tr>
<tr>
	<th>同色同团加成<sup><a href="#intro-3">(3)</a></sup></th>
	{% for i in range(0, 9)%}
		<td id="positionmulti{{i}}"></td>
	{% endfor %}
</tr>
</tbody>
</table>
<p style="margin-left:30px">*异色卡和异团卡放在红色位置最好，其次橙色、黄色位置</p>

<h3>其他</h3>
<dl class="dl-horizontal">
	<dt>Combo乘数</dt>
	<dd><span id="combomulti"></span><sup><a href="#intro-4">(4)</a></sup></dd>
	<dt>获得绊</dt>
	<dd id="kizunaget"></dd>
	<dt>单位强度得分</dt>
	<dd><span id="scoreperstrength"></span><sup><a href="#intro-7">(7)</a></sup></dd>
</dl>
<br>
{% endblock %}

{% block back_notice %}
<h4 class="alert-heading">说明</h4>
<ol>
	<li id="intro-1">时间指的是从人物出现到最后一个note被击打所经过的时间，是时间系技能可以触发的时间量</li>
	<li id="intro-2">歌曲长度大约为封面到「FULL COMBO」/ 「LIVE 成功」字样出现的总时间</li>
	<li id="intro-3">同色同团加成指的是在某个位置放置与歌曲颜色相同或相同组合（μ's，Aquors）的卡对总分的增加量，两者叠乘</li>
	<li id="intro-4">Combo乘数指的是FC比起max combo不到50时的得分的倍数</li>
	<li id="intro-5">最低属性指的是在没有加分卡、是纯色队、全perfect的情况下恰好能够达到该rank的属性（选队时加成后的面板属性）</li>
	<li id="intro-6">安全属性指的是在没有加分卡、是纯色队、max combo低于50、有大量great的情况下恰好能够达到该rank的属性（选队时加成后的面板属性）若有异色卡，参考同色加成；若有加分卡，在<a href="/llcardtest">卡片强度计算</a>中计算技能等效面板属性
	<li id="intro-7">单位强度得分指的是每一点队伍强度可以得到的歌曲分数，队伍强度可以使用<a href="/llunit">队伍强度计算</a>计算，假设全P，所以实际得分需要乘以(0.88 + 0.12 * P率)，存在极小的误差</li>
</ol>
{% endblock %}
