<!DOCTYPE html>
<html>
   <head>
      <title>LLhelper</title>
      <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
   <style type="text/css">
   	button {position:relative;height:200px;width:200px;margin-left:100px;margin-top:100px;background-color:#F0F8FF}
   </style>
   
   <script language="javascript">
   function check(){
   	var inputs = document.getElementsByTagName("input");
   	var chou = false;
   	for (var i=0;i<7;i++){
   		if (!isNotNegative(inputs[i].value)){
   			alert("请输入非负整数");
   			return false;
   		}
   	}
   	for (var i=0;i<3;i++){
   		if (parseInt(inputs[i].value) > 0){
   			chou = true;
   		}
   	}
   	if (!chou){
   		alert("抽卡数不能为0");
   		return false;
   	}
   }
   </script>
   
   </head>
   <body>

<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="/">LLhelper</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li><a href="/">应用</a></li>
         <li class="active"><a href=#>人种鉴定</a></li>
         <li><a href="/about">关于</a></li>
      </ul>
   </div>
</nav>

<pre>
注意：
1、本功能仅供娱乐
2、保底的期望值大约是亚洲人和偏白亚洲人的边界，非保底或单抽的期望值是亚洲人和偏黑亚洲人的边界
3、建议点击下面链接进入新版科学人种鉴定器
</pre>

<a href="/llurrank">新版科学人种鉴定器</a>

<form action="" method="POST" onsubmit="return check()">
11连和单抽次数可以转换为等效单抽次数<br>
补助券是日服每20级或者10次抽卡送的券，不是屌丝券！！ 屌丝券 == 单抽<br>
11连次数: <input type="text" name="11" value="{{a11}}" autocomplete="off" ><br>
单抽次数: <input type="text" name="single" value="{{single}}" autocomplete="off"><br>
补助券使用张数: <input type="text" name="support" value="{{support}}" autocomplete="off"><br>
仅输入抽到的，UR妈妈和SR同学为补助券抽到的喂技能卡<br>
UR个数: <input type="text" name="ur" value="{{ur}}" autocomplete="off"><br>
SR个数: <input type="text" name="sr" value="{{sr}}" autocomplete="off"><br>
UR妈妈个数<input type="text" name="ursupport" value="{{ursupport}}" autocomplete="off"><br>
SR同学个数<input type="text" name="srsupport" value="{{srsupport}}" autocomplete="off"><br>

<input type="submit" name="submit" value="Calculate"> <br>
鉴定结果： 

{% if rp != -1 %}
	{% if rp <= 0.5 %}
		可以删游戏了
	{% elif rp <= 0.75 %}
		非洲人
	{% elif rp <= 1 %}
		偏黑亚洲人
	{% elif rp <= 1.25 %}
		亚洲人
	{% elif rp <= 1.5 %}
		偏白亚洲人
	{% elif rp <= 2 %}
		欧洲人
	{% else %}
		人？
	{% endif %}
{% endif %}

{% if debug %}
	{{ rp }}
{% endif %}

</body>
</html>