{% extends "layout.html" %}

{% set category="数据查询" %}
{% set category_link="/#game-data" %}
{% set title="UR 强度排行" %}

{% block additional_header %}
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}?v=1.03"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
   <style type="text/css">
   	td {size:2}
   </style>
{% endblock %}

{% block script %}
   <script>
   var attcolor = new Array()
   attcolor["smile"] = "red"
   attcolor["pure"] = "green"
   attcolor["cool"] = "blue"
   attcolor["all"] = "purple"
   var regS = new RegExp("&#34;", "g")
   var regS2 = new RegExp("&#39;", "g")
   var regSand = new RegExp("&amp;", "g")
   var cardsjson = "{{cardsjson}}".replace(regS,'"').replace(regS2, "'").replace(regSand, '&')
   var cards = eval("("+cardsjson+")")

  

   function getmaxstrength(card, atttype, mezame){
      st = 0

         tmpc = card
         if (atttype == '')
            atttype = tmpc.attribute
         sl = slots[card['rarity']][1]
         attv = tmpc[atttype+'2']
         if (tmpc.attribute == atttype)
            attv += kizuna[tmpc.rarity][1]
         skill = skillstrength(tmpc, 7, 1, 1)
         if (tmpc.skilleffect == 11){
            if ((skill*1.5 > attv*0.208*1.15) && (sl >= 4))
               st = parseInt(attv*(1+0.052*(sl-4))*1.15+skill*2.5)
            else
               st = parseInt(attv*(1+0.052*(sl))*1.15+skill)
         }
         else if (tmpc.skilleffect == 9){
            if ((skill*15000 > attv*0.208*1.15) && (sl >= 4))
                  st = parseInt(attv*(1+0.052*(sl-4))*1.15+skill*15000)
               else
                  st = parseInt(attv*(1+0.052*(sl))*1.15)
         }
         else
            st = parseInt(attv*(1+0.052*(sl))*1.15)
      return st
   }

    function better(card1, card2,atttype){
         if (getmaxstrength(card1,atttype,1) > getmaxstrength(card2,atttype,1))
            return true
         else
            return false

   }

   function showresult(){
      result = []
      att = document.getElementById("att").value
      sort = document.getElementById("sort").value
      for (i in cards){
         card = cards[String(i)]
         

         if (!card) continue
         if (!card.type) continue
            if (!card.rarity) continue
               if (card.smile == 0) continue
               //alert(i)
            //alert(card['rarity'])
            //alert(getmaxstrength(card,'smile',1))
         
         if ((card.rarity == 'UR') && (card.special == 0) && ((card.attribute == att) || (att == "")) && (card.smile != 0)){
            //alert(card['id'])
            //alert(getmaxstrength(card,'smile',1))
            if (getmaxstrength(card,card.attribute,1) >18000)
            result.push(i)
         }
      }
      len = result.length
      //alert(result)
      for (i=0; i<len;i++){
         for (j=0;j<len-1-i;j++){
            if (!better(cards[result[j]], cards[result[j+1]],sort)){
               tmp = result[j]
               result[j] = result[j+1]
               result[j+1] = tmp
            }
         }
      }

      resulthtml = "<table class='table table-condensed table-striped'><tr><th>排行</th><th>编号</th><th>头像</th><th>Smile 强度</th><th>Pure 强度</th><th>Cool 强度</th><th>技能条件</th></tr>"
      ttype = new Array()
      ttype['3'] = '图标'
      ttype['4'] = 'combo'
      ttype['6'] = 'perfect'
      for (i in result){
         cardid = result[i]
         card = cards[String(cardid)]
         resulthtml += "<tr>"
         resulthtml += "<td id=rank"+i+">"+String(parseInt(i)+1)+"</td>"
         resulthtml += "<td id=id"+i+">"+card['id']+"</td>"
         resulthtml += "<td><img height=75px width=75px src='"+getimagepath(card['id'],'avatar',0)+"'></img><img height=75px width=75px src='"+getimagepath(card['id'],'avatar',1)+"'></img></td>"
         resulthtml += "<td id='smilestrength"+i+"' style='color:red'>"+getmaxstrength(card,'smile',1)+"</td>"
         resulthtml += "<td id='purestrength"+i+"' style='color:green'>"+getmaxstrength(card,'pure',1)+"</td>"
         resulthtml += "<td id='coolstrength"+i+"' style='color:blue'>"+getmaxstrength(card,'cool',1)+"</td>"
         resulthtml += "<td>"+ttype[String(card['triggertype'])]+"</td>"
         //resulthtml += "<td id='strength"+i+"'>"+strength(card, 1, 0, 1)+"</td>"
         //resulthtml += "<td id='strengthtwo"+i+"'>"+strength(card, 1, 1, 1)+"</td>"
         
      }
      resulthtml += "</table>"
      document.getElementById("resultarea").innerHTML = resulthtml
      for (i in result){
         cardid = result[i]
         card = cards[String(cardid)]
         document.getElementById(card.attribute+'strength'+i).style['font-weight'] = 'bold'
      }
   }
   </script>
{% endblock %}

{% block front_notice %}
强度均按8槽8级技能觉醒计算，只包括加分UR
{% endblock %}

{% block main %}
<div class="row">
<div class="form-inline col-md-6 col-md-offset-3 col-sm-12" style="text-align: center">
      <div class="form-group">
      <label class="form-label">筛选</label>
      <select class="form-control" id="att" name="att">
            <option value="">所有属性</option>
            <option value="smile" style="color:red">smile</option>
            <option value="pure" style="color:green">pure</option>
            <option value="cool" style="color:blue">cool</option>
      </select>
      </div>
      <div class="form-group">
            <label class="form-label">按照</label>
            <select class="form-control" id="sort" name="sort">
                  <option value="">最强属性</option>
                  <option value="smile" style="color:red">smile</option>
                  <option value="pure" style="color:green">pure</option>
                  <option value="cool" style="color:blue">cool</option>
            </select>
      </div>
   <button class="btn btn-primary" type="button" value="排序" onclick="showresult(0)"/>排序</button>
</div>
</div>
<div class="row" style="margin-top: 10px">
   <div id="resultarea" class="col-md-6 col-md-offset-3 col-sm-12">
   </div>
</div>
{% endblock %}