<!DOCTYPE html>
<html>
   <head>
      <title>LLhelper</title>
      <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
   <style type="text/css">
   	button {position:relative;height:200px;width:200px;margin-left:100px;margin-top:100px;background-color:#F0F8FF}
   </style>
   
   <script language="javascript">
   function check(){
   	var inputs = document.getElementsByTagName("input");
   	var chou = false;
   	for (var i=0;i<3;i++){
   		if (!isNotNegative(inputs[i].value)){
   			alert("请输入非负整数");
   			return false;
   		}
   	}
   	return true
   }
   
   function min(a, b){
   	if (a < b)
   		return a
   	else
   		return b
   }

   function max(a, b){
      if (a < b)
         return b
      else
         return a
   }
   
   var S0 = 1 / 12;
	var S1 = 1 / 360;
	var S2 = 1 / 1260;
	var S3 = 1 / 1680;
	var S4 = 1 / 1188;
	
	var SFE = [
		0, 0.081061466795327258219670264,
		0.041340695955409294093822081, 0.0276779256849983391487892927,
		0.020790672103765093111522771, 0.0166446911898211921631948653,
		0.013876128823070747998745727, 0.0118967099458917700950557241,
		0.010411265261972096497478567, 0.0092554621827127329177286366,
		0.008330563433362871256469318, 0.0075736754879518407949720242,
		0.006942840107209529865664152, 0.0064089941880042070684396310,
		0.005951370112758847735624416, 0.0055547335519628013710386899
	];
	
	// ln(n!) - (ln(sqrt(2πn)) + n * (ln(n) - 1))
	function stirlerr(n) {
		if (n < 16) {
			return SFE[n];
		}
		var n2 = n * n;
		if (n > 500) {
			return (S0 - S1 / n2) / n;
		} else if (n > 80) {
			return (S0 - (S1 - S2 / n2) / n2) / n;
		} else if (n > 35) {
			return (S0 - (S1 - (S2 - S3 / n2) / n2) / n2) / n;
		} else {
			return (S0 - (S1 - (S2 - (S3 - S4 / n2) / n2) / n2) / n2) / n;
		}
	}
	
	function bd0(x, np) {
		if (Math.abs(x - np) < 0.1 * (x + np)) {
			var s = (x - np) * (x - np) / (x + np);
			var v = (x - np) / (x + np);
			var ej = 2 * x * v;
			for (var j = 3; ; j += 2) {
				ej *= v * v;
				var s1 = s + ej / j;
				if (s == s1) {
					return s1;
				}
				s = s1;
			}
		} else {
			return x * Math.log(x / np) + np - x;
		}
	}
	
   function pos(p1, p2, c1, c2){
   	if (p1 == 0.0) {
   		return c2 == 0 ? 1 : 0;
   	} else if (p2 == 0.0) {
   		return c2 == c1 ? 1 : 0;
   	} else if (c2 == 0) {
   		return Math.pow(p2, c1);
   	} else if (c2 == c1) {
   		return Math.pow(p1, c1);
   	} else {
   		var lc = stirlerr(c1) - stirlerr(c2) - stirlerr(c1 - c2) - bd0(c2, c1 * p1) - bd0(c1 - c2, c1 * p2);
   		return Math.exp(lc) * Math.sqrt(c1 / (2 * Math.PI * c2 * (c1 - c2)));
   	}
   }
   
   function calculate(){
   	if (!check()){
   		return 
   	}
   	ur = parseInt(document.getElementById("ur").value)
   	scoutnum = 11*parseInt(document.getElementById("11").value)+parseInt(document.getElementById("single").value)
   	supportnum = parseInt(document.getElementById("support").value)
   	if (ur > scoutnum+supportnum){
   		alert("impossible")
   	   	return
   	}
   	p = new Array(ur+1)
   	//i: ur num. j:ur num from support ticket
   	var i = 0
   	for (i = 0; i<=ur; i++){
   		p[i] = 0
   		var j = 0
   		for (j = max(0,i-scoutnum); j<=min(i,supportnum); j++){
   			//p[i] += c(supportnum, j)*pow(0.2, j)*pow(0.8, supportnum-j)*c(scoutnum, i-j)*pow(0.01, i-j)*pow(0.99, scoutnum-i+j)
   			p[i] += pos(0.2, 0.8, supportnum, j)*pos(0.01, 0.99, scoutnum, i-j)
   		}
   	}
   	p0 = 0
   	for (i = 0; i < ur; i++)
   		p0 += p[i]
   	if (ur == 0)
   		document.getElementById("result").innerHTML = "有"+String((100*p[ur]).toFixed(4))+"%的玩家和你人品一样"
   	else
   		document.getElementById("result").innerHTML = "你的人品已经击败了"+String((100*p0).toFixed(4))+"%的玩家，有"+String((100*p[ur]).toFixed(4))+"%的玩家和你人品一样"
   	yourrank = p0+p[ur]/2
   	species = ''
   	if (yourrank < 0.01)
   		species = '部落酋长'
   	else if (yourrank < 0.15)
   		species = '非洲人'
   	else if (yourrank < 0.35)
   		species = '偏黑亚洲人'
   	else if (yourrank < 0.65)
   		species = '亚洲人'
   	else if (yourrank < 0.85)
   		species = '偏白亚洲人'
   	else if (yourrank < 0.99)
   		species = '欧洲人'
   	else
   		species = '官托'
   	document.getElementById("species").innerHTML = '鉴定结果： '+species
   }
   </script>
   
   </head>
   <body>

<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="/">LLhelper</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li><a href="/">应用</a></li>
         <li class="active"><a href=#>人种鉴定</a></li>
         <li><a href="/about">关于</a></li>
      </ul>
   </div>
</nav>

<a href="./lloldspecies">旧版人种鉴定器</a><br><br>
11连和单抽次数可以转换为等效单抽次数<br>
补助券是日服每20级或者10次抽卡送的券，不是屌丝券！！ 屌丝券 == 单抽<br>
<table>
<tr><td>11连次数: </td><td><input type="text" id="11" name="11" value=0 autocomplete="off" ></td></tr>
<tr><td>单抽+招募券次数: </td><td><input type="text" id="single" name="single" value=0 autocomplete="off"></td></tr>
<tr><td>欧洲券次数: </td><td><input type="text" id="support" name="support" value=0 autocomplete="off">（即使用5张补助券抽卡次数）</td></tr>
</table>
仅输入抽到的，觉醒UR算2个UR<br>
UR个数: <input type="text" id="ur" name="ur" value=0 autocomplete="off"><br>

<input type="button" name="submit" value="Calculate" onclick="calculate()"> <br>
<p id="species"></p>
<p id="result"></p>
</body>
</html>