<!DOCTYPE html>
<html>
   <head>
      <title>LLhelper</title>
      <link href="https://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="https://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
   <link rel="apple-touch-icon" sizes="300x300" href="/static/iosicon.png">
   <style type="text/css">
   	button {position:relative;height:160px;width:160px;margin-left:80px;margin-top:80px;background-color:#F0F8FF;}
   	.mainbody {width:1024px;margin:auto;margin-bottom:100px;}
   	.myjumbotron {position:relative;width:800px;margin-left:auto;margin-right:auto;margin-top:100px;background-color:#F0F8FF;}
   	.myjumbotron:last-child {margin-bottom:100px;}
   	.mycontainer {width:auto}
   	llad {position:relative;width:864px;margin-left:80px;margin-right:80px;margin-top:20px;background-color:#F0F8FF;}
   </style>
   <script>
   weight = []
   tips = []
   //建议
   weight.push(30); tips.push("判定可以帮人FC，却治不好手残。如果想要好好练习水平，请不要使用判定卡")
   weight.push(30); tips.push("无判、多练是提高水平的最好方法")
   weight.push(100); tips.push("肝是为你的一生服务的，而不仅是为了LL")
   weight.push(50); tips.push("十一连的期望收益高于单抽，所以尽量避免单抽")
   weight.push(50); tips.push("不要将账号密码以及继承码告诉任何不可信的人")
   weight.push(50); tips.push("宁愿多用1心，也不要掉档")
   weight.push(20); tips.push("解决谜之miss的有效方法之一是揭掉屏幕贴膜")
   
   //谣言粉碎
   weight.push(50); tips.push("玄学对抽卡没有任何影响，只能带来心理上的作用")
   
   //冷门知识
   weight.push(50); tips.push("招募券、11连券不能用于限定招募")
   weight.push(50); tips.push("长按的按键得分为1.25倍，但是得分受到头尾两次判定的叠乘影响")
   weight.push(50); tips.push("滑键的按键得分为0.5倍")
   weight.push(50); tips.push("长按的判定为首尾判定较差的一个")
   weight.push(50); tips.push("国服开始活动和结束活动的时间不会在非工作日")
   weight.push(30); tips.push("已觉醒的卡片可以用作特训材料")
   weight.push(30); tips.push("按住长按后可以将手指移离圈的位置，但是不能松开也不能离开屏幕！")
   weight.push(20); tips.push("唯一的一张combo系判定是初期SR希")
   weight.push(20); tips.push("活动中相同排名的玩家在总榜的显示顺序为uid字符串倒序，在好友榜的显示为uid数字顺序")
   weight.push(20); tips.push("抱大腿时排序条件相同的玩家按照uid倒序排序，既新玩家会排在前面")
   
   //进阶知识
   weight.push(50); tips.push("日服输入的中文经常会显示为一个点，这是字体问题。使用繁体中文可以缓解这一现象，但是并不能完全解决问题。可以通过更换字体的方式解决")
   weight.push(50); tips.push("活动ex随机谱和原谱的clear成就独立")
   weight.push(50); tips.push("活动曲的成就在活动结束后再配信时会清空")
   weight.push(50); tips.push("SM中蓝色字样的“对手”是人类玩家，而灰色字样的“对手”是NPC")
   weight.push(50); tips.push("SM中可以使用Home键进行暂停")
   weight.push(30); tips.push("SM失败时会根据难度给予少量的pt")
   weight.push(50); tips.push("MF在选曲之后，以及普通曲和SM进入打歌界面时，LP方被消耗")
   weight.push(50); tips.push("MF中只有体力不满时才有可能出现体力回复支援")
   weight.push(50); tips.push("MF中有机会获得招募券以及R、SR的辅助卡")
   weight.push(30); tips.push("MF失败时会根据难度和已经通过的曲目数量给予少量的pt")
   weight.push(50); tips.push("MF可以在选曲之后、打歌开始之前可以退出游戏，下一次进入MF不消耗LP，曲目不变")
   weight.push(30); tips.push("唯一的一张星标perfect系加分为雪女海")
   weight.push(50); tips.push("图标、combo系判定、回血技能的效果远高于时间系判定、回血")
   weight.push(50); tips.push("抽卡时右下角标注new的卡片为新卡，但是进入礼物盒的卡片不会被标记为new")
   weight.push(30); tips.push("穗乃果、凛、妮可、千歌、花丸、鞠莉的本属性为smile，小鸟、花阳、希、曜、露比、果南的本属性为pure，海未、真姬、绘里、梨子、善子、黛雅的本属性为cool")
   weight.push(50); tips.push("1~8速速度越低，判定越松，判定范围和note飞行速度成反比。8~10速的判定范围相同")
   
   //基础知识
   weight.push(50); tips.push("加入挚爱和在主力队伍中的卡片均不能被劝退或用于练习、特训材料")
   weight.push(50); tips.push("Live分数不到C时，获得的经验值和绊均减半，向上取整")
   weight.push(50); tips.push("击打的音符与击打位置卡片颜色、团体相同时，分数各乘以1.1倍")
   weight.push(50); tips.push("练习材料与练习的卡同色时，经验值增加20%")
   weight.push(50); tips.push("练习时有几率出现super success和ultra success，获得经验值为1.5倍和2倍")
   weight.push(50); tips.push("combo对歌曲得分有一定的加成")
   weight.push(50); tips.push("卡片觉醒满绊后可以开通支线剧情，可以获得1心奖励")
   weight.push(50); tips.push("社员上限不够时，可在商店中花费1心增加4的上限")
   weight.push(50); tips.push("300级以前，LP上限每2级增加1点，之后则每3级增加1点")
   weight.push(50); tips.push("50级以前，好友位每5级增加1个，之后则每10级增加1个")
   weight.push(50); tips.push("可以使用1张补助券抽取一张升级技能的辅助卡，R、SR、UR的概率分别为60%、30%、10%，喂卡获得的技能经验为10、100、1000。红绿蓝辅助卡只可用于升级相同颜色的卡片，而紫色辅助卡可用于任何颜色。")
   
   //生日
   weight.push(15); tips.push("小泉花阳的生日为1月17日")
   weight.push(15); tips.push("园田海未的生日为3月15日")
   weight.push(15); tips.push("西木野真姬的生日为4月19日")
   weight.push(15); tips.push("东条希的生日为6月9日")
   weight.push(15); tips.push("矢泽妮可的生日为7月22日")
   weight.push(15); tips.push("高坂穗乃果的生日为8月3日")
   weight.push(15); tips.push("南小鸟的生日为9月12日")
   weight.push(15); tips.push("绚濑绘里的生日为10月21日")
   weight.push(15); tips.push("星空凛的生日为11月1日")

   weight.push(15); tips.push("黑泽黛雅的生日为1月1日")
   weight.push(15); tips.push("松浦果南的生日为2月10日")
   weight.push(15); tips.push("国木田花丸的生日为3月4日")
   weight.push(15); tips.push("渡边曜的生日为4月17日")
   weight.push(15); tips.push("小原鞠莉的生日为6月13日")
   weight.push(15); tips.push("津岛善子的生日为7月13日")
   weight.push(15); tips.push("高海千歌的生日为8月1日")
   weight.push(15); tips.push("樱内梨子的生日为9月19日")
   weight.push(15); tips.push("黑泽露比的生日为9月21日")
   
   //网站有关
   weight.push(200); tips.push("想要联系作者，请点击查看关于页面")
   weight.push(100); tips.push("使用卡组强度计算后，记得保存队伍以避免下次繁琐的输入过程")
   weight.push(50); tips.push("算心算法不会利用最后12分钟回复的LP，以给玩家足够多的保档缓冲时间")
   weight.push(2000); tips.push("关注微博<a href='http://weibo.com/u/2213765792' target='_blank'>Glaceon31</a>以获取LLhelper和LLSIF最新信息")

   //彩蛋
   weight.push(10); tips.push("赶走羊驼的方法是：先进入一个看板不出现的界面，再进入一个看板出现但不是首页的界面（例如剧情、社员、商店），正常的看板娘就会出现了")
   weight.push(5); tips.push("（·8·）")
   weight.push(5); tips.push("Fightだよ！")
   weight.push(5); tips.push("う、うぅ……誰か助けて！")
   weight.push(5); tips.push("にっこにっこにー")
   weight.push(5); tips.push("希パワー注入！")
   weight.push(5); tips.push("Love arrow shoot！")
   weight.push(5); tips.push("喵？")
   weight.push(5); tips.push("イミワカンナイ")
   weight.push(5); tips.push("ハラショー")
   weight.push(1); tips.push("哇！！居然被你发现了，出现这条的概率是几千分之一呢")
   
   function gettips(){
   	ttweight = 0
   	for (i = 0; i < weight.length; i++)
   		ttweight += weight[i]
   	randnum = parseInt(Math.random()*ttweight)
   	tmpweight = 0
   	for (i = 0; i < weight.length; i++){
   		tmpweight += weight[i]
   		if (randnum < tmpweight){
   			document.getElementById("tips").innerHTML = "tips: "+tips[i]
   			break;
   		}
   		
   	}
   }
   
   function init(){
   	gettips()
   }
   
function clickAd(name)
{
	$.ajax({
		url: "/adclick",
		async: false,
		type: 'GET'
	}); 	
}
	
   </script>
   </head>
   <body onload="init()" style="background:#a9a9ff url('https://s.ppy.sh/images/bg-top.png') repeat-x;">
   <div class="mainbody">
   		<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="/">LLhelper</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li class="active"><a href="/">应用</a></li>
         <li><a href="/about">关于</a></li>
      </ul>
   </div>
</nav>
   
      	<div class="tabbable" id="tabs-564217">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-ll" data-toggle="tab" id="ll" style="background-color:#FF9933" onclick="setCookie('app','lovelive',365)">LoveLive!应用</a>
					</li>
					<li>
						<a href="#panel-link" data-toggle="tab" id="link" style="background-color:#66CCFF" onclick="">常用站链接</a>
					</li>
               <li>
                  <a href="#panel-strategy" data-toggle="tab" id="strategy" style="background-color:#C0C0C0" onclick="">实用攻略</a>
               </li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-ll" style="background-color:#FF9933">
					<div class="container mycontainer">
						<div class="jumbotron myjumbotron" style="margin-top:30px;padding: 10px 2px 2px 2px;">
							<p id="tips" style="text-align:center;font-size:15px;font-family:Microsoft YaHei"></p>
						</div>
					<!--
					<llad type="text" class="btn btn-default" style="margin-left:75px" onclick="window.open('http://jq.qq.com/?_wv=1027&k=ayHXSz')">
						LoveLiveWiki官方QQ群： 194840360 (点击加群)<br>
						注意：所有国服游戏中卡片技能描述与wiki或本工具站不一样的情况，均为游戏中技能描述错误
					</llad>-->
							<div class="btn-group" >
  	<button type="button" class="btn btn-default" style="margin-left:75px;margin-top:30px;" onclick="window.location='./llactivity'"><h3>常规活动<br>用心计算</h3></button>
  	<button type="button" class="btn btn-default" style="margin-left:75px;margin-top:30px;" onclick="window.location='./llsm'"><h3>score match<br>用心计算</h3></button>
  	<button type="button" class="btn btn-default" style="margin-left:75px;margin-top:30px;" onclick="window.location='./llmf'"><h3>medley<br>festival<br>用心计算</h3></button>
   <button type="button" class="btn btn-default" style="margin-left:75px;margin-top:30px;" onclick="window.location='./llcf'"><h3>challenge<br>festival<br>用心计算</h3></button>
   <button type="button" class="btn btn-default" style="margin-left:75px" onclick="window.location='./llrally'"><h3>散步拉力赛<br>用心计算</h3></button>
  	<button type="button" class="btn btn-default" style="margin-left:75px;" onclick="window.location='./llsongdata'"><h3>歌曲数据查询</h3></button>
   <button type="button" class="btn btn-default" style="margin-left:75px" onclick="window.location='./llnewcarddata'"><h3>卡片数据<br>和立绘查询</h3><h4>v4.1</h4></button>
   <button type="button" class="btn btn-default" style="margin-left:75px" onclick="window.location='./llnewunit'"><h3>得分计算<br>卡组强度计算</h3><h4>v4.1</h4></button>
   <button type="button" class="btn btn-default" style="margin-left:75px" onclick="window.location='./llcoverage'"><h3>谱面查看<br>卡组判定覆<br>盖分布计算</h3></button>
   <button type="button" class="btn btn-default" style="margin-left:75px" onclick="window.location='./llurcardrank'"><h3>UR强度排行</h3></button>
   <button type="button" class="btn btn-default" style="margin-left:75px" onclick="window.location='./lllvlup'"><h3>升级时间计算</h3></button>
   <button type="button" class="btn btn-default" style="margin-left:75px" onclick="window.location='./llnewunitsis'"><h3>得分计算<br>卡组强度计算<br>宝石自动装备</h3><h4>v4.1</h4></button>
	<button type="button" class="btn btn-default" style="margin-left:75px;margin-bottom:100px" onclick="window.location='./llurrank'"><h3>人种鉴定器</h3><h4>v5.0</h4></button>
	
	</div></div>
					</div>
					<div class="tab-pane" id="panel-link" style="background-color:#66CCFF">
							<div class="btn-group" >
  	<button type="button" class="btn btn-default" style="margin-left:75px" onclick="window.location='http://www.lovelivewiki.com'"><h3>LoveLive!<br>国服wiki</h3></button>
  	<button type="button" class="btn btn-default" style="margin-left:75px" onclick="window.location='http://www59.atwiki.jp/lovelive-sif/'"><h3>LoveLive!<br>日文wiki</h3></button>
  	<button type="button" class="btn btn-default" style="margin-left:75px" onclick="window.location='http://decaf.kouhi.me/lovelive/index.php?title=Main_Page'"><h3>LoveLive!<br>英文wiki</h3></button>
   <button type="button" class="btn btn-default" style="margin-left:75px" onclick="window.location='http://lovelive.inven.co.kr/dataninfo/card/'"><h3>LoveLive!<br>韩文wiki</h3></button>
   <button type="button" class="btn btn-default" style="margin-left:75px;margin-bottom:100px" onclick="window.location='http://sifcn.loveliv.es/'"><h3>国服活动玩家<br>数据记录</h3></button>
   <button type="button" class="btn btn-default" style="margin-left:75px;margin-bottom:100px" onclick="window.location='http://db.loveliv.es/'"><h3>SukuDBView</h3><h4>SIF数据库</h4></button>
  	
	</div>
					</div>
               <div class="tab-pane" id="panel-strategy" style="background-color:#C0C0C0">
                  <div class="container mycontainer">
               <div class="jumbotron myjumbotron" style="margin-top:30px;padding: 10px 2px 2px 2px;">
                     <p  style="text-align:center;font-size:15px;font-family:Microsoft YaHei">欢迎到<a href="http://tieba.baidu.com/f?kw=lovelive%E7%A0%94%E7%A9%B6%E9%83%A8&ie=utf-8">研究部吧</a>投稿新攻略！</p>
                  </div>
                     <div class="btn-group" >


   <button type="button" class="btn btn-default" style="margin-left:75px;margin-top:30px" onclick="window.location='https://www.lovelivewiki.com/w/%E5%88%A4%E5%AE%9A%E8%A6%86%E7%9B%96%E7%8E%87%E5%92%8C%E5%88%A4%E5%8D%A1%E5%9F%B9%E5%85%BB'"><h3>判定技能与<br>覆盖率分析</h3></button>
<button type="button" class="btn btn-default" style="margin-left:75px;margin-top:30px;margin-bottom:100px" onclick="window.location='https://www.lovelivewiki.com/w/4.1版本强度本位资源计量'"><h3>资源计量与<br>活动分析</h3><h4>v4.1</h4></button>
</div>

   
   </div>
               </div>
				</div>
			</div>
   </div>
   </body>
   {% include 'footer.html' %}
</html>