{% extends "layout.html" %}

{% set category="测试" %}
{% set category_link="/#test" %}
{% set title="测试" %}

{% block additional_header %}
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='llsong.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='lldata.js') }}"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
{% endblock %}

{% block script %}
   <script>
   var testSet = [];
   var currentTestId = -1;
   function addTestItem(item) {
      testSet.push(item);

      var resultElement = LLUnit.createElement('td', {'innerHTML': 'Not started'});
      var performanceElement = LLUnit.createElement('td');

      var setResult = function (result) {
         item.finishTime = window.performance.now();
         if (result) {
            resultElement.innerHTML = 'Fail: ' + result;
            resultElement.className = 'danger';
            item.fail = 1;
         } else {
            resultElement.innerHTML = 'Success';
            resultElement.className = 'success';
            item.success = 1;
         }
         performanceElement.innerHTML = (item.finishTime - item.startTime).toFixed(3);
      };

      item.start = function () {
         resultElement.innerHTML = 'Running';
         resultElement.className = 'info';
         var resultClass = '';
         var resultText = '';
         var defer = $.Deferred();
         try {
            item.startTime = window.performance.now();
            var ret = item.run();
            if (ret.then) {
               ret.then(function (r) {
                  setResult(r);
                  defer.resolve(r);
               }, function (r) {
                  setResult(r || 'Reject');
                  defer.resolve(r);
               });
            } else {
               setResult(ret);
               defer.resolve(ret);
            }
         } catch (e) {
            console.log(e);
            setResult('Exception: ' + e.message);
            defer.resolve(e);
         }
         return defer;
      };

      var testRow = LLUnit.createElement('tr', undefined, [
         LLUnit.createElement('td', {'innerHTML': testSet.length}),
         LLUnit.createElement('td', {'innerHTML': item.name}),
         resultElement,
         performanceElement
      ]);
      document.getElementById('test-list').appendChild(testRow);
      return item;
   }

   function loadCards(cardIds) {
      var requests = [];
      for (var i = 0; i < cardIds.length; i++) {
         requests.push(LLCardData.getDetailedData(cardIds[i]));
      }
      return LoadingUtil.start(requests, LoadingUtil.cardDetailMerger);
   }

   function assertEqual(a, b) {
      if (a == b) return;
      throw 'assertEqual fail: ' + a + ' == ' + b;
   }

   var defer_onload = $.Deferred();
   var defer_test_load = $.Deferred();
   var defer_test_load_card_detail = $.Deferred();
   var cardDetails = 0;

   function handleFailedLoading(e) {
      defer_test_load.reject(e);
      document.getElementById('loadingbox').style.display = 'none';
   }

   $.when(LLCardData.getAllBriefData(), defer_onload).then(function (cardData) {
      defer_test_load.resolve();
      // done
      document.getElementById('loadingbox').style.display = 'none';

      // init tests
      addTestItem({'name': 'Load card detail', 'run': function () {
         var ids = [378, 346, 330, 296, 408, 358, 367, 1172, 397, 1165, 1373, 1417, 68, 88, 155, 315, 476, 565, 634, 726];
         return loadCards(ids).then(function (cards) {
            cardDetails = cards;
            defer_test_load_card_detail.resolve();
            return 0;
         });
      }});
      addTestItem({'name': 'Basic calculate', 'run': function () {
         var ids = [955, 980, 459, 127, 1002, 648, 317, 378, 957];
         var mezames = [1, 1, 1, 0, 1, 1, 1, 0, 1];
         var skillLevels = [4, 4, 1, 1, 1, 1, 2, 1, 1];
         var mainatt = 'pure';
         var gems = [
            [LLSisGem.SCORE_250],
            [LLSisGem.SCORE_250],
            [LLSisGem.SADD_200],
            [LLSisGem.AMUL_24],
            [LLSisGem.SMUL_10, LLSisGem.SMUL_16],
            [LLSisGem.AMUL_18],
            [LLSisGem.AMUL_18],
            [LLSisGem.AMUL_24],
            [LLSisGem.SMUL_10, LLSisGem.SMUL_16]
         ];
         var weights = [15.5, 26, 51.5, 55, 52.25, 58.25, 58.5, 26.75, 21.5];
         return loadCards(ids).then(function (cards) {
            var members = [];
            for (var i = 0; i < 9; i++) {
               var id = ids[i];
               var mezame = mezames[i];
               var member = {
                  'cardid': id,
                  'smile': (mezame ? cards[id].smile2 : cards[id].smile),
                  'pure': (mezame ? cards[id].pure2 : cards[id].pure),
                  'cool': (mezame ? cards[id].cool2 : cards[id].cool),
                  'skilllevel': skillLevels[i],
                  'maxcost': 0,
                  'gems': [],
                  'card': cards[id]
               };
               member[cards[id].attribute] += kizuna[cards[id].rarity][mezame];
               for (var j in gems[i]) {
                  member.gems.push(new LLSisGem(gems[i][j], {'color': mainatt}));
               }
               members.push(new LLMember(member));
            }
            var llteam = new LLTeam(members);
            var friendcskill = {
              "Csecondskillattribute": 0,
              "Csecondskilllimit": 4,
              "Cskillattribute": 'pure',
              "Cskillpercentage": 0,
              "attribute": 'pure'
            };
            var songunit = 4; // muse
            llteam.calculateAttributeStrength(mainatt, songunit, friendcskill, weights);
            llteam.calculateSkillStrength(117, 359, 341, 0, 0, 0);
            console.log(llteam);
            assertEqual(llteam.finalAttr.smile, 37910);
            assertEqual(llteam.finalAttr.pure, 59698);
            assertEqual(llteam.finalAttr.cool, 32990);
            assertEqual(llteam.bonusAttr.smile, 0);
            assertEqual(llteam.bonusAttr.pure, 7337);
            assertEqual(llteam.bonusAttr.cool, 0);
            assertEqual(llteam.totalStrength, 67734);
            assertEqual(llteam.totalAttrStrength, 57788);
            assertEqual(llteam.totalSkillStrength, 9946);
            return 0;
         });
      }});

      // run tests
      var defers = [];
      for (var i = 1; i < testSet.length; i++) {
         defers.push(testSet[i].start());
      }
      LoadingUtil.startImpl(defers, 'test-running-box', 'test-running-box-progress').then(function () {
         var nSuccess = 0;
         var nFail = 0;
         var nNotStart = 0;
         for (var i = 0; i < testSet.length; i++) {
            if (testSet[i].success) nSuccess++;
            else if (testSet[i].fail) nFail++;
            else nNotStart++;
         }
         document.getElementById('test-result').innerHTML = '测试结果: 成功: ' + nSuccess + ', 失败: ' + nFail + ', 未启动: ' + nNotStart;
      });
   }, handleFailedLoading);

   </script>
{% endblock %}

{% block body_onload %}
   <body onload="defer_onload.resolve()" lang="zh-Hans">
{% endblock %}

{% block main %}
<table class='table table-hover'>
   <thead>
      <tr>
         <th>#</th>
         <th>测试名称</th>
         <th>结果</th>
         <th>耗时(ms)</th>
      </tr>
   </thead>
   <tbody id='test-list'>
   </tbody>
</table>
<h3 id='test-running-box' style='display:none'>
测试中... <span id='test-running-box-progress'></span>
</h3>
<h3 id='test-result'>
</h3>

{% include 'components/loadingbox.html' %}
{% endblock %}

{% block back_script %}
<script>
   addTestItem({'name': '载入页面', 'run': function () { return defer_test_load; }}).start();
</script>
{% endblock %}
