{% extends "layout.html" %}

{% set category="测试" %}
{% set category_link="/#test" %}
{% set title="测试" %}

{% block additional_header %}
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='llsong.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='lldata.js') }}"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
{% endblock %}

{% block script %}
   <script>
   var testSet = [];
   var currentTestId = -1;
   function addTestItem(item) {
      testSet.push(item);

      var resultElement = LLUnit.createElement('td', {'innerHTML': 'Not started'});
      var performanceElement = LLUnit.createElement('td');
      var defer = $.Deferred();
      item.defer = defer;

      var setResult = function (result) {
         item.finishTime = window.performance.now();
         if (result == 'Skipped') {
            resultElement.innerHTML = result;
            resultElement.className = 'warning';
            item.skip = 1;
         } else if (result) {
            resultElement.innerHTML = 'Fail: ' + result;
            resultElement.className = 'danger';
            item.fail = 1;
         } else {
            resultElement.innerHTML = 'Success';
            resultElement.className = 'success';
            item.success = 1;
         }
         performanceElement.innerHTML = (item.finishTime - item.startTime).toFixed(3);
      };

      item.start = function () {
         resultElement.innerHTML = 'Pending';
         resultElement.className = 'info';
         var resultClass = '';
         var resultText = '';
         var afters = [];
         if (item.after) {
            if (item.after.length) {
               for (var i = 0; i < item.after.length; i++) {
                  var after = item.after[i];
                  if (after.defer) afters.push(after.defer);
                  else afters.push(after);
               }
            } else if (item.after.defer) {
               afters.push(item.after.defer);
            } else {
               afters.push(item.after);
            }
         }
         $.when.apply($, afters).then(function () {
            try {
               resultElement.innerHTML = 'Running';
               item.startTime = window.performance.now();
               var ret = item.run();
               if (ret.then) {
                  ret.then(function (r) {
                     setResult(r);
                     defer.resolve(r);
                  }, function (r) {
                     setResult(r || 'Reject');
                     defer.reject(r);
                  });
               } else {
                  setResult(ret);
                  defer.resolve(ret);
               }
            } catch (e) {
               console.log(e);
               setResult('Exception: ' + e.message);
               defer.resolve(e);
            }
         }, function () {
            setResult('Skipped');
            defer.reject('Skipped');
         });
         return defer;
      };

      var testRow = LLUnit.createElement('tr', undefined, [
         LLUnit.createElement('td', {'innerHTML': testSet.length}),
         LLUnit.createElement('td', {'innerHTML': item.name}),
         resultElement,
         performanceElement
      ]);
      document.getElementById('test-list').appendChild(testRow);
      return item;
   }

   function loadCardsById(cardIds) {
      var requests = [];
      for (var i = 0; i < cardIds.length; i++) {
         requests.push(LLCardData.getDetailedData(cardIds[i]));
      }
      return LoadingUtil.start(requests, LoadingUtil.cardDetailMerger);
   }

   function loadCardsByConfig(cardConfigs) {
      var requests = [];
      for (var i = 0; i < cardConfigs.length; i++) {
         requests.push(LLCardData.getDetailedData(cardConfigs[i][0]));
      }
      return LoadingUtil.start(requests, LoadingUtil.cardDetailMerger);
   }

   function buildTeam(cards, cardConfigs, mapdata) {
      var members = [];
      for (var i = 0; i < 9; i++) {
         var id = cardConfigs[i][0];
         var mezame = cardConfigs[i][1];
         var skillLevel = cardConfigs[i][2];
         var maxcost = cardConfigs[i][3];
         var gems = cardConfigs[i][4];
         var member = {
            'cardid': id,
            'smile': (mezame ? cards[id].smile2 : cards[id].smile),
            'pure': (mezame ? cards[id].pure2 : cards[id].pure),
            'cool': (mezame ? cards[id].cool2 : cards[id].cool),
            'skilllevel': skillLevel,
            'maxcost': maxcost,
            'gems': [],
            'card': cards[id]
         };
         member[cards[id].attribute] += kizuna[cards[id].rarity][mezame];
         for (var j in gems) {
            member.gems.push(new LLSisGem(gems[j], {'color': mapdata.attribute}));
         }
         members.push(new LLMember(member));
      }
      var llteam = new LLTeam(members);
      return llteam;
   }

   function buildSubMembers(cards, cardConfigs) {
      var members = [];
      for (var i = 9; i < cardConfigs.length; i++) {
         var id = cardConfigs[i][0];
         var mezame = cardConfigs[i][1];
         var skillLevel = cardConfigs[i][2];
         var maxcost = cardConfigs[i][3];
         var member = {
            'cardid': id,
            'smile': (mezame ? cards[id].smile2 : cards[id].smile),
            'pure': (mezame ? cards[id].pure2 : cards[id].pure),
            'cool': (mezame ? cards[id].cool2 : cards[id].cool),
            'skilllevel': skillLevel,
            'maxcost': maxcost,
            'gems': [],
            'card': cards[id]
         };
         member[cards[id].attribute] += kizuna[cards[id].rarity][mezame];
         members.push(new LLMember(member));
      }
      return members;
   }

   function getSmileTeam() {
      // id, mezame, skilllevel, maxcost, gems
      return [
         [1115, 1, 2, 6, [LLSisGem.SMUL_16, LLSisGem.AMUL_18]],
         [782, 0, 1, 4, [LLSisGem.AMUL_24]],
         [937, 1, 2, 6, [LLSisGem.SMUL_16, LLSisGem.AMUL_18]],
         [843, 1, 1, 5, [LLSisGem.SMUL_10, LLSisGem.AMUL_18]],
         [980, 1, 5, 4, [LLSisGem.SCORE_250]],
         [476, 1, 1, 5, [LLSisGem.SMUL_10, LLSisGem.SMUL_16]],
         [315, 1, 3, 5, [LLSisGem.SCORE_250, LLSisGem.SADD_200]],
         [107, 1, 2, 4, [LLSisGem.SCORE_250]],
         [955, 1, 4, 4, [LLSisGem.SCORE_250]]
      ];
   }

   function getPureTeam() {
      return [
         [636, 1, 1, 3, [LLSisGem.AMUL_18]],
         [939, 1, 1, 4, [LLSisGem.AMUL_24]],
         [369, 1, 2, 3, [LLSisGem.AMUL_18]],
         [127, 0, 1, 4, [LLSisGem.AMUL_18]],
         [1002, 1, 1, 5, [LLSisGem.SMUL_10, LLSisGem.SMUL_16]],
         [648, 1, 1, 3, [LLSisGem.AMUL_18]],
         [317, 1, 2, 3, [LLSisGem.AMUL_18]],
         [378, 0, 1, 4, [LLSisGem.AMUL_24]],
         [957, 1, 1, 5, [LLSisGem.SMUL_10, LLSisGem.SMUL_16]]
      ];
   }

   function getSmileSong(name) {
      if (name == 'oyasuminasann') {
         return {'song': {'aqours': 1, "attribute": "smile", "expert": {"combo": 427, "positionweight": ["39.75", "48.0", "65", "52.5", "29", "55.75", "58.75", "47.25", "41.75"], "star": 0, "time": "110"}, "muse": 0},
         'diff': 'expert'};
      }
   }

   function getPureSong(name) {
      if (name == 'kiminokokorohakagayaiterukai') {
         return {'song': {'aqours': 1, "attribute": "pure", "expert": {"combo": 497, "positionweight": ["41.25", "68.5", "82.5", "59.25", "16.5", "56.25", "82.5", "67.5", "40.25"], "star": 0, "time": "110"}, "muse": 0},
         'diff': 'expert'};
      }
   }

   function getFriendCSkill_muse_9_3(attribute) {
      return {
         'attribute': attribute,
         'Cskillattribute': attribute,
         'Cskillpercentage': 9,
         'Csecondskilllimit': LLConst.GROUP_MUSE,
         'Csecondskillattribute': 3
      };
   }

   function getFriendCSkill_grade2_9_6(attribute) {
      return {
         'attribute': attribute,
         'Cskillattribute': attribute,
         'Cskillpercentage': 9,
         'Csecondskilllimit': LLConst.GROUP_GRADE2,
         'Csecondskillattribute': 6
      };
   }

   function getGemStock_40AllGem() {
      return {
         'SADD_200': {'ALL': 9},
         'SADD_450': {'ALL': 9},
         'SMUL_10': {'ALL': 9},
         'SMUL_16': {'ALL': 9},
         'AMUL_18': {'ALL': 9},
         'AMUL_24': {'ALL': 9},
         'SCORE_250': {'ALL': 9},
         'HEAL_480': {'ALL': 9},
         'EMUL_33': {'ALL': 9},
         'SADD_1400': {'ALL': 0},
         'SMUL_28': {'ALL': 0},
         'AMUL_40': {'ALL': 0},
         'MEMBER_29': {'ALL': 0},
         'NONET_42': {'ALL': 0}
      };
   }

   function getGemStock_60AllGem() {
      var names = [
         "高坂穂乃果", "絢瀬絵里", "南ことり", "園田海未", "星空凛", "西木野真姫", "東條希", "小泉花陽", "矢澤にこ",
         "高海千歌", "桜内梨子", "松浦果南", "黒澤ダイヤ", "渡辺曜", "津島善子", "国木田花丸", "小原鞠莉", "黒澤ルビィ"
      ];
      var member_29 = {};
      for (var i = 0; i < names.length; i++) {
         var per_color = {'smile': 0, 'pure': 0, 'cool': 0}
         per_color[LLConst.getMemberColor(names[i])] = 9;
         member_29[names[i]] = per_color;
      }
      var ms = {'smile': 9, 'pure': 0, 'cool': 0};
      var mp
      return {
         'SADD_200': {'ALL': 9},
         'SADD_450': {'ALL': 9},
         'SMUL_10': {'ALL': 9},
         'SMUL_16': {'ALL': 9},
         'AMUL_18': {'ALL': 9},
         'AMUL_24': {'ALL': 9},
         'SCORE_250': {'ALL': 9},
         'HEAL_480': {'ALL': 9},
         'EMUL_33': {'ALL': 9},
         'SADD_1400': {'ALL': 9},
         'SMUL_28': {'ALL': 9},
         'AMUL_40': {'ALL': 9},
         'MEMBER_29': member_29,
         'NONET_42': {'ALL': 9}
      };
   }

   function getGemStock_65AllGem() {
      return {'ALL': 9};
   }

   function assertEqual(a, b) {
      if (a == b) return;
      throw 'assertEqual fail: ' + a + ' == ' + b;
   }

   function assertAttributeP(a, smilep, purep, coolp) {
      if (a.smile == smilep && a.pure == purep && a.cool == coolp) return;
      throw 'assertAttributeP fail: {' + a.smile + ', ' + a.pure + ', ' + a.cool + '} == {' + smilep + ', ' + purep + ', ' + coolp + '}';
   }

   var defer_onload = $.Deferred();
   var defer_test_load = $.Deferred();
   var defer_test_load_card_detail = $.Deferred();
   var cardDetails = 0;

   function handleFailedLoading(e) {
      defer_test_load.reject(e);
      document.getElementById('loadingbox').style.display = 'none';
   }

   LLCardData.setVersion('cn');
   $.when(LLCardData.getAllBriefData(), defer_onload).then(function (cardData) {
      defer_test_load.resolve();
      // done
      document.getElementById('loadingbox').style.display = 'none';

      // init tests
      var test1 = addTestItem({'name': 'Load card detail', 'run': function () {
         var ids = [378, 346, 330, 296, 408, 358, 367, 1172, 397, 1165, 1373, 1417, 68, 88, 155, 315, 476, 565, 634, 726,
            1115, 782, 937, 843, 980, 107, 955, 459, 127, 1002, 648, 317, 957
         ];
         return loadCardsById(ids).then(function (cards) {
            cardDetails = cards;
            defer_test_load_card_detail.resolve();
            return 0;
         });
      }});
      addTestItem({'name': 'Basic calculate', 'after': test1, 'run': function () {
         var cardConfigs = [
            [955, 1, 4, 4, [LLSisGem.SCORE_250]],
            [980, 1, 4, 4, [LLSisGem.SCORE_250]],
            [459, 1, 1, 1, [LLSisGem.SADD_200]],
            [127, 0, 1, 4, [LLSisGem.AMUL_24]],
            [1002, 1, 1, 5, [LLSisGem.SMUL_10, LLSisGem.SMUL_16]],
            [648, 1, 1, 3, [LLSisGem.AMUL_18]],
            [317, 1, 2, 3, [LLSisGem.AMUL_18]],
            [378, 0, 1, 4, [LLSisGem.AMUL_24]],
            [957, 1, 1, 5, [LLSisGem.SMUL_10, LLSisGem.SMUL_16]]
         ];
         var mapdata = new LLMap({
            'song': {'aqours': 0, "attribute": "pure", "expert": {"combo": 359, "positionweight": ["15.5", "26.0", "51.5", "55.0", "52.25", "58.25", "58.5", "26.75", "21.5"], "star": "62", "time": "117"}, "muse": 1},
            'diff': 'expert'
         });
         return loadCardsByConfig(cardConfigs).then(function (cards) {
            var llteam = buildTeam(cards, cardConfigs, mapdata);
            llteam.calculateAttributeStrength(mapdata);
            llteam.calculateSkillStrength(mapdata);
            console.log(llteam);
            assertAttributeP(llteam.finalAttr, 37910, 59698, 32990);
            assertAttributeP(llteam.bonusAttr, 0, 7337, 0);
            assertEqual(llteam.totalStrength, 67734);
            assertEqual(llteam.totalAttrStrength, 57788);
            assertEqual(llteam.totalSkillStrength, 9946);
            return 0;
         });
      }});

      addTestItem({'name': 'Smile team with smile song with friend', 'after': test1, 'run': function () {
         var cardConfigs = getSmileTeam();
         var song = getSmileSong('oyasuminasann');
         song['friendCSkill'] = getFriendCSkill_muse_9_3('smile');
         var mapdata = new LLMap(song);
         return loadCardsByConfig(cardConfigs).then(function (cards) {
            var llteam = buildTeam(cards, cardConfigs, mapdata);
            llteam.calculateAttributeStrength(mapdata);
            llteam.calculateSkillStrength(mapdata);
            console.log(llteam);
            assertAttributeP(llteam.finalAttr, 78546, 37230, 36880);
            assertAttributeP(llteam.bonusAttr, 16200, 0, 0);
            assertEqual(llteam.totalStrength, 89738);
            assertEqual(llteam.totalAttrStrength, 72088);
            assertEqual(llteam.totalSkillStrength, 17650);
            return 0;
         });
      }});
      addTestItem({'name': 'Smile team with smile song with friend - autoarm 6.0 gem', 'after': test1, 'run': function () {
         var cardConfigs = getSmileTeam();
         var song = getSmileSong('oyasuminasann');
         song['friendCSkill'] = getFriendCSkill_muse_9_3('smile');
         var mapdata = new LLMap(song);
         return loadCardsByConfig(cardConfigs).then(function (cards) {
            var llteam = buildTeam(cards, cardConfigs, mapdata);
            llteam.autoArmGem(mapdata, getGemStock_60AllGem());
            llteam.calculateAttributeStrength(mapdata);
            llteam.calculateSkillStrength(mapdata);
            console.log(llteam);
            assertAttributeP(llteam.finalAttr, 81501, 37230, 36880);
            assertAttributeP(llteam.bonusAttr, 16778, 0, 0);
            assertEqual(llteam.totalStrength, 90936);
            assertEqual(llteam.totalAttrStrength, 74798);
            assertEqual(llteam.totalSkillStrength, 16138);
            return 0;
         });
      }});
      addTestItem({'name': 'Smile team with smile song with friend - autoarm 6.5 gem', 'after': test1, 'run': function () {
         var cardConfigs = getSmileTeam();
         var song = getSmileSong('oyasuminasann');
         song['friendCSkill'] = getFriendCSkill_muse_9_3('smile');
         var mapdata = new LLMap(song);
         return loadCardsByConfig(cardConfigs).then(function (cards) {
            var llteam = buildTeam(cards, cardConfigs, mapdata);
            llteam.autoArmGem(mapdata, getGemStock_65AllGem());
            llteam.calculateAttributeStrength(mapdata);
            llteam.calculateSkillStrength(mapdata);
            console.log(llteam);
            assertAttributeP(llteam.finalAttr, 85016, 37230, 36880);
            assertAttributeP(llteam.bonusAttr, 17542, 0, 0);
            assertEqual(llteam.totalStrength, 92305);
            assertEqual(llteam.totalAttrStrength, 78025);
            assertEqual(llteam.totalSkillStrength, 14280);
            return 0;
         });
      }});
      addTestItem({'name': 'Smile team with smile song with friend - autoarm no gem', 'after': test1, 'run': function () {
         var cardConfigs = getSmileTeam();
         var song = getSmileSong('oyasuminasann');
         song['friendCSkill'] = getFriendCSkill_muse_9_3('smile');
         var mapdata = new LLMap(song);
         return loadCardsByConfig(cardConfigs).then(function (cards) {
            var llteam = buildTeam(cards, cardConfigs, mapdata);
            llteam.autoArmGem(mapdata, {'ALL': 0});
            llteam.calculateAttributeStrength(mapdata);
            llteam.calculateSkillStrength(mapdata);
            console.log(llteam);
            assertAttributeP(llteam.finalAttr, 67743, 37230, 36880);
            assertAttributeP(llteam.bonusAttr, 13963, 0, 0);
            assertEqual(llteam.totalStrength, 69914);
            assertEqual(llteam.totalAttrStrength, 62172);
            assertEqual(llteam.totalSkillStrength, 7742);
            return 0;
         });
      }});
      addTestItem({'name': 'Smile team with smile song with friend - autounit 4.0 gem', 'after': test1, 'run': function () {
         var cardConfigs = getSmileTeam();
         cardConfigs.push([1065, 1, 1, 3, []]);
         cardConfigs.push([378, 1, 4, 4, []]);
         var song = getSmileSong('oyasuminasann');
         song['friendCSkill'] = getFriendCSkill_grade2_9_6('smile');
         var mapdata = new LLMap(song);
         return loadCardsByConfig(cardConfigs).then(function (cards) {
            var llteam = buildTeam(cards, cardConfigs, mapdata);
            var submembers = buildSubMembers(cards, cardConfigs);
            llteam.autoUnit(mapdata, getGemStock_40AllGem(), submembers);
            llteam.calculateAttributeStrength(mapdata);
            llteam.calculateSkillStrength(mapdata);
            console.log(llteam);
            assertAttributeP(llteam.finalAttr, 76696, 39960, 36810);
            assertAttributeP(llteam.bonusAttr, 17038, 0, 0);
            assertEqual(llteam.totalStrength, 91930);
            assertEqual(llteam.totalAttrStrength, 70182);
            assertEqual(llteam.totalSkillStrength, 21748);
            return 0;
         });
      }});
      var test8 = addTestItem({'name': 'Pure muse team with pure aqours song - autounit N-SSR 4.0 gem', 'after': test1, 'run': function () {
         var cardConfigs = getPureTeam();
         cardConfigs.push([1720, 0, 1, 3, []]);
         cardConfigs.push([1721, 1, 1, 3, []]);
         cardConfigs.push([1651, 1, 1, 6, []]);
         cardConfigs.push([1640, 1, 8, 6, []]);
         var song = getPureSong('kiminokokorohakagayaiterukai');
         var mapdata = new LLMap(song);
         return loadCardsByConfig(cardConfigs).then(function (cards) {
            var llteam = buildTeam(cards, cardConfigs, mapdata);
            var submembers = buildSubMembers(cards, cardConfigs);
            llteam.autoUnit(mapdata, getGemStock_40AllGem(), submembers);
            llteam.calculateAttributeStrength(mapdata);
            llteam.calculateSkillStrength(mapdata);
            console.log(llteam);
            assertAttributeP(llteam.finalAttr, 34090, 70181, 35790);
            assertAttributeP(llteam.bonusAttr, 0, 8514, 0);
            assertEqual(llteam.totalStrength, 66155);
            assertEqual(llteam.totalAttrStrength, 64823);
            assertEqual(llteam.totalSkillStrength, 1332);
            return 0;
         });
      }});
      addTestItem({'name': 'Pure muse team with pure aqours song - autounit N-SSR 6.0 gem', 'after': test8, 'run': function () {
         var cardConfigs = getPureTeam();
         cardConfigs.push([1720, 0, 1, 3, []]);
         cardConfigs.push([1721, 1, 1, 3, []]);
         cardConfigs.push([1651, 1, 1, 6, []]);
         cardConfigs.push([1640, 1, 8, 6, []]);
         var song = getPureSong('kiminokokorohakagayaiterukai');
         var mapdata = new LLMap(song);
         return loadCardsByConfig(cardConfigs).then(function (cards) {
            var llteam = buildTeam(cards, cardConfigs, mapdata);
            var submembers = buildSubMembers(cards, cardConfigs);
            llteam.autoUnit(mapdata, getGemStock_60AllGem(), submembers);
            llteam.calculateAttributeStrength(mapdata);
            llteam.calculateSkillStrength(mapdata);
            console.log(llteam);
            assertAttributeP(llteam.finalAttr, 33010, 72833, 35830);
            assertAttributeP(llteam.bonusAttr, 0, 8923, 0);
            assertEqual(llteam.totalStrength, 68605);
            assertEqual(llteam.totalAttrStrength, 67273);
            assertEqual(llteam.totalSkillStrength, 1332);
            return 0;
         });
      }});
      // run tests
      var defers = [];
      for (var i = 1; i < testSet.length; i++) {
         defers.push(testSet[i].start());
      }
      LoadingUtil.startImpl(defers, 'test-running-box', 'test-running-box-progress').then(function () {
         var nSuccess = 0;
         var nFail = 0;
         var nNotStart = 0;
         for (var i = 0; i < testSet.length; i++) {
            if (testSet[i].success) nSuccess++;
            else if (testSet[i].fail) nFail++;
            else nNotStart++;
         }
         document.getElementById('test-result').innerHTML = '测试结果: 成功: ' + nSuccess + ', 失败: ' + nFail + ', 未启动: ' + nNotStart;
      });
   }, handleFailedLoading);

   </script>
{% endblock %}

{% block body_onload %}
   <body onload="defer_onload.resolve()" lang="zh-Hans">
{% endblock %}

{% block main %}
<table class='table table-hover'>
   <thead>
      <tr>
         <th>#</th>
         <th>测试名称</th>
         <th>结果</th>
         <th>耗时(ms)</th>
      </tr>
   </thead>
   <tbody id='test-list'>
   </tbody>
</table>
<h3 id='test-running-box' style='display:none'>
测试中... <span id='test-running-box-progress'></span>
</h3>
<h3 id='test-result'>
</h3>

{% include 'components/loadingbox.html' %}
{% endblock %}

{% block back_script %}
<script>
   addTestItem({'name': '载入页面', 'run': function () { return defer_test_load; }}).start();
</script>
{% endblock %}
