筛选：<select id="rarity" name="rarity">
    <option value="">稀有度</option>
    <option value="N">N</option>
    <option value="R">R</option>
    <option value="SR">SR</option>
    <option value="SSR">SSR</option>
    <option value="UR">UR</option>
</select>
<select id="chr" name="chr">
    <option value="">角色</option>
    <option value="高坂穂乃果">高坂穗乃果</option>
    <option value="絢瀬絵里">绚濑绘里</option>
    <option value="南ことり">南小鸟</option>
    <option value="園田海未">园田海未</option>
    <option value="星空凛">星空凛</option>
    <option value="西木野真姫">西木野真姬</option>
    <option value="東條希">东条希</option>
    <option value="小泉花陽">小泉花阳</option>
    <option value="矢澤にこ">矢泽妮可</option>
    <option value="高海千歌">高海千歌</option>
    <option value="桜内梨子">樱内梨子</option>
    <option value="松浦果南">松浦果南</option>
    <option value="黒澤ダイヤ">黑泽黛雅</option>
    <option value="渡辺曜">渡边曜</option>
    <option value="津島善子">津岛善子</option>
    <option value="国木田花丸">国木田花丸</option>
    <option value="小原鞠莉">小原鞠莉</option>
    <option value="黒澤ルビィ">黑泽露比</option>  
</select>
<select id="unitgrade" name="unitgrade">
    <option value="">年级小队</option>
    <option value="4">μ's</option>
    <option value="5">Aqours</option>
    <option value="1">一年级</option>
    <option value="2">二年级</option>
    <option value="3">三年级</option>
    <option value="6">Printemps</option>
    <option value="7">lilywhite</option>
    <option value="8">BiBi</option>
    <option value="9">CYaRon!</option>
    <option value="10">AZALEA</option>
    <option value="11">Guilty Kiss</option>
</select>
<select id="att" name="att">
    <option value="">属性</option>
    <option value="smile" style="color:red">smile</option>
    <option value="pure" style="color:green">pure</option>
    <option value="cool" style="color:blue">cool</option>
</select>
<select id="triggertype" name="triggertype">
    <option value="">触发类型</option>
    <option value="1">时间</option>
    <option value="3">图标</option>
    <option value="4">combo</option>
    <option value="5">分数</option>
    <option value="6">perfect</option>
    <option value="12">星星perfect</option>
    <option value="100">连锁</option>
</select>
<select id="skilltype" name="skilltype">
    <option value="">技能类型</option>
    <option value="4">小判定</option>
    <option value="5">大判定</option>
    <option value="9">回血</option>
    <option value="11">加分</option>
    <option value="2000">提升技能发动率</option>
    <option value="2100">repeat</option>
    <option value="2201">perfect分数提升</option>
    <option value="2300">combo fever</option>
    <option value="2400">属性同步</option>
    <option value="2500">技能等级提升</option>
    <option value="2600">属性提升</option>
</select>
<select id="cardtype" name="cardtype">
    <option value="">卡片类型</option>
    <option value="活动卡">活动卡</option>
    <option value="登录奖励">登录奖励</option>
</select>
<select id="special" name="special">
    <option value="">是否特典卡</option>
    <option value=0>不是特典</option>
    <option value=1>是特典</option>
</select>
<select id="setname" name="setname">
    <option value="">套卡名</option>
    <option value="初期">初期</option>
    <option value="職業編">职业篇</option>
    <option value="動物編">动物篇</option>
    <option value="8月編">8月篇</option>
    <option value="9月編">9月篇</option>
    <option value="10月編">10月篇</option>
    <option value="11月編">11月篇</option>
    <option value="12月編">12月篇</option>
    <option value="1月編">1月篇</option>
    <option value="2月編">2月篇</option>
    <option value="3月編">3月篇</option>
    <option value="4月編">4月篇</option>
    <option value="5月編">5月篇</option>
    <option value="6月編">6月篇</option>
    <option value="7月編">7月篇</option>
    <option value="チャイナドレス編">旗袍篇</option>
    <option value="カフェメイド編">女仆篇</option>
    <option value="ハロウィン編">万圣篇</option>
    <option value="星座編">星座篇</option>
    <option value="雪山編">雪山篇</option>
    <option value="七福神編">七福神篇</option>
    <option value="バレンタイン編">情人节篇</option>
    <option value="ホワイトデー編">白色情人节篇</option>
    <option value="職業編(Part2">职业篇2</option>
    <option value="サイバー編">电玩篇</option>
    <option value="手品師編">魔术师篇</option>
    <option value="マリン編">海兵篇</option>
    <option value="プール編">泳池篇</option>
    <option value="くのいち編">忍者篇</option>
    <option value="動物編(Part2)">动物篇2</option>
    <option value="舞踏会編">舞踏会篇</option>
    <option value="クリスマス編">圣诞篇</option>
    <option value="サーカス編">马戏团篇</option>
    <option value="妖精の国編">妖精之国篇</option>
    <option value="ベースボール編">棒球篇</option>
    <option value="大正ロマン編">大正篇</option>
    <option value="踊り子編">舞娘篇</option>
    <option value="アイドル衣装編">偶像篇</option>
    <option value="小悪魔編">小恶魔篇</option>
</select>

