{% include 'components/card-filter.html' %}
   <input type="checkbox" id="showncard" name="showncard">显示N卡</input>
   <br>
卡片：<select id="cardchoice" name="cardchoice">
		<option value="">载入中...</option>
	</select>
	<input type="checkbox" id="mezame" name="mezame" onclick="toMezame()">觉醒</input><input type="button" id="language" name="language" onclick="changeLanguage()" value="切换语言"></input>
	（特典卡需选择觉醒）<br>
<div style="float:left">
	裸smile :<input type="number" id="smile" name="smile" value="0" autocomplete="off" style="color:red"></input><br>
	裸pure :<input type="number" id="pure" name="pure" value="0" autocomplete="off" style="color:green"><br>
	裸cool :<input type="number" id="cool" name="cool" value="0" autocomplete="off" style="color:blue"><br>
	主属性 :<select id="main" name="main">
		<option value="smile" style="color:red">smile</option>
		<option value="pure" style="color:green">pure</option>
		<option value="cool" style="color:blue">cool</option>
	</select><br>
	绊:<input type="number" id="kizuna" name="kizuna" value="0" autocomplete="off" ><br>
<div style="overflow:visible;width:200px">
<p id="skillcontainer" style="display:none;width:max-content">
   技能等级 : <input type="button" id="skilllvup" style="height:20px;width:20px;padding:0" value="▲" /> Lv<nospan id="skilllevel">1</nospan> <input type="button" id="skilllvdown" style="height:20px;width:20px;padding:0" value="▼" />
   <br>
   技能效果 : <span id="skilltext"></span><br/>
   <br/>
</p>
</div>
</div>
<div style="float:left">
<img id="imageselect">
</div>

